﻿@model Domain.UserRole
@{
    ViewBag.Title = "AddUserRole";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

    <div class="row">

        <div class="col-lg-12">
            <h2 class="content-title  pull-left">Add User Role</h2>
            <nav class="pull-right " aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Dashboard/Index">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="Index">UserRole</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add User Role</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-12">
            <div class="card shadow  bg-white rounded">
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                    <div class="form-row mt-3">
                        <div class="form-group col-md-6">

                            @Html.LabelFor(model => model.UserId, new { @class = "field-label" })
                            @Html.DropDownListFor(model => model.UserId, (SelectList)ViewBag.User, "Select User", new { @class = "custom-select form-control", @id = "UserId" })
                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.RoleId, new { @class = "field-label" })
                            @Html.DropDownListFor(model => model.RoleId, (SelectList)ViewBag.Role, "Select Role", new { @class = "custom-select form-control", @id = "RoleId", })
                            @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                        </div>
                        </div>

                        <button type="button" class="btn btn-inner-prim w-btn pull-right" onclick="window.location.href='/UserRole/Index'"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                        <button type="submit" class="btn btn-inner-sec w-btn pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                        }
                    </div>
            </div>
        </div>
    </div>