﻿@model Domain.UserRole
@{
    ViewBag.Title = "AddUserRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="main-title mt-4">Add User Role</h2>
<nav class="breadcrumb-nav" aria-label="breadcrumb">
    <ol class="breadcrumb pl-4 pr-4">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
        <li class="breadcrumb-item"><a href=" @Url.Action("Index", "UserRole")">UserRole</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add User Role</li>
    </ol>
</nav>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6 position-relative select">
            @Html.LabelFor(model => model.UserId, new { @class = "field-label" })
            @Html.DropDownListFor(model => model.UserId, (SelectList)ViewBag.User, "Select User", new { @class = "common-input width-100 select-element default", @id = "UserId" })
            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6 position-relative select">
            @Html.LabelFor(model => model.RoleId, new { @class = "field-label" })
            @Html.DropDownListFor(model => model.RoleId, (SelectList)ViewBag.Role, "Select Role", new { @class = "common-input width-100 select-element default", @id = "RoleId", })
            @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-6 d-flex justify-content">
            <a class="btn green-gradient input-back-add-btn" href="@Url.Action("index", "UserRole")">
                <img src="~/dist/img/left.svg" class="back-img" /> Back
            </a>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
            <button type="submit" class="btn green-gradient save-btn">
                <img src="~/dist/img/save.svg" class="save-img" /> Save
            </button>
        </div>
    </div>
}
