﻿@model IEnumerable<Domain.UserRole>
@{
    ViewBag.Title = "User Role Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex heading-row">
    <h2 class="activity-span">User Role Mapping</h2>
    <a class="green-gradient add-btn" href="@Url.Action("AddUserRole", "UserRole")">
        <img src="~/dist/img/add.svg" class="add-img" /> Add
    </a>
</div>

<div style="width:100%; margin:0 auto;">
    <table id="myTable" class="customList tableScroll">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>EmailID</th>
                <th>Role Name</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/dist/js/dataTables.fixedHeader.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                //  "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                language: { search: '', searchPlaceholder: "Search" },
                "ajax": {
                    "url": "/UserRole/GetUserRolesListServerSide",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns" : [
                    { "data": "FirstName","name": "FirstName", "autoWidth": true },
                     { "data": "LastName","name": "LastName", "autoWidth": true },
                      { "data": "EmailId","name": "EmailId", "autoWidth": true },
                    { "data": "RoleName", "name": "RoleName","autoWidth": true },
                    {
                        "data": "UserId", "width": "50px", "render": function (data, type, row, meta) {
                            var actionControls = '<a href="/UserRole/DeleteUserRole?userid=' + row["UserId"] + '&roleid=' + row["RoleId"] + '"  class="scale-trans" onclick="return ConfirmDeactivation();"> <img src="@Url.Content("~/dist/img/delete.svg")"></a>';

                            return actionControls;
                        }
                    }
                ],
                'columnDefs': [{
                    'targets': [4],
                    'orderable': false,
                }]
            });
            $('.tableScroll').parent('div').parent('div').addClass("customList_wrapper");
            $('#myTable thead tr').clone(true).appendTo('#myTable thead');
            $('#myTable thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).removeClass();
                if (title != "Action") {
                    $(this).html('<input class="th-search-input" type="text" placeholder="Search ' + title + '" />');
                }
                else {
                    $(this).text("Operation");
                    $(this).addClass("ghostPlaceHolder");
                }
                $(this).addClass("th-search")
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#myTable').DataTable({
                retrieve: true,
                orderCellsTop: true,
                fixedHeader: true
            })
            $(".th-search-input").click(function (e) {
                e.stopPropagation();
            });
        });
        function ConfirmDeactivation() {
            return confirm("Are you sure you want to delete this UserRole?");
        }
    </script>
}

@*@{
        WebGrid grid = new WebGrid(null, defaultSort: "UserName", rowsPerPage: ViewBag.PageSize);
        grid.Bind(Model, autoSortAndPage: true, rowCount: ViewBag.PageSize);
    }
    @grid.GetHtml(tableStyle: "table table-bordered",
                 mode: WebGridPagerModes.All,
                 firstText: "",
                 previousText: "",
                 nextText: "",
                 lastText: "",
                    columns: grid.Columns(
                    grid.Column("UserName", "User Name"),
                    grid.Column("RoleName", "Role Name"),
                    grid.Column(header: "Action",
                                format: @<div>
                                    <a href="@Url.Action("DeleteUserRole", "UserRole", new { userid = item.UserId, roleid = item.RoleId })" class="scale-trans" onclick="return confirm('Are you sure you want to delete this UserRole?');">
                                        <img src="@Url.Content("~/dist/img/delete.svg")">
                                    </a>
                                </div>)
                            ))*@
