﻿@model PortKart_WEB.Models.UserModel
@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    .iti {
        width: 100%;
    }

    .iti__selected-flag {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .popover {
        opacity: 1 !important;
    }

    .popover-header {
        display: none;
    }

    .popover-body {
        padding: 10px
    }

    #passinvalid {
        background: url(../../dist/img/closered.svg) no-repeat 50%;
    }

    #passvalid {
        background: url(../../dist/img/tickgreen.svg) no-repeat 50%;
    }

    .passconf {
        position: absolute;
        right: 25px;
        width: 25px;
        height: 25px;
        border: 0;
        top: 34px;
        background: none;
        z-index: 9
    }

    .text-danger {
        font-size: 12px;
    }
</style>


<div class="row">

    <div class="col-lg-12">
        <h2 class="content-title  pull-left">Edit User</h2>
        <nav class="pull-right " aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Dashboard/Index">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/User/Index">User Management</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit User</li>
            </ol>
        </nav>
    </div>


    <div class="col-md-12">
        <div class="card shadow  bg-white rounded">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.Password)
                    @Html.HiddenFor(model => model.ConfirmPassword)
                    <div class="col-sm-12 col-lg-12 mb-3 p-0 ">
                        <div class="form-check">
                            @Html.RadioButtonFor(model => model.UserGroup, "Owner", new { @checked = true, id = "radio2_Opt1" })
                            <label for="radio2_Opt1" class="field-label">Owner</label>
                        </div>
                        <div class="form-check">
                            @Html.RadioButtonFor(model => model.UserGroup, "Agency", new { id = "radio2_Opt2" })
                            <label for="radio2_Opt2" class="field-label">Agency</label>
                        </div>
                    </div>
                    <hr></hr>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.FirstName, new { @class = "inputfirstname" })
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.LastName, new { @class = "inputname" })
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.CompanyName, new { @class = "inputEmail4" })
                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", placeholder = "Company Name" } })
                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.CompanyRegNo, new { @class = "inputregno" })
                            @Html.EditorFor(model => model.CompanyRegNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Company RegNo" } })
                            @Html.ValidationMessageFor(model => model.CompanyRegNo, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.EmailId, new { @class = "inputEmail4" })
                            @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", placeholder = "Email Id" } })
                            @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.DateOfBirth, new { @class = "inputdob" })
                            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", @readonly = true, @id = "DateOfBirth" } })
                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row mt-3">

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.MobileNumber, new { @class = "inputmobile" })
                            @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Mobile Number" } })
                            @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">

                            @Html.LabelFor(model => model.UserStatusId, new { @class = "field-label" })
                            @Html.DropDownListFor(model => model.UserStatusId, (SelectList)@ViewBag.UserStatus, new { @class = "custom-select form-control", @id = "UserStatusID" })
                            @Html.ValidationMessageFor(model => model.UserStatusId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                  
                  

            

                    <button type="button" class="btn btn-inner-prim w-btn pull-right" onclick="window.location.href='/User/Index'"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                    <button type="submit" class="btn btn-inner-sec w-btn pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Update</button>

                }
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script src="~/dist/theme/js/jquery-ui-wotp.min.js"></script>
    <link href="~/dist/IntlInput/css/intlTelInput.css" rel="stylesheet" />
    <script src="~/dist/IntlInput/js/intlTelInput.js"></script>
    <script src="~/dist/IntlInput/js/intlTelInput-jquery.js"></script>
    <script src="~/dist/IntlInput/js/utils.js"></script>
    <script>
        var int_tel_Phone = undefined;
        var iti_Phone = undefined;
    function passwordvalidation(el) {
        if (el.value == undefined) {
            $('#passvalid').hide();
            $('#passinvalid').show();
            $('#passhint').show();
            return;
         }
        if (el.value.match(/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?!.* )(?=.*?[#?!@('@')$%^&*-]).{8,}$/)) {
                $('#passinvalid').hide();
                $('#passhint').hide();
                $('#passvalid').show();
         }
         else {
                $('#passvalid').hide();
                $('#passinvalid').show();
                $('#passhint').show();
         }
     }

    $(document).ready(function () {
        //  var $j = jQuery.noConflict();
        int_tel_Phone = document.querySelector("#MobileNumber");
        iti_Phone = window.intlTelInput(int_tel_Phone, {
            nationalMode: true,
            formatOnDisplay: false,
            initialCountry: "in",
            separateDialCode: true,
            utilsScript: "/dist/IntlInput/js/utils.js"
        });
        $("#DateOfBirth").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-M-yy",
            yearRange: "-100:+0",
            maxDate: new Date()
        });
        passwordvalidation($('#password'));
        $('#password').keyup(function () {
           passwordvalidation(this);
         })
        $('form').submit(function () {
            var Phone = iti_Phone.getSelectedCountryData();

            //var checkbox = $('#checkterms');
            //if (checkbox.is(":checked")) {

            //    return true;
            //}
            //else {
            //    alert('Please accept the terms to continue');
            //    return false;
            //}

         });
        $("#password").popover({
            trigger: 'hover',
            title: '',
            content:'Password must be at least 8 characters and it must contain at least  one digit, one lowercase letter, one uppercase letter and one symbol(#?!@('@')$%^&*-)'
        });


    });


    </script>
}




