﻿@model PortKart_WEB.Models.UserModel
@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>



    .popover {
        opacity: 1 !important;
    }

    .popover-header {
        display: none;
    }

    .popover-body {
        padding: 10px
    }

    #passinvalid {
        background: url(../../dist/img/closered.svg) no-repeat 50%;
    }

    #passvalid {
        background: url(../../dist/img/tickgreen.svg) no-repeat 50%;
    }

    .passconf {
        position: absolute;
        right: 19px;
        width: 25px;
        height: 25px;
        border: 0;
        top: 38px;
        background: none;
        z-index: 9
    }

    .text-danger {
        font-size: 12px;
    }

    .input-reg-misc-btn {
        max-width: 116px !important;
        font-weight: 500;
        font-size: 14px;
        padding: 5px 20px;
        height: 34px;
    }
</style>
<h2 class="main-title mt-4">Edit User</h2>
    <nav class="breadcrumb-nav" aria-label="breadcrumb">
        <ol class="breadcrumb pl-4 pr-4">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
            <li class="breadcrumb-item"><a href=" @Url.Action("Index", "User")">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit User</li>

        </ol>

    </nav>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserId)
    <div class="row">
        <div class="col-md-6" style="margin-bottom:25px">
            <label for="radio2_Opt1" class="field-label">Owner</label>
            @Html.RadioButtonFor(model => model.UserGroup, "Owner", new { @checked = true, id = "radio2_Opt1" })
        </div>
        <div class="col-md-6" style="margin-bottom:25px">
            <label for="radio2_Opt2" class="field-label">Agency</label>
            @Html.RadioButtonFor(model => model.UserGroup, "Agency", new { id = "radio2_Opt2" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.FirstName, new { @class = "field-label" })
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "First Name" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.LastName, new { @class = "field-label" })
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Last Name" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.CompanyName, new { @class = "field-label" })
            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Company Name" } })
            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.CompanyRegNo, new { @class = "field-label" })
            @Html.EditorFor(model => model.CompanyRegNo, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Company RegNo" } })
            @Html.ValidationMessageFor(model => model.CompanyRegNo, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.EmailId, new { @class = "field-label" })
            @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Email Id" } })
            @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.DateOfBirth, new { @class = "field-label" })
            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "common-input width-100", autocomplete = "off", @readonly = true, @id = "DateOfBirth" } })
            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.CountryCode, new { @class = "field-label" })
            @Html.EditorFor(model => model.CountryCode, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Country Code" } })
            @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.MobileNumber, new { @class = "field-label" })
            @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Mobile Number" } })
            @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6" hidden>
            @Html.LabelFor(model => model.Password, new { @class = "field-label" })
            <input type="button" class="passconf" id="passvalid" style="display:none" value="" />
            <input type="button" class="passconf" id="passinvalid" style="display:none" value="" />
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "common-input width-100", autocomplete = "new-password", @type = "password", id = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6" hidden>
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "field-label" })
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "common-input width-100", @type = "password", id = "confirmpassword" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6 position-relative select">
            @Html.LabelFor(model => model.UserStatusId, new { @class = "field-label" })
            @Html.DropDownListFor(model => model.UserStatusId, (SelectList)@ViewBag.UserStatus, new { @class = "common-input width-100 select-element default", @id = "UserStatusID" })
            @Html.ValidationMessageFor(model => model.UserStatusId, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">

        </div>
        <div class="col-sm-6 d-flex justify-content">
            <a class="btn green-gradient input-back-add-btn" href="@Url.Action("index", "User")">
                <img src="~/dist/img/left.svg" class="back-img" /> Back
            </a>
            @*<a class="btn green-gradient input-reg-misc-btn" href="@Url.Action("index", "User")">
                    <img src="~/dist/img/detail.svg" class="back-img" /> Subscription
                </a>
                <a class="btn green-gradient input-reg-misc-btn" href="@Url.Action("index", "User")">
                    <img src="~/dist/img/resetpassword.svg" class="back-img" /> Reset Password
                </a>*@
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
            <button type="submit" class="btn green-gradient save-btn">
                <img src="~/dist/img/save.svg" class="save-img" /> Update
            </button>
        </div>
    </div>
}
@section Scripts{
    <script src="~/Scripts/jquery-ui.js"></script>
    <script>
    function passwordvalidation(el) {
        if (el.value == undefined) {
            $('#passvalid').hide();
            $('#passinvalid').show();
            $('#passhint').show();
            return;
         }
        if (el.value.match(/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?!.* )(?=.*?[#?!@('@')$%^&*-]).{8,}$/)) {
                $('#passinvalid').hide();
                $('#passhint').hide();
                $('#passvalid').show();
         }
         else {
                $('#passvalid').hide();
                $('#passinvalid').show();
                $('#passhint').show();
         }
     }

    $(document).ready(function () {
        //  var $j = jQuery.noConflict();
        $("#DateOfBirth").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-M-yy",
            yearRange: "-100:+0"
        });
        passwordvalidation($('#password'));
        $('#password').keyup(function () {
           passwordvalidation(this);
         })
        //$('form').submit(function () {
        //    var checkbox = $('#checkterms');
        //    if (checkbox.is(":checked")) {

        //        return true;
        //    }
        //    else {
        //        alert('Please accept the terms to continue');
        //        return false;
        //    }

        // });
        $("#password").popover({
            trigger: 'hover',
            title: '',
            content:'Password must be at least 8 characters and it must contain at least  one digit, one lowercase letter, one uppercase letter and one symbol(#?!@('@')$%^&*-)'
        });


    });


    </script>
}




