﻿@{
    Layout = "";
}
<!doctype html>
<html lang="en">
<head>
    <title>Portkart-Home-Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/dist/theme/css/font-awesome.css">
    <link rel="stylesheet" href="~/dist/theme/css/font-awesome.min.css">
    <link href="~/dist/theme/css/home.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">


</head>
<body>
    <div class="fixed-top">
        <div id="navbar-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="container">
                    <a class="navbar-brand brand-name" href="#">Portkart</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav menu mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Port <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Agency</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Regulations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About us</a>
                            </li>

                        </ul>
                      
                        <ul class="navbar-nav menu">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sign in
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("Index", "Login")" @*target="_blank"*@><i class="fa fa-user" aria-hidden="true"></i> Owner</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Login")" @*target="_blank"*@><i class="fa fa-life-ring" aria-hidden="true"></i> Agency </a>
                                  
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Register", "Login")">Sign Up</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <section class="masthead search-sec">
        <div class="container search-backpanel">
            <form action="#" method="post" novalidate="novalidate">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row p-3">
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0  ser-area-font">
                                <input type="text" class="form-control search-slt" placeholder="Port Name">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12  p-0ser-area-font">
                                <select class="form-control search-slt" id="exampleFormControlSelect1">
                                    <option>Select Your Service</option>
                                    <option>Service one</option>
                                    <option>Service Two</option>
                                    <option>Service Three</option>

                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0 ser-area-font">
                                <input type="text" class="form-control search-slt" placeholder="Service Provider">
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-12 ">
                                <button type="button" class="btn btn-danger wrn-btn bl-button">Search Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- about us start  -->
    <section class="about-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h4 class="about">About <span>PortKart</span></h4>
                    <p class="about-sub-title">Nullam finibus suscipit risus, id imperdiet</p>
                    <p class="content">
                        Cras id lorem in ante feugiat luctus. Maecenas felis odio, ultrices id facilisis eu, aliquet non eros.
                        Proin id rhoncus eros, et congue magna. Nam ante neque, porta et massa cursus, mollis varius quam. Fusce pellentesque
                        nec fermentum ex blandit sit amet. Suspendisse luctus turpis a imperdiet luctus.
                    </p>

                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="~/dist/theme/img/portmanagment.png" />
                </div>

            </div>
    </section>
    <!-- About us End-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="search-part">
                        <img src="~/dist/theme/img/port.png" />
                        <h5 class="cnt-search-part">Search among the best Port around the world</h5>
                    </div>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-port-tab" data-toggle="tab" href="#nav-port" role="tab" aria-controls="nav-home" aria-selected="true">Top Port</a>
                            <a class="nav-item nav-link" id="nav-search-port-tab" data-toggle="tab" href="#nav-search-port" role="tab" aria-controls="nav-profile" aria-selected="false">Search Port</a>
                        </div>
                    </nav>
                    <div class="tab-content mt-4" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-port" role="tabpanel" aria-labelledby="nav-port-tab">
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputAddress" placeholder="Search">
                            </div>
                            <button type="button" class="btn btn-primary search-btn">Top Port</button>
                        </div>
                        <div class="tab-pane fade" id="nav-search-port" role="tabpanel" aria-labelledby="nav-search-port-tab">
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputAddress" placeholder="Search">
                            </div>
                            <button type="button" class="btn btn-primary search-btn">Search Port</button>

                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="search-part">
                        <img src="~/dist/theme/img/agency.png" />
                        <h5 class="cnt-search-part">Search among the best Agency around the world</h5>
                    </div>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-agency-tab" data-toggle="tab" href="#nav-agency" role="tab" aria-controls="nav-home" aria-selected="true">Top Agency</a>
                            <a class="nav-item nav-link" id="nav-search-agency-tab" data-toggle="tab" href="#nav-search-agency" role="tab" aria-controls="nav-profile" aria-selected="false">Search Agency</a>
                        </div>
                    </nav>
                    <div class="tab-content mt-4" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-agency" role="tabpanel" aria-labelledby="nav-agency-tab">
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputAddress" placeholder="Search">
                            </div>
                            <button type="button" class="btn btn-primary search-btn">Top Agency</button>
                        </div>
                        <div class="tab-pane fade" id="nav-search-agency" role="tabpanel" aria-labelledby="nav-search-agency-tab">
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputAddress" placeholder="Search">
                            </div>
                            <button type="button" class="btn btn-primary search-btn">Search Agency</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="mt-5 testimonial-bg">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"><p class="latest-news">Latest Updates :</p></div>
                    <div class=col-md-9><p class="news-cnt">Aenean quis pellentesque magna, sed laoreet lorem. Fusce metus sapien</p></div>

                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="card">
                            <div class="mx-auto">
                               
                                <img class="master-img" src="~/dist/theme/img/news.png" />
                                <h3 class="master-hed">News</h3>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="mx-auto">
                                
                                <img class="master-img"  src="~/dist/theme/img/events.png" />
                                <h3 class="master-hed">Events</h3>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="mx-auto">
                          
                                <img class="master-img" src="~/dist/theme/img/regulation.png" />
                                <h3 class="master-hed">Regulations</h3>
                            </div>
                        </div>
                    </div>




                </div>
            </div>

        </div>
    </div>



    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="sec-heding">Most Visited Categories</h2>
                    <p class="content text-center">
                        Aenean quis pellentesque magna, sed laoreet lorem. Fusce metus sapien, rhoncus at ullamcorper eget, cursus at magna. Praesent mattis, lacus sed aliquam posuere,
                        mauris elit aliquet metus, ac gravida nunc arcu in sapien. Donec neque magna, eleifend vel pretium ut
                    </p>
                </div>
                <div class="col-lg-3 ">
                    <div class="serviceBox">
                        <div class="service-icon">
                            <i class="fa fa-address-book-o" aria-hidden="true"></i>
                        </div>
                        <h5 class="title">Account & Audit</h5>
                        <p class="description">
                            12,568 Providers
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 ">
                    <div class="serviceBox">
                        <div class="service-icon">
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                        </div>
                        <h5 class="title">Networking</h5>
                        <p class="description">
                            12,568 Providers
                        </p>
                    </div>
                </div>


                <div class="col-lg-3 ">
                    <div class="serviceBox">
                        <div class="service-icon">
                            <i class="fa fa-server" aria-hidden="true"></i>
                        </div>
                        <h5 class="title">IT Services</h5>
                        <p class="description">
                            12,568 Providers
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 ">
                    <div class="serviceBox">
                        <div class="service-icon">
                            <i class="fa fa-gavel" aria-hidden="true"></i>
                        </div>
                        <h5 class="title">Law & Finance </h5>
                        <p class="description">
                            12,568 Providers
                        </p>
                    </div>
                </div>


                <div class="col-lg-3 ">
                    <div class="serviceBox">
                        <div class="service-icon">
                            <i class="fa fa-taxi" aria-hidden="true"></i>
                        </div>
                        <h5 class="title">Learning & Driver</h5>
                        <p class="description">
                            12,568 Providers
                        </p>
                    </div>
                </div>


                <div class="col-lg-3 ">
                    <div class="serviceBox">
                        <div class="service-icon">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                        </div>
                        <h5 class="title">Plumbing</h5>
                        <p class="description">
                            12,568 Providers
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 ">
                    <div class="serviceBox">
                        <div class="service-icon">
                            <i class="fa fa-anchor" aria-hidden="true"></i>
                        </div>
                        <h5 class="title">Handyman  </h5>
                        <p class="description">
                            12,568 Providers
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 ">
                    <div class="serviceBox">
                        <div class="service-icon">
                            <i class="fa fa-print" aria-hidden="true"></i>
                        </div>
                        <h5 class="title">Print & Publishing</h5>
                        <p class="description">
                            12,568 Providers
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s">
        <div class="container">
            <div class="row mt-4 mb-4">

                <div class="col-lg-3 stats">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    <div class="counting" data-count="900000">35,125</div>
                    <h6>Happy Clients</h6>
                </div>

                <div class="col-lg-3 stats">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <div class="counting" data-count="280">35,125</div>
                    <h6>Active Members</h6>
                </div>

                <div class="col-lg-3 stats">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <div class="counting" data-count="75">41,856</div>
                    <h6>Product for Sale</h6>
                </div>

                <div class="col-lg-3 stats">
                    <i class="fa fa-coffee" aria-hidden="true"></i>
                    <div class="counting" data-count="999">14,735</div>
                    <h6>Cups of coffee</h6>
                </div>


            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end cont stats -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="sec-heding">Top Service Provider</h2>
                    <p class="content text-center">
                        Aenean quis pellentesque magna, sed laoreet lorem. Fusce metus sapien, rhoncus at ullamcorper eget, cursus at magna. Praesent mattis, lacus sed aliquam posuere,
                        mauris elit aliquet metus, ac gravida nunc arcu in sapien. Donec neque magna, eleifend vel pretium ut
                    </p>
                </div>



                <div class="col-md-6">
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="d-block w-100" src="~/dist/theme/img/medical.jpg" />
                            </div>
                            <div class="col-sm-6">
                                <div class="card-block">
                                    <!--           <h4 class="card-title">Small card</h4> -->
                                    <p class="category-title">Medical</p>
                                    <p class="category-sub-title">A place wheere we care life</p>
                                    <p class="category-cnt">(1887 Feed Back)</p>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star unchecked"></span>
                                        <span class="fa fa-star unchecked"></span>
                                    </div>
                                    <p class="category-cnt">By: Life care clinic</p>
                                    <hr>
                                    <p class="category-cnt">Leeds UK (Direction)</p>
                                    <a href="#" class="btn btn-primary btn-sm orange">Featured</a>
                                    <a href="#" class="btn btn-primary btn-sm green">Verified</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-6">
                                
                                <img class="d-block w-100" src="~/dist/theme/img/hotel.jpg" />
                            </div>
                            <div class="col-sm-6">
                                <div class="card-block">
                                    <!--           <h4 class="card-title">Small card</h4> -->
                                    <p class="category-title">Medical</p>
                                    <p class="category-sub-title">A place wheere we care life</p>
                                    <p class="category-cnt">(1887 Feed Back)</p>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star unchecked"></span>
                                        <span class="fa fa-star unchecked"></span>
                                    </div>
                                    <p class="category-cnt">By: Life care clinic</p>
                                    <hr>
                                    <p class="category-cnt">Leeds UK (Direction)</p>
                                    <a href="#" class="btn btn-primary btn-sm orange">Featured</a>
                                    <a href="#" class="btn btn-primary btn-sm green">Verified</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="d-block w-100"  src="~/dist/theme/img/van.jpg" alt=""/>
                        
                            </div>
                            <div class="col-sm-6">
                                <div class="card-block">
                                    <!--           <h4 class="card-title">Small card</h4> -->
                                    <p class="category-title">Medical</p>
                                    <p class="category-sub-title">A place wheere we care life</p>
                                    <p class="category-cnt">(1887 Feed Back)</p>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star unchecked"></span>
                                        <span class="fa fa-star unchecked"></span>
                                    </div>
                                    <p class="category-cnt">By: Life care clinic</p>
                                    <hr>
                                    <p class="category-cnt">Leeds UK (Direction)</p>
                                    <a href="#" class="btn btn-primary btn-sm orange">Featured</a>
                                    <a href="#" class="btn btn-primary btn-sm green">Verified</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="d-block w-100" src="https://picsum.photos/150?image=641" alt="">
                            </div>
                            <div class="col-sm-6">
                                <div class="card-block">
                                    <!--           <h4 class="card-title">Small card</h4> -->
                                    <p class="category-title">Medical</p>
                                    <p class="category-sub-title">A place wheere we care life</p>
                                    <p class="category-cnt">(1887 Feed Back)</p>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star unchecked"></span>
                                        <span class="fa fa-star unchecked"></span>
                                    </div>
                                    <p class="category-cnt">By: Life care clinic</p>
                                    <hr>
                                    <p class="category-cnt">Leeds UK (Direction)</p>
                                    <a href="#" class="btn btn-primary btn-sm orange">Featured</a>
                                    <a href="#" class="btn btn-primary btn-sm green">Verified</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="plan-bg">
        <div class="container">
            <div class="col-md-12">
                <h2 class="sec-heding white-hed">Price You can Afford</h2>
            </div>
            <div class="row spacing">
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                Basic plans
                            </span>
                            <p>Start plan for newbie</p>
                        </div>
                        <div class="pricing-plans plan-orange">
                            <span class="price-value"><i class="fa fa-usd"></i><span>10</span></span>
                            <span class="subtitle">Lorem ipsum dolor</span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><i class="fa check fa-check " aria-hidden="true"></i> Disk Space <b>80GB</b> </li>
                                <li><i class="fa check fa-check" aria-hidden="true"></i> Email Accounts <b>80</b></li>
                                <li><i class="fa closing fa-times" aria-hidden="true"></i> Monthly Bandwidth <b>80GB</b> </li>
                                <li><i class="fa check fa-check" aria-hidden="true"></i> subdomains <b>20</b> </li>
                                <li><i class="fa closing fa-times" aria-hidden="true"></i> Domains <b>25</b> </li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up">
                            <!-- BUTTON BOX-->
                            <a href="#" class="btn btn-block btn-default">buy now</a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                Standard Plans
                            </span>
                            <p>Start plan for newbie</p>
                        </div>
                        <div class="pricing-plans plan-green">
                            <span class="price-value"><i class="fa fa-usd"></i><span>20</span></span>
                            <span class="subtitle">Lorem ipsum dolor</span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><i class="fa check fa-check " aria-hidden="true"></i> Disk Space <b>80GB</b> </li>
                                <li><i class="fa check fa-check" aria-hidden="true"></i> Email Accounts <b>80</b></li>
                                <li><i class="fa closing fa-times" aria-hidden="true"></i> Monthly Bandwidth <b>80GB</b> </li>
                                <li><i class="fa check fa-check" aria-hidden="true"></i> subdomains <b>20</b> </li>
                                <li><i class="fa closing fa-times" aria-hidden="true"></i> Domains <b>25</b> </li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up">
                            <!-- BUTTON BOX-->
                            <a href="#" class="btn btn-block btn-default">buy now</a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                Extended Plans
                            </span>
                            <p>Start plan for newbie</p>
                        </div>
                        <div class="pricing-plans plan-violet">
                            <span class="price-value"><i class="fa fa-usd"></i><span>30</span></span>
                            <span class="subtitle">Lorem ipsum dolor</span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><i class="fa check fa-check " aria-hidden="true"></i> Disk Space <b>80GB</b> </li>
                                <li><i class="fa check fa-check" aria-hidden="true"></i> Email Accounts <b>80</b></li>
                                <li><i class="fa closing fa-times" aria-hidden="true"></i> Monthly Bandwidth <b>80GB</b> </li>
                                <li><i class="fa check fa-check" aria-hidden="true"></i> subdomains <b>20</b> </li>
                                <li><i class="fa closing fa-times" aria-hidden="true"></i> Domains <b>25</b> </li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up">
                            <!-- BUTTON BOX-->
                            <a href="#" class="btn btn-block btn-default">buy now</a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="sec-heding">Feedback that matters</h2>
                <p class="content text-center">
                    Aenean quis pellentesque magna, sed laoreet lorem. Fusce metus sapien, rhoncus at ullamcorper eget, cursus at magna. Praesent mattis, lacus sed aliquam posuere,
                    mauris elit aliquet metus, ac gravida nunc arcu in sapien. Donec neque magna, eleifend vel pretium ut
                </p>
            </div>
        </div>
    </div>

    <section class="testimonial-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="media">
                                           
                                            <img src="~/dist/theme/img/profile-1.jpg" class="mr-3" alt=""/>
                                            <div class="media-body">
                                                <div class="testimonial">
                                                    <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
                                                    <p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="media">
                                            
                                            <img src="~/dist/theme/img/profile-2.jpg" class="mr-3" alt=""/>
                                            <div class="media-body">
                                                <div class="testimonial">
                                                    <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                                                    <p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="media">
                                            
                                            <img src="~/dist/theme/img/profile-1.jpg" class="mr-3" alt="" />
                                            <div class="media-body">
                                                <div class="testimonial">
                                                    <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
                                                    <p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="media">
                                         
                                            <img src="~/dist/theme/img/profile-3.jpg" class="mr-3" alt="" />
                                            <div class="media-body">
                                                <div class="testimonial">
                                                    <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                                                    <p class="overview"><b>Mary Saveley</b>, Web Designer</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="media">
                                           
                                            <img src="~/dist/theme/img/profile-2.jpg" class="mr-3" alt="" />
                                            <div class="media-body">
                                                <div class="testimonial">
                                                    <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
                                                    <p class="overview"><b>Martin Sommer</b>, UX Analyst</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="media">
                                           
                                            <img src="~/dist/theme/img/profile-1.jpg" class="mr-3" alt="" />
                                            <div class="media-body">
                                                <div class="testimonial">
                                                    <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                                                    <p class="overview"><b>John Williams</b>, Web Developer</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="sec-heding">Featured Products</h2>
                    <p class="content text-center">
                        Aenean quis pellentesque magna, sed laoreet lorem. Fusce metus sapien, rhoncus at ullamcorper eget, cursus at magna. Praesent mattis, lacus sed aliquam posuere,
                        mauris elit aliquet metus, ac gravida nunc arcu in sapien. Donec neque magna, eleifend vel pretium ut
                    </p>
                </div>

                <div class="col-md-3 mt-2">
                    <div class="card btm">
                        <div class="card-body pb-0">
                            <div class="card-img-actions"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="mb-2">
                                <p class="category-title">Laptop Lenovo</p>
                                <p class="category-sub-title">Special Edition</p>
                                <hr>
                                <h3 class="mb-0 price">$250.99  <span>$250.99</span></h3>

                            </div>
                            <div>
                                <i class="fa fa-star checked star"></i>
                                <i class="fa fa-star checked star"></i>
                                <i class="fa fa-star checked star"></i>
                                <i class="fa fa-star unchecked star"></i>
                                <p class="category-cnt">(1887 Feed Back)</p>
                            </div>
                            <div class="text-muted mute-text mb-3">By : Connecto Zolio</div>
                            <button type="button" class="btn bg-cart btn-primary btn-sm orange"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>

                        </div>
                    </div>
                </div>


                <div class="col-md-3 mt-2">
                    <div class="card btm">
                        <div class="card-body pb-0">
                            <div class="card-img-actions"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="mb-2">
                                <p class="category-title">Laptop Lenovo</p>
                                <p class="category-sub-title">Special Edition</p>
                                <hr>
                                <h3 class="mb-0 price">$250.99  <span>$250.99</span></h3>

                            </div>
                            <div>
                                <i class="fa fa-star checked star"></i>
                                <i class="fa fa-star checked star"></i>
                                <i class="fa fa-star checked star"></i>
                                <i class="fa fa-star unchecked star"></i>
                                <p class="category-cnt">(1887 Feed Back)</p>
                            </div>
                            <div class="text-muted mute-text mb-3">By : Connecto Zolio</div>
                            <button type="button" class="btn bg-cart btn-primary btn-sm orange"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 mt-2">
                    <div class="card btm">
                        <div class="card-body pb-0">
                            <div class="card-img-actions"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="mb-2">
                                <p class="category-title">Laptop Lenovo</p>
                                <p class="category-sub-title">Special Edition</p>
                                <hr>
                                <h3 class="mb-0 price">$250.99  <span>$250.99</span></h3>

                            </div>
                            <div>
                                <i class="fa fa-star checked star"></i>
                                <i class="fa fa-star checked star"></i>
                                <i class="fa fa-star checked star"></i>
                                <i class="fa fa-star unchecked star"></i>
                                <p class="category-cnt">(1887 Feed Back)</p>
                            </div>
                            <div class="text-muted mute-text mb-3">By : Connecto Zolio</div>
                            <button type="button" class="btn bg-cart btn-primary btn-sm orange"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 mt-2">
                    <div class="card btm">
                        <div class="card-body pb-0">
                            <div class="card-img-actions"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="mb-2">
                                <p class="category-title">Laptop Lenovo</p>
                                <p class="category-sub-title">Special Edition</p>
                                <hr>
                                <h3 class="mb-0 price">$250.99  <span>$250.99</span></h3>

                            </div>
                            <div>
                                <i class="fa fa-star checked star"></i>
                                <i class="fa fa-star checked star"></i>
                                <i class="fa fa-star checked star"></i>
                                <i class="fa fa-star unchecked star"></i>
                                <p class="category-cnt">(1887 Feed Back)</p>
                            </div>
                            <div class="text-muted mute-text mb-3">By : Connecto Zolio</div>
                            <button type="button" class="btn bg-cart btn-primary btn-sm orange"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="sub-footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3  mt-4">
                    <h5 class="useful">Useful Links</h5>
                    <ul class="nav-list ">
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Read more About us</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Ask Questions</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Support HelpDesk</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> My Account</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Create New Account</a></li>
                    </ul>
                </div>

                <div class="col-md-3  mt-5">
                    <ul class="nav-list d-block">
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Read more About us</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Ask Questions</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Support HelpDesk</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> My Account</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Create New Account</a></li>
                    </ul>
                </div>

                <div class="col-md-6 pt-3">
                    <h4>
                        <strong class="useful">Subscribe</strong>
                    </h4>
                    <h6 class="font-alt">Get weekly top new jobs delivered to your inbox</h6>
                    <form class="form-subscribe" action="#">
                        <div class="input-group">
                            <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                            <label class="custom-file-label form-control" for="validatedCustomFile">News Letter</label>
                        </div>
                    </form>

                    <h4>
                        <strong class="useful">Download App</strong>
                    </h4>

                    <div>
                        
                        <img src="~/dist/theme/img/store.png"  style="width: 150px; margin-bottom: 25px;">
                    </div>

                </div>


            </div>
        </div>
    </section>


    <section class="footer-bg">
        <footer class="section footer-classic ">
            <div class="container">
                <div class="row row-30">
                    <div class="col-md-4 col-xl-5">
                        <div class="footer-cnt pr-xl-4">
                            <h4 class="footer-port">Portkart</h4>
                            <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
                            <!-- Rights-->

                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <ul class="nav-list mt-5">
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> About</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Projects</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Blog</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Contacts</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Pricing</a></li>
                        </ul>
                    </div>



                    <div class="col-md-4">
                        <dl class="contact-list mt-5">
                            <dt>
                                24/7 Support: 0800 12345 678</br>
                                Say Hello To Us
                            </dt>

                        </dl>
                        <dl class="contact-list">
                            <dt>167 Airline Suite, </br> 456GA3, UK</dt>
                        </dl>
                        <dl class="contact-list">
                            <dt class="email">sample@portkart.com</dt>

                        </dl>
                    </div>

                </div>
            </div>

        </footer>
    </section>

    <section class="footer-bg-copy">
        <div class="container">
            <div class="row">
                <p class="footer-cnt pl-3 pt-3">Copyrights © 2019. All Rights Reserved by portkart.com</p>
            </div>
        </div>
    </section>






    <!-- Optional JavaScript -->
    <script src="js/custom.js"></script>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>


</html>