﻿@model IEnumerable<Domain.RoleMenu>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div>
    <ul class="main-menu-nav-ul">
        @foreach (var item in ViewBag.MenuList)
        {
            if (item.IsParent)
            {
                <li> @if (item.HasChildren) { 
                    <a id="@item.MenuId">@item.MenuName</a>
                    <ul class="sub-menu-nav-ul">
                        @foreach (var childItem in ViewBag.MenuList)
                        {
                            if (childItem.ParentId == item.MenuId)
                            {
                                <li><a id="@childItem.MenuId" href="/@childItem.MenuURL">@childItem.MenuName</a></li>
                            }
                        }
                    </ul>}
                    else
                    {
                        <a id="@item.MenuId" href="/@item.MenuURL">@item.MenuName</a>
                    }
                </li>
            }
        }
    </ul>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var activeMenuSessionStorage = sessionStorage.getItem('SelectedMenu');
        if (!isNaN(activeMenuSessionStorage)) {
            $("#" + activeMenuSessionStorage).parent('li').parent('ul').removeClass("sub-menu-nav-ul");
            $("#" + activeMenuSessionStorage).parent('li').parent('ul').addClass("sub-menu-nav-ul-selected");
            $("#" + activeMenuSessionStorage).parent('li').addClass("selected-li");
            $("#" + activeMenuSessionStorage).addClass('selected-menu');
        }
    });
    $('ul li').click(function () {
        $(this).find('ul').slideToggle();
    });
    $('ul li a').click(function () {
        var menuId = $(this).prop("id");
        sessionStorage.setItem('SelectedMenu', menuId);
    });
</script>