﻿@model Domain.RoleMenu
@{
    ViewBag.Title = "AddRoleMenu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>


    .popover {
        opacity: 1 !important;
    }

    .popover-header {
        display: none;
    }

    .popover-body {
        padding: 10px
    }

    #passinvalid {
        background: url(../../dist/img/closered.svg) no-repeat 50%;
    }

    #passvalid {
        background: url(../../dist/img/tickgreen.svg) no-repeat 50%;
    }

    .passconf {
        position: absolute;
        right: 25px;
        width: 25px;
        height: 25px;
        border: 0;
        top: 34px;
        background: none;
        z-index: 9
    }

    .text-danger {
        font-size: 12px;
    }
</style>
<div class="row">

    <div class="col-lg-12">
        <h2 class="content-title  pull-left">Add Role Menu</h2>
        <nav class="pull-right " aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Dashboard/Index">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="Index">RoleMenu</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Role Menu</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-12">
        <div class="card shadow bg-white rounded">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                <div class="form-row mt-3">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.RoleId, new { @class = "field-label" })
                        @Html.DropDownListFor(model => model.RoleId, (SelectList)ViewBag.Role, "Select Role", new { @class = "custom-select form-control", @id = "RoleId", })
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.MenuId, new { @class = "field-label" })
                        @Html.DropDownListFor(model => model.MenuId, (SelectList)ViewBag.Menu, "Select Menu", new {@class = "custom-select form-control", @id = "MenuId" })
                        @Html.ValidationMessageFor(model => model.MenuId, "", new { @class = "text-danger" })
                    </div>

                </div>

                <button type="button" class="btn btn-inner-prim w-btn pull-right" onclick="window.location.href='/RoleMenu/Index'"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                <button type="submit" class="btn btn-inner-sec w-btn pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
            }
            </div>
        </div>
    </div>
</div>
