﻿@model IEnumerable<Domain.RoleMenu>
@{
    ViewBag.Title = "Role Menu Mapping";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
    <div class="row">

        <div class="col-lg-12">
            <div class=" bg-white rounded">
                <h2 class="content-title  pull-left">Role Menu Mapping</h2>
                <a class="btn btn-inner-sec w-btn pull-right" href="@Url.Action("AddRoleMenu", "RoleMenu")"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card shadow  bg-white rounded">
                <div class="card-body">
                    <div class="table-responsive" style="overflow:hidden">
                        <table id="myTable" class="table table-hover tableScroll">
                            <thead class="table-hed-bg">
                                <tr>
                                    <th class="sorting_asc" scope="col">Role Name</th>
                                    <th scope="col">Menu Name</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<link href="~/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/dist/js/dataTables.fixedHeader.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                 "autoWidth": false,
                language: { search: '', searchPlaceholder: "Search" },
                "ajax": {
                    "url": "/RoleMenu/GetRoleMenuList",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "columns" : [
                    { "data": "RoleName", "autoWidth": true },
                    { "data": "MenuName", "autoWidth": true },
                    {
                        "data": "RoleId", "width": "50px", "render": function (data, type, row, meta) {
                            var actionControls = '<a href = "/RoleMenu/DeleteRolemenu?MenuId=' + row["MenuId"] + '&RoleId=' + row["RoleId"] + '" class="scale-trans tbl-dlt-ico" onclick="return ConfirmDeactivation();">  <i class="fa fa-trash"></a>';
                            return actionControls;
                        }
                    }
                ],
                'columnDefs': [{
                    'targets': [2],
                    'orderable': false,
                }]
            });
            $('.tableScroll').parent('div').parent('div').addClass("customList_wrapper");
            $('#myTable thead tr').clone(true).appendTo('#myTable thead');
            $('#myTable thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).removeClass();
                if (title != "Action") {
                    $(this).html('<input class="th-search-input form-control-sec" type="text" />');
                }
                else {
                    $(this).text("Operation");
                    $(this).addClass("ghostPlaceHolder");
                }
                $(this).addClass("th-search")
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#myTable').DataTable({
                retrieve: true,
                orderCellsTop: true,
                fixedHeader: true
            })
            $(".th-search-input").click(function (e) {
                e.stopPropagation();
            });
        });
        function ConfirmDeactivation() {
            return confirm("Are you sure you want to delete this Role Menu ?");
        }
    </script>
}

