﻿@model IEnumerable<Domain.RoleMenu>
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@

<ul class="sidebar-nav">
    @foreach (var item in ViewBag.MenuList)
    {
        if (item.IsParent)
        {

            if (item.HasChildren)
            {
                <li data-toggle="collapse" data-target="#menu_@item.MenuId">
                    <a id="@item.MenuId"><i class="@item.Icon" data-toggle="tooltip" title="@item.MenuName"></i>@item.MenuName</a>
                    <ul class="submenu collapse" id="menu_@item.MenuId">
                        @foreach (var childItem in ViewBag.MenuList)
                        {
                            if (childItem.ParentId == item.MenuId)
                            {
                                <li><a id="@childItem.MenuId" href="/@childItem.MenuURL"><i class="@childItem.Icon" aria-hidden="true" data-toggle="tooltip" title="@childItem.MenuName"></i>@childItem.MenuName</a></li>
                            }
                        }
                    </ul>
                </li>
            }
            else
            {
                <li><a id="@item.MenuId" href="/@item.MenuURL"><i class="@item.Icon"  data-toggle="tooltip" title="@item.MenuName"></i>@item.MenuName</a></li>
            }

        }
    }
</ul>
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        var activeMenuSessionStorage = sessionStorage.getItem('SelectedMenu');
        if (!isNaN(activeMenuSessionStorage)) {
            $("#" + activeMenuSessionStorage).parent('li').parent('ul').parent('li').addClass("active");
            $("#" + activeMenuSessionStorage).parent('li').parent('ul').toggleClass("collapse");
           // $("#" + activeMenuSessionStorage).parent('li').parent('ul').addClass("sub-menu-nav-ul-selected");
           // $("#" + activeMenuSessionStorage).parent('li').addClass("selected-li");
            $("#" + activeMenuSessionStorage).addClass('active');
        }
    });
    //$('ul li').click(function () {
    //    $(this).find('ul').slideToggle();
    //});
    $('.sidebar-nav li a').click(function () {
        var menuId = $(this).prop("id");
        sessionStorage.setItem('SelectedMenu', menuId);
    });
</script>