﻿@model Domain.Login
@{
    Layout = "";
}
<!doctype html>
<html lang="en">
<head>
    <title>Portkart-login</title>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/dist/theme/css/font-awesome.css" rel="stylesheet" />
    <link href="~/dist/theme/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="~/dist/theme/css/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="~/dist/theme/css/style.css" rel="stylesheet" />
    <script type="text/javascript" language="javascript">
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }
    </script>
    <style>
        form {
            display: contents;
        }

        #showHidePassword {
            position: absolute;
            right: 19px;
            top: 89px;
            width: 25px;
            height: 25px;
            border: 0;
            background: url(../dist/img/show-password.svg) no-repeat 50%
        }
    </style>
</head>
<body class="wave-image">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="login-container rounded-top rounded-bottom">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <p class="welcome">Welcome to</p>
                    <h4><a href="@Url.Action("Index", "Home")">PortKart</a></h4>
                    <form>
                        <div class="form-group">
                            @*<input type="text" class="form-control" placeholder="Your Email *" value="" />*@
                            @Html.EditorFor(model => model.emailId, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter EmailID", @type = "email" } })
                            <span class="icon fa fa-envelope"></span>
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Password", @type = "password" } })
                            <span class="icon fa fa-lock"></span>
                            @*<input type="button" id="showHidePassword" value="" />*@
                        </div>

                        <div class="form-group">
                            <div class="form-check">

                                <label for="exampleCheck1"><a href="/Login/ForgotPassword" class="forgetPwd px-3">Forgot Password?</a></label>
                                <br />
                                <label> <span class="forgetPwd px-3" style="color:red !important"> @ViewBag.Message</span></label>
                                @if (ViewBag.ResendEmail == true)
                                {
                                    <label> <span class="forgetPwd px-3" ><a href="/Login/ResendVerify" class="forgetPwd px-3">Verify Email Address</a></span></label>
                                }

                            </div>
                        </div>


                        <div class="mt-5">
                            <button type="submit" class="btn btn-primary w-btn">Login</button>
                            <button type="button" class="btn btn-secondary w-btn" onclick="window.location.href='/Login/Register'">Sign up</button>
                        </div>
                    </form>
                    @*<p class="copyright text-center">@2020 <span>Portkart</span></p>*@
                </div>

                <div class="col-md-6 login-form-2 blue-rounded-top d-none d-sm-block">
                    <div class="log-heading">
                        <h3>
                            Unique Product Offering a <br>
                            Marine Community
                        </h3>
                        <p class="log-sub-heading">consectetur adipiscing elit</p>
                        <img class="img-fluid float-right p-n" src="~/dist/theme/img/ship-bg.png" />
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/dist/login/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/dist/login/assets/js/popper.min.js"></script>
    <script src="~/dist/theme/js/bootstrap.js"></script>
    <script type="text/javascript">
        sessionStorage.removeItem('SelectedMenu');
        $("#showHidePassword").click(function () {
            var x = document.getElementById("Password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        });
    </script>
</body>
</html>