﻿@model Domain.Login
@{
    Layout = "";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login | PORTKART </title>
    <link rel="icon" sizes="192x192" href="~/dist/img/cticon.png">
    <link rel="stylesheet" href="~/dist/login/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/dist/login/assets/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/dist/login/assets/css/style.css" />
    <style>
        .validation-div{
            text-align:center;
            color:red;
        }
        @@media screen and (max-width: 600px) {
            .loginbot {
                text-align: center;
            }

            .forgot {
                float: none;
            }
        }
         #showHidePassword {
                position: absolute;
                right: 19px;
                top: 10px;
                width: 25px;
                height: 25px;
                border: 0;
                background: url(../../dist/img/show-password.svg) no-repeat 50%;
            }
        .form-row{
            margin-left:0;
            margin-right:0;
        }
      .form-control{
          font-size:14px;
      }
    </style>
</head>
<body class="form-login-body">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto login-desk">
                    <div class="row">

                        <div class="col-md-6 loginform">
                            <h4 class="text-center">WELCOME TO</h4>
                            <p class="text-center">PORTKART@*<img src="~/dist/login/assets/images/logo.png">*@</p>
                            <div class="login-det">
                                <div class="form-row">

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="far fa-user"></i>
                                            </span>
                                        </div>
                                        @Html.EditorFor(model => model.emailId, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter EmailID", @type = "email" } })

                                    </div>
                                </div>
                                <div class="form-row">

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </div>
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Password", @type = "password" } })
                                        <input type="button" id="showHidePassword"  value="" />
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-sm btn-danger">SIGN IN</button>
                                <!-- <p class="forget"><a href="">Forget Password?</a></p> -->
                                <div class="row loginbot">
                                    <div class="col-md-6 col-sm-6"><a href="/Login/Register">Sign Up</a></div>
                                    <div class="col-md-6 col-sm-6"><a href="/Login/ForgotPassword" class="forgot">Forgot Password?</a></div>
                                    <div class="col-md-12 validation-div" ><span class="validation-error-color"> @ViewBag.Message</span></div>
                                    
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6 detail-box">
                            <p class="text-center">PORTKART@*<img src="~/dist/login/assets/images/logo2.png">*@</p>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim   </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    <script src="~/dist/login/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/dist/login/assets/js/popper.min.js"></script>
    <script src="~/dist/login/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $("#showHidePassword").click(function () {
            var x = document.getElementById("Password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        });
    </script>
</body>
</html>