﻿<!doctype html>
<html lang="en">
@model PortKart_WEB.Models.UserModel
@{
    Layout = "";
    ViewBag.Title = "Register";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title | PORTKART</title>
    <link rel="icon" sizes="192x192" href="~/dist/img/cticon.png">
    <link rel="stylesheet" href="~/dist/login/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/dist/login/assets/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/dist/login/assets/css/style.css" />
    @Styles.Render("~/dist/css/toastr.css")
    <style>
        .form-login-body .login-desk {
            filter: drop-shadow(0 0 13.5px #84848487);
            margin-top: 4%;
            margin-bottom: 5%;
        }

            .form-login-body .login-desk .detail-box {
                padding: 215px 30px;
            }
        .popover {
            opacity: 1 !important;
        }

        .popover-header {
            display: none;
        }

        .popover-body {
            padding: 10px
        }
        #passinvalid {
            background: url(../../dist/img/closered.svg) no-repeat 50%;
        }

         #passvalid {
            background: url(../../dist/img/tickgreen.svg) no-repeat 50%;
        }
       .passconf {
            position: absolute;
            right: 19px;
            width: 25px;
            height: 25px;
            border: 0;
            top: 38px;
            background: none
        }
       .text-danger{
           font-size:12px;
       }
    </style>
</head>



<body class="form-login-body">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto login-desk">
                    <div class="row">

                        <div class="col-md-10 regform">
                            <h4><i class="far fa-user " style="color: #2088ad;"></i> CREATE A NEW ACCOUNT</h4>
                            <hr>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="top25">
                                        @Html.RadioButtonFor(model => model.UserGroup, "Owner", new { @checked = true, id = "radio2_Opt1" })
                                        <label for="radio2_Opt1">Owner</label>
                                        @Html.RadioButtonFor(model => model.UserGroup, "Agency", new { id = "radio2_Opt2" })
                                        <label for="radio2_Opt2">Agency</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.FirstName)
                                    @Html.EditorFor(model => model.FirstName)
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.LastName)
                                    @Html.EditorFor(model => model.LastName)
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.CompanyName)
                                    @Html.EditorFor(model => model.CompanyName)
                                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.DateOfBirth, new { @class = "inputdob" })
                                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", @readonly = true, @id = "DateOfBirth" } })
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.MobileNumber)

                                    @Html.EditorFor(model => model.MobileNumber)
                                    <input type="hidden" name="CountryCode" id="CountryCode" />
                                    @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.EmailId)
                                    @Html.EditorFor(model => model.EmailId)
                                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.CompanyRegNo)
                                    @Html.EditorFor(model => model.CompanyRegNo)
                                    @Html.ValidationMessageFor(model => model.CompanyRegNo, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Password)
                                    <input type="button" class="passconf" id="passvalid" style="display:none" value="" />
                                    <input type="button" class="passconf" id="passinvalid" style="display:none" value="" />
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { autocomplete = "new-password", @type = "password", id = "Password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ConfirmPassword)
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @type = "password", id = "ConfirmPassword" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-12">
                                    <div>
                                        <input type="checkbox" name="checkGrp1" id="checkterms">
                                        <label for="checkterms"> By checking on the checkbox, you agree to our Terms of Services</label>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="top25">
                                        <button type="submit" class="btn1">Sign up</button>
                                        <button type="button" onclick="location.href='/Login/Index'" class="btn2">Login</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-2 detail-box">
                            <p class="text-center"><a style="color:white" href="@Url.Action("Index", "Home")">PORTKART</a><img src="~/dist/login/assets/images/logo2.png"></p>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    }

    <script src="~/dist/login/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/dist/login/assets/js/popper.min.js"></script>
    <script src="~/dist/login/assets/js/bootstrap.min.js"></script>
    <script src="~/dist/js/toastr.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/dist/IntlInput/css/intlTelInput.css" rel="stylesheet" />
    <script src="~/dist/IntlInput/js/intlTelInput.js"></script>
    <script src="~/dist/IntlInput/js/intlTelInput-jquery.js"></script>
    <script src="~/dist/IntlInput/js/utils.js"></script>

    <script>
    $(function () {
        var message = '@TempData["Message"]';
                                        var messageType = '@TempData["MessageType"]';
        if (messageType != '') {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 100,
                "fadeOut": 50,
                "timeOut": 1000,
                "extendedTimeOut": 1000
            }
            toastr.options.o
            if (messageType == 'SUCCESS') {
                toastr.success(message);
            }
            else if (messageType == 'ERROR') {
                toastr.error(message);
            }
        }
    })
    $(function () {
        $("input[type='text'], textarea, input[type='number'], input[type='datetime'],input[type='email'],input[type='password'], select").each(function () {
                                            var req = $(this).attr('data-val-required') || $(this).attr('required');
                                            if (undefined != req) {
                                                var label = $('label[for="' + $(this).attr('id') + '"]');
                                                var text = label.text();
                                                if (text.length > 0) {
                                                    label.append('<span style="color:red"> *</span>');
                                                }
                                            }
                                        });
    });

    </script>
    <script>
        var int_tel_Phone = undefined;
        var iti_Phone = undefined;
    function passwordvalidation(el) {
                                                if (el.value == undefined) {
            $('#passvalid').hide();
            $('#passinvalid').show();
            $('#passhint').show();
                                                    return;
                                                }
                                                if (el.value.match(/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?!.* )(?=.*?[#?!@('@')$%^&*-]).{8,}$/)) {
                $('#passinvalid').hide();
                $('#passhint').hide();
                $('#passvalid').show();
                                            }
            else {
                $('#passvalid').hide();
                $('#passinvalid').show();
                $('#passhint').show();
                                            }
                                        }

        $(document).ready(function () {

            int_tel_Phone = document.querySelector("#MobileNumber");
            iti_Phone = window.intlTelInput(int_tel_Phone, {
                nationalMode: true,
                formatOnDisplay:false,
                initialCountry: "in",
                separateDialCode:true,
                utilsScript: "/dist/IntlInput/js/utils.js"
            });
            $("#DateOfBirth").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd-M-yy",
                yearRange: "-100:+0",
                maxDate: new Date()
            });


     
                                            passwordvalidation($('#Password'));
        $('#Password').keyup(function () {
                                                passwordvalidation(this);
                                            })
            $('form').submit(function () {
                var Phone = iti_Phone.getSelectedCountryData();
                $('#CountryCode').val('+' + Phone.dialCode);
                                                var checkbox = $('#checkterms');
                                                if (checkbox.is(":checked")) {

                                                    return true;
                                                }
                                                else {
                                                    alert('Please accept the terms to continue');
                                                    return false;
                                                }

                                            });
        $("#Password").popover({
                                            trigger: 'hover',
            title: '',
            content:'Password must be at least 8 characters and it must contain at least  one digit, one lowercase letter, one uppercase letter and one symbol(#?!@('@')$%^&*-)'
        });
          @*$("#passinvalid").popover({
            trigger: 'click',
              title: '',
              html:true,
              content:'Password must be <br/>1. at least 8 characters <br/>2. must contain at least  one digit <br/>3. must contain at least one lowercase letter<br/>3. must contain at least one uppercase letter and one symbol(#?!@('@')$%^&*-)'
        });*@
        $("#CompanyRegNo").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });

    });


    </script>
</body>
</html>
