﻿<!doctype html>
<html lang="en">

@{
    Layout = "";
    ViewBag.Title = "Email Verification";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title | PORTKART</title>
    <link rel="icon" sizes="192x192" href="~/dist/img/cticon.png">
    <link rel="stylesheet" href="~/dist/login/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/dist/login/assets/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/dist/login/assets/css/style.css" />
    @Styles.Render("~/dist/css/toastr.css")
    <style>
        .form-login-body .login-desk {
            filter: drop-shadow(0 0 13.5px #84848487);
            margin-top: 4%;
            margin-bottom: 5%;
        }

            .form-login-body .login-desk .detail-box {
                padding: 215px 30px;
            }

        .popover {
            opacity: 1 !important;
        }

        .popover-header {
            display: none;
        }

        .popover-body {
            padding: 10px
        }

        #passinvalid {
            background: url(../../dist/img/closered.svg) no-repeat 50%;
        }

        #passvalid {
            background: url(../../dist/img/tickgreen.svg) no-repeat 50%;
        }

        .passconf {
            position: absolute;
            right: 19px;
            width: 25px;
            height: 25px;
            border: 0;
            top: 38px;
            background: none
        }

        .text-danger {
            font-size: 12px;
        }
    </style>
</head>



<body class="form-login-body">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto login-desk">
                    <div class="row">

                        <div class="col-md-10 regform">
                            <h4><i class="far fa-user " style="color: #2088ad;"></i> Email Verification </h4>
                            <hr>



                            <div class="row">
                                <div class="col-md-6">
                                    <div class="top25">
                                        <label>Enter Email</label>
                                        <input type="email" id="EmailId" name="EmailId" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="top25">
                                        <button type="submit" class="btn1">RESEND</button>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="top25">
                                        <button type="button" class="btn1" onclick="location.href='/Login/Register'">SIGN-UP</button>
                                        <button type="button" onclick="location.href='/Login/Index'" class="btn2">LOGIN</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-2 detail-box">
                            <p class="text-center">PORTKART@*<img src="~/dist/login/assets/images/logo2.png">*@</p>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    }

    <script src="~/dist/login/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/dist/login/assets/js/popper.min.js"></script>
    <script src="~/dist/login/assets/js/bootstrap.min.js"></script>
    <script src="~/dist/js/toastr.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script>
    $(function () {
        var message = '@TempData["Message"]';
                                        var messageType = '@TempData["MessageType"]';
        if (messageType != '') {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 100,
                "fadeOut": 50,
                "timeOut": 1000,
                "extendedTimeOut": 1000
            }
            toastr.options.o
            if (messageType == 'SUCCESS') {
                toastr.success(message);
            }
            else if (messageType == 'ERROR') {
                toastr.error(message);
            }
        }
    })
    $(function () {
        $("input[type='text'], textarea, input[type='number'], input[type='datetime'],input[type='email'],input[type='password'], select").each(function () {
                                            var req = $(this).attr('data-val-required') || $(this).attr('required');
                                            if (undefined != req) {
                                                var label = $('label[for="' + $(this).attr('id') + '"]');
                                                var text = label.text();
                                                if (text.length > 0) {
                                                    label.append('<span style="color:red"> *</span>');
                                                }
                                            }
                                        });
    });

    </script>

</body>
</html>
