﻿@model  List<Domain.AgencyService>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Owner";
}
<style>
    .verticalLine {
        border-left: thin solid #ababab;
        padding: 20px;
    }
</style>
<div class="row profilerow">
    <div class="col-md-10">
        <h2 class="content-title pt-3 pb-3 pull-left">Owner - Landing Page</h2>
    </div>

    <div class="col-md-12">

        <div class="card shadow p-3 m-3 bg-white rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 p-0 d-flex justify-content-center">
                        <figure><img src="LogoPath" class="CompanyLogo"></figure>
                    </div>
                    <div class="col-md-3 p-0 d-flex justify-content-center">
                        <figure><img src="LogoPath" class="CompanyLogo"></figure>
                    </div>
                    <div class="col-md-3 p-0 d-flex justify-content-center">
                        <figure><img src="LogoPath" class="CompanyLogo"></figure>
                    </div>
                    <div class="col-md-3 p-0 d-flex justify-content-center">
                        <figure><img src="LogoPath" class="CompanyLogo"></figure>
                    </div>

                </div>
            </div>
        </div>

        <div class="card shadow p-3 m-3 bg-white rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label for="inputfirstname">Port Name</label>
                        <select id="PortName" class="custom-select form-control">
                            <option value="">Select Port</option>
                            @foreach (var p in ViewBag.PortList)
                            {
                                <option value="@p.PortId">@p.Port</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="inputfirstname">Service Category</label>
                        <select id="ServiceCategory" class="custom-select form-control" multiple>
                            <option value="">Select Category</option>
                            @foreach (var sc in ViewBag.ServiceCategoryList)
                            {
                                <option value="@sc.ServiceCategoryId">@sc.ServiceCategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="inputfirstname">Service Name</label>
                        <select id="Service" class="custom-select form-control" multiple>
                            <option value="">Select Service</option>
                            @foreach (var s in ViewBag.ServiceList)
                            {
                                <option value="@s.ServiceId">@s.ServiceName</option>
                            }
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-8">
                        <button type="button" class="btn btn-inner-square w-btn">Search</button>
                    </div>

                    <div class="col-md-4">
                        <button type="button" class="btn btn-inner-sq-prim w-btn">Preffered</button>
                        <button type="button" class="btn btn-inner-sq-prim w-btn">Recently Request</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow p-3 m-3 bg-white rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="input-group">
                            <select>
                                <option value="" selected="selected">View By</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <select>
                                <option value="" selected="selected">Sort By</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <button type="button" class="btn btn-inner-square w-btn">Create Request</button>
                        <button type="button" class="btn btn-inner-sq-prim w-btn">Compare</button>
                    </div>
                </div>
                <br />

                <hr>

                <div class="row">
                    <div class="col-md-10">
                        @foreach (var agency in Model)
                        {
                            <div class="col-md-3 p-0 d-flex justify-content-center">
                                <figure><img src="@agency.LogoPath" class="CompanyLogo"></figure>
                            </div>
                            <div class="col-md-8 pl-5">
                                <h4 class="cmp-name">@agency.CompanyName</h4>
                                <p class="cmp-location">
                                    @agency.About
                                </p>
                                <p>Services: @agency.ServiceCount</p>
                                <button type="button" class="btn btn-inner-square w-btn">Services</button>
                                <button type="button" class="btn btn-inner-square w-btn">Create Request</button>
                                <button type="button" class="btn btn-inner-sq-prim w-btn">Add to Request</button>
                            </div>
                            <div class="col-md-1 p-0">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input id="input_CP_IsPreview" class="form-check-input" type="checkbox">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-md-2">
                        @foreach (var service in ViewBag.ServiceList)
                        {
                            <label>@service.ServiceName</label>
                            <ul>
                                @foreach (var sub in service.SubServiceList)
                                {
                                    <li>@sub.ServiceName</li>
                                }

                            </ul>

                        }
                    </div>

                </div>


                <hr />
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <link href="~/dist/css/Select2.css" rel="stylesheet" />
    <script src="~/dist/js/Select2.js"></script>

    <script>
        $('#PortName').select2();
        $('#ServiceCategory').select2();
        $('#Service').select2();
    </script>
}
