﻿@model  List<Domain.AgencyService>
@{
    Layout = "~/Views/Shared/_OwnerSearch.cshtml";
    ViewBag.Title = "Owner";
}

<div class="row">
    <!-- Modal -->

    <div class="modal fade p-0" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog full" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Comparison</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="card shadow p-3 m-3 bg-white rounded">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <div id="servicelist">
                                        @*<div class="table-responsive">
                                                <table class="table">
                                                </table>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="col-md-3 pr-0 pull-right">

                                    <aside>
                                        <div>
                                            <select id="CmprAgents" class="custom-select mr-sm-2 side-fl-ddl" onchange="AddCompareAgency(this)">
                                            </select>
                                        </div>
                                        <div class="accordion" id="accordionExample2">
                                            <div class="card">
                                                <div class="card-header MSF_Search_div">
                                                    <h2 class="mb-0">
                                                        <input type="text" class="MSF_Search_in" onkeyup="MSF_Search(this)" placeholder="Search service" />

                                                    </h2>
                                                </div>
                                            </div>
                                            <div id="Modal_ServiceList_div">

                                            </div>
                                        </div>
                                    </aside>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-inner-square">Create Request</button>

                        <button type="button" class="btn btn-inner-sq-prim" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10">
        <h2 class="content-title pull-left olp-head">PORTKART</h2>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card shadow ow-tile">
            <div class="card-body red-border">
                <div class="d-flex no-block tab-space">
                    <div class="align-self-center ico-circle">
                        <img src="~/dist/theme/img/request.png" alt="..." width="25" height="25">
                    </div>
                    <div class="align-self-center ">
                        <h2>20</h2>
                        <h6 class="tab-title text-muted mt-1 mb-0">Requested</h6>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card shadow ow-tile">
            <div class="card-body green-border">
                <div class="d-flex no-block tab-space">
                    <div class="align-self-center ico-circle-green">
                        <img src="~/dist/theme/img/box.png" alt="..." width="30" height="30">
                    </div>
                    <div class="align-self-center">
                        <h2>20</h2>
                        <h6 class="tab-title text-muted mt-1 mb-0">Order Placed</h6>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card shadow ow-tile">
            <div class="card-body violet-border">
                <div class="d-flex no-block tab-space">
                    <div class="align-self-center ico-circle-violet">
                        <img src="~/dist/theme/img/hook.png" alt="..." width="30" height="30">
                    </div>
                    <div class="align-self-center">
                        <h2>20</h2>
                        <h6 class="tab-title text-muted mt-1 mb-0">Service Inprogress</h6>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card shadow ow-tile">
            <div class="card-body yellow-border">
                <div class="d-flex no-block tab-space">
                    <div class="align-self-center ico-circle-yellow">
                        <img src="~/dist/theme/img/complete.png" alt="..." width="30" height="30">
                    </div>
                    <div class="align-self-center">
                        <h2>20</h2>
                        <h6 class="tab-title text-muted mt-1 mb-0">Completed</h6>
                    </div>

                </div>
            </div>
        </div>
    </div>











    <form class="form-width mb-0">
        <div class="card shadow p-3 m-3 bg-white rounded">
            <div class="card-body ol-sc-card">
                <div class="form-row">
                    <div class="form-group col-md-4 mb-2">
                        <label for="inputEmail4">Port Name <span style="color:red">* </span></label>
                        <select id="PortNameDummy" class="custom-select form-control"></select>
                        <select id="PortName" class="custom-select form-control" hidden>
                            <option></option>
                            @*@foreach (var p in ViewBag.PortList)
                                {
                                    <option value="@p.PortId">@p.Port</option>
                                }*@
                        </select>
                    </div>

                    @*<div class="form-group col-md-4 mb-2">
                            <label for="inputEmail4">Service Category</label>
                            <select id="ServiceCategoryDummy" class="custom-select form-control"></select>
                            <select id="ServiceCategory" class="custom-select form-control" multiple hidden>
                                @foreach (var sc in ViewBag.ServiceCategoryList)
                                {
                                    <option value="@sc.ServiceCategoryId">@sc.ServiceCategoryName</option>
                                }
                            </select>
                        </div>*@

                    <div class="form-group col-md-4 mb-3">
                        <label for="inputEmail4">Service Name</label>
                        <select id="ServiceDummy" class="custom-select form-control"></select>
                        <select id="Service" class="custom-select form-control" multiple hidden>
                            @foreach (var s in ViewBag.ServiceList)
                            {
                                <option value="@s.ServiceId">@s.ServiceName</option>
                            }
                        </select>
                    </div>


                    <div class="col-md-4">
                        <button type="button" class="btn btn-inner-square w-btn " onclick="Search()" id="empty-search">Search</button>
                    </div>
                    @*<div class="col-md-6 p-0 text-right">
                            <button type="button" class="btn btn-preview rounded w-btn ">Preferred</button>
                            <button type="button" class="btn btn-preview rounded w-btn ">Recently Requested</button>
                        </div>*@


                </div>
            </div>
        </div>
    </form>


    <div class=" container card shadow p-3 m-3 bg-white rounded" id="AgencyList_Cont">

        <div class="card-body" id="SearchBody">
            <div class="row p-0 ">
                <div class="col-md-4">
                    <select class="custom-select mr-sm-2 filter-frm" id="ViewBy" onchange="ViewByChange()">
                        <option selected>Featured</option>
                        <option value="R">Relevancy</option>
                        <option value="A">Alphabetic</option>
                    </select>
                </div>


                @*<select class="custom-select mr-sm-2 filter-frm" id="SortBy" onchange="FilterAgency()" hidden>
                        <option selected>Sort by</option>
                        <option value="N">None</option>
                        <option value="A">Ascending</option>
                        <option value="D">Descending</option>
                    </select>*@

                <div class="col-md-8 text-right">
                    <button type="button" class="btn btn-inner-square w-btn ">Create Request</button>
                    <button type="button" class="btn btn-inner-sq-prim w-btn " data-toggle="exampleModal" onclick="Compare()">Compare</button>
                </div>
            </div>

            <hr>


            <div class="col-md-12" id="Initmsg" style="text-align:center;align-content:center">
                <p>Search against 1000+ ports</p>
            </div>

            <div class="col-md-3 pull-right">

                <aside>
                   
                    <div class="accordion" id="accordionExample" style="display:none;">
                        <div class="card">
                            <div class="card-header SF_Search_div">
                                <h2 class="mb-0">
                                    <input type="text" class="SF_Search_in" onkeyup="SF_Search(this)" placeholder="Search service" />

                                </h2>
                            </div>
                        </div>
                        <div id="ServiceList_div">

                        </div>
                    </div>
                </aside>


            </div>




            <div class="col-md-9">
                <div id="AgencyList_div">

                </div>

                <div class="col-sm-12 col-md-12" id="ShowMore" style="display:none;text-align:center">

                    <button class="btn btn-inner-square w-btn " onclick="ViewMore()">View More</button>
                </div>


            </div>

        </div>
    </div>
</div>
@section Footer{
    <section class="footer-bg">
        <footer class="section footer-classic ">
            <div class="container">
                <div class="row row-30">
                    <div class="col-md-4 col-xl-5">
                        <div class="footer-cnt pr-xl-4">
                            <h4 class="footer-port">Portkart</h4>
                            <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
                            <!-- Rights-->

                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <ul class="nav-list mt-5">
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> About</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Projects</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Blog</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Contacts</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Pricing</a></li>
                        </ul>
                    </div>



                    <div class="col-md-4">
                        <dl class="contact-list mt-5">
                            <dt>
                                24/7 Support: 0800 12345 678</br>
                                Say Hello To Us
                            </dt>

                        </dl>
                        <dl class="contact-list">
                            <dt>167 Airline Suite, </br> 456GA3, UK</dt>
                        </dl>
                        <dl class="contact-list">
                            <dt class="email">sample@portkart.com</dt>

                        </dl>
                    </div>

                </div>
            </div>

        </footer>
    </section>

    <section class="footer-bg-copy">
        <div class="container">
            <div class="row">
                <p class="footer-cnt pl-3 pt-3">Copyrights © @DateTime.Now.Year. All Rights Reserved by portkart.com</p>
            </div>
        </div>
    </section>
}

@section Scripts{
    <link href="~/dist/css/Select2.css" rel="stylesheet" />
    <script src="~/dist/js/Select2.js"></script>
    <link href="~/dist/css/jquery.multiselect.css" rel="stylesheet" />
    <script src="~/dist/js/jquery.multiselect.js"></script>
    <script>
        var viewclick = false; //to avoid double click in view more
        var FilterGlobal = {}; //Global object to store filter criterias
        var AgencyFList = [];  //Filtered Agency list
        var ModalServiceList = []; //Service list used to populate comparison table
        var filtered = false;  // to check if side filter is applied
        var CompareList = [];  // Agency List for comparing
        var FMdServiceList = [];  // Checked service in Compare modal
        var AddCompareAgentList = [];  // agent list in compare screen
        $(document).ready(function () {
            $('body').tooltip({
                selector: '[data-toggle="tooltip"]',
                delay: { show: 300, hide: 0 },
                //trigger: 'click',
                placement: function (tip, element) { //$this is implicit
                    var position = $(element).position();
                    if (position.left > 515) {
                        return "left";
                    }
                    if (position.left < 515) {
                        return "right";
                    }
                    if (position.top < 110) {
                        return "bottom";
                    }
                    return "top";
                }
            });
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "showDuration": "300000",
                "hideDuration": "1000",


                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        });

        //if (!window.matchMedia('(max-width: 768px)').matches)
        //    document.querySelector('#wrapper').classList.toggle('toggled');

        $('#PortName').select2({
            ajax: {
                url: 'Owner/GetVesselPortList',
                data: function (params) {
                    var query = {
                        search: params.term
                    }

                    // Query parameters will be ?search=[term]&type=public
                    return query;
                },
                processResults: function (data) {
                    // Transforms the top-level key of the response object from 'items' to 'results'
                    if (data.includes('Portkart-login')) {
                        window.location.reload();
                    }
                    return {
                        results: data
                    };
                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            },
            placeholder: "Select a Port",
            language: {
                inputTooShort: function (args) {

                    return "Enter 2 or more characters";
                },
                noResults: function () {
                    return "Not Found.";
                },
                searching: function () {
                    return "Searching...";
                }
            },
            allowClear: true,
        });
        $('#PortNameDummy').hide();
        $('#PortName').show();
        $('#ServiceCategory').multiselect({
            columns: 1,
            selectAll: true,
            texts: {
                placeholder: 'Select Category',
                selectAll: 'Select All',
                unselectAll: 'Unselect All'
            },
            //onLoad: function (element) {
            //},
            onOptionClick: function (element, option) {
                var val = $('#ServiceCategory').val();
                LoadServiceList($('#ServiceCategory').val());
            },
            onSelectAll: function (element, selected) {
                LoadServiceList([]);
            },
        });
        $('#ServiceCategoryDummy').hide();
        $('#ServiceCategory').show();

        $('#Service').multiselect({
            columns: 1,
            selectAll: true,
            search: true,
            texts: {
                placeholder: 'Select Service',
                selectAll: 'Select All',
                unselectAll: 'Unselect All'
            },
        });
        $('#ServiceDummy').hide();
        $('#Service').show();

        function Search() {
            var PortId = $('#PortName').val();
            var ServiceCategoryIds = $('#ServiceCategory').val();
            var ServiceIds = $('#Service').val();
            var ViewBy = $('#ViewBy').val();
            var SortBy = $('#SortBy').val();
            if (PortId == null || PortId == undefined || PortId == "" || PortId == 0) {
                toastr.error("Please select a port");
                return;
            }
            $('#accordionExample').hide();
            $('#Initmsg').hide();
            $('#ShowMore').hide();
            filtered = false;
            
            viewclick = false;
            AgencyFList = [];
            ModalServiceList = [];
            var Filter = {
                PortId: PortId,
                ServiceCategoryId: ServiceCategoryIds,
                ServiceId: ServiceIds,
                ViewBy: ViewBy,
                SortBy: SortBy,
                skip: 0,
                take: 4,
                FilterByService: []
            }
            FilterGlobal = Filter;
            FilterGlobal.IsFirst = true;
            FilterGlobal.AllChecked = true;
            var SearchData = $.ajax({
                type: 'POST',
                url: "/Owner/Search",
                data: Filter,
                dataType: "JSON",
                success: function (resultData) {
                    var totalcount = 0;
                    if (resultData.FServiceList.length > 0) {
                        if (resultData.FServiceList.length > 0) {
                            for (var i = 0; i < resultData.FServiceList.length; i++) {
                                resultData.FServiceList[i].IsChecked = true;
                            }
                            ModalServiceList = JSON.parse(JSON.stringify(resultData.FServiceList));
                        }
                    }
                    if (resultData.AgencyServiceList.length > 0) {
                        AgencyFList = JSON.parse(JSON.stringify(resultData.AgencyServiceList));
                        PopulateAgency(resultData.AgencyServiceList);
                        totalcount = resultData.totalcount;
                        if (AgencyFList.length == totalcount) {
                            $('#ShowMore').hide()
                        }
                        else {
                            $('#ShowMore').show()
                        }

                    }
                    else {
                        $('#AgencyList_div').empty();
                        $('#AgencyList_div').append('<p>No Data available<p>');
                        var scrollPos = $("#AgencyList_Cont").offset().top;
                        $('html, body').animate({ scrollTop: scrollPos }, 500);
                    }

                    if (resultData.FServiceList.length > 0) {
                        PopulateService(resultData.FServiceList);
                    }
                    else {
                        $('#ServiceList_div').empty();
                    }

                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });



        }

        function PopulateAgency(data) {
            if (viewclick) {
                var AgencyServiceId = [];
                $('#AgencyList_div').find('input[type=checkbox]:checked').each(function () {
                    AgencyServiceId.push(this.value);
                })
            }


            $('#AgencyList_div').empty();
            var html = '';
            for (var i = 0; i < data.length; i++) {
                data[i].LogoPath = data[i].LogoPath == null ? "" : data[i].LogoPath;
                data[i].About = data[i].About == null ? "" : data[i].About;
                var cmpchecked = '';
                if (viewclick) {
                    for (var x = 0; x < AgencyServiceId.length; x++) {
                        if (AgencyServiceId[x] == data[i].AgencyServiceId) {
                            cmpchecked = 'checked';
                        }
                    }
                }
                var str1 = 'startdim';
                var str2 = 'startdim';
                var str3 = 'startdim';
                var str4 = 'startdim';
                var str5 = 'startdim';

                if (data[i].Rating == 5) {
                    str5 = 'startlight';
                    str4 = 'startlight';
                    str3 = 'startlight';
                    str2 = 'startlight';
                    str1 = 'startlight';
                }
                else if (data[i].Rating >= 4 && data[i].Rating < 5) {
                    str4 = 'startlight';
                    str3 = 'startlight';
                    str2 = 'startlight';
                    str1 = 'startlight';
                }
                else if (data[i].Rating >= 3 && data[i].Rating < 4) {
                    str3 = 'startlight';
                    str2 = 'startlight';
                    str1 = 'startlight';
                }
                else if (data[i].Rating >= 2 && data[i].Rating < 3) {
                    str2 = 'startlight';
                    str1 = 'startlight';
                }
                else if (data[i].Rating >= 1 && data[i].Rating < 2) {
                    str1 = 'startlight';
                }
                var selectedservtp = '<ul>';
                var selservcount = 0;
                var selservlist = [];
                var tooltip = '<ul>'
                for (var s = 0; s < data[i].ServiceDetails.length; s++) {
                    if (!data[i].ServiceDetails[s].ParentId > 0) {
                        tooltip = tooltip + '<li>' + data[i].ServiceDetails[s].ServiceName + '</li>'
                    }
                    for (var cs = 0; cs < ModalServiceList.length; cs++) {
                        if (data[i].ServiceDetails[s].ServiceId == ModalServiceList[cs].ServiceId && data[i].ServiceDetails[s].ParentId == ModalServiceList[cs].ParentId
                            && ModalServiceList[cs].IsChecked == true && ModalServiceList[cs].ParentId == 0) {
                            var selsevexists = false;
                            for (var sl = 0; sl < selservlist.length; sl++) {
                                if (selservlist[sl].ServiceId == data[i].ServiceDetails[s].ServiceId) {
                                    selsevexists = true;
                                }
                            }
                            if (!selsevexists) {
                                selservlist.push(data[i].ServiceDetails[s]);
                                selservcount = selservcount + 1;
                                selectedservtp = selectedservtp + '<li>' + data[i].ServiceDetails[s].ServiceName + '</li>'
                            }
                        }
                    }

                }

                tooltip = tooltip + '</ul>';
                selectedservtp = selectedservtp + '</ul>';

                var disamount = 0;
                var distat = '-';
                if (FilterGlobal.ServiceId.length > 0 || selservlist.length > 0) {
                    for (var b = 0; b < selservlist.length; b++) {
                        for (d = 0; d < data[i].ServiceDetails.length; d++) {
                            if (data[i].ServiceDetails[d].ServiceId == selservlist[b].ServiceId && data[i].ServiceDetails[d].ParentId == 0) {
                                disamount = disamount + data[i].ServiceDetails[d].ActualAmount;
                                if (b == 0 && (FilterGlobal.ServiceId.length == 1 || selservlist.length == 1))
                                    distat = 'TAT: ' + data[i].ServiceDetails[d].Tat + ' Days';
                            }
                        }
                    }
                    disamount = round(disamount, 2);
                    disamount = '$' + disamount.toString();

                }
                else {
                    selservcount = data[i].ServiceCount;
                    selectedservtp = tooltip;
                    disamount = disamount.toString();
                    disamount = "-";
                    distat = "-";
                }



                html = html + '<div class="card p-0 m-0 border-white">' +

                    '<div class="row no-gutters">' +
                    '<div class="ag-check">' +
                    '<input  type="checkbox" ' + cmpchecked + ' id="blankCheckbox" class="checkStyle" value="' + data[i].AgencyServiceId + '" aria-label="...">' +
                    '</div>' +
                    ' <div class="col-sm-2 text-center">' +
                    ' <img src="' + data[i].LogoPath + '" class="card-img-left" alt="...">' +
                    ' <h5 class="agency"> ' + data[i].CompanyName +
                    ' </h5>' +
                    ' <span class="text-center"><i class="fa fa-star ' + str1 + '"></i></span>' +
                    ' <span class="text-center"><i class="fa fa-star ' + str2 + '"></i></span>' +
                    ' <span class="text-center"><i class="fa fa-star ' + str3 + '"></i></span>' +
                    ' <span class="text-center"><i class="fa fa-star ' + str4 + '"></i></span>' +
                    ' <span class="text-center"><i class="fa fa-star ' + str5 + '"></i></span>' +
                    '</div>' +
                    '<div class="col-sm-9">' +
                    ' <div class="card-body ag-card-bd">' +
                    '<h5 class="card-title"> <a target="_blank" href="UserProfile/CompanyProfile/' + data[i].AgencyId + '">' + data[i].CompanyName + '</a> <span class="agc-tat">' + distat + '</span><span class="agc-amnt">' + disamount + '</span></h5>' +
                    '<p class="card-text ">' +
                    '<button type="button" class="btn btn-light text-left mr-5 " data-toggle="tooltip" data-html="true" title="' + selectedservtp + '">' +
                    '   Selected Services <span class="badge badge-light">' + selservcount + '</span>' +
                    ' </button>' +
                    '<button type="button" class="btn btn-light text-left mr-5 " data-toggle="tooltip" data-html="true" title="' + tooltip + '">' +
                    '   All Services <span class="badge badge-light">' + data[i].ServiceCount + '</span>' +
                    ' </button>' +
                    '</p>' +

                    '<div class="ag-bt-dv Aglist-bt">' +
                    '<a href="javascript:void(0)"  class="text-left" data-toggle="tooltip" data-html="true" title="' + data[i].About + '">' +
                    'Remarks' +
                    ' </a>' +
                    '<a href="javascript:void(0)" class="text-left" data-toggle="tooltip" data-html="true" title="Cancellation Policy">' +
                    'Cancellation Policy' +
                    ' </a>' +

                    ' <button type="button" class="btn btn-inner-square w-btn pull-right" >Create Request</button>' +
                    ' <button type="button" class="btn btn-inner-sq-prim w-btn pull-right">Add to Request</button>' +
                    '</div>' +

                    ' </div>' +
                    '</div>' +
                    ' </div>' +
                    ' </div>' +
                    ' <hr>'
                if ((i + 1) % 2 == 0) {
                    html = html + '<div class="col-md-9">' +
                        '<img src="/dist/theme/img/ads.png" alt="" width="100%">' +
                        '</div>' +
                        '<hr>'
                }

            }
            $('#AgencyList_div').append(html);
            var scrollPos = $("#AgencyList_Cont").offset().top;
            if (viewclick != true)
                $('html, body').animate({ scrollTop: scrollPos }, 500);
        }

        function PopulateService(data) {
            $('#accordionExample').show();
            $('#ServiceList_div').empty();
            var html = '';
            for (var i = 0; i < data.length; i++) {
                var checked = "";
                if (data[i].IsChecked == true) {
                    checked = "checked";
                }
                if (data[i].IsParent == true) {
                    var sublist = [];
                    var subservice = '<div class="card-body">';
                    for (var j = 0; j < data.length; j++) {
                        if (data[i].ServiceId == data[j].ParentId) {
                            data[j].Sort = data[j].Sort == null ? 0 : data[j].Sort;
                            sublist.push(data[j]);
                        }
                    }
                    if (sublist.length > 0) {
                        sublist.sort(function (a, b) {
                            return (a.Sort) - (b.Sort);
                        });

                        for (var j = 0; j < sublist.length; j++) {
                            var subchecked = "";
                            if (sublist[j].IsChecked == true) {
                                subchecked = "checked";
                            }
                            subservice = subservice +
                                '  <a class="dropdown-item-sign" href="javascript:void(0)"><label class="checkbox_label" ><input style="top:0" onclick="SubCheck(' + sublist[j].ParentId + ',this,' + sublist[j].ServiceId + ')" class="subservice" id="Sub' + sublist[j].ParentId + '" type="checkbox" value="' + sublist[j].ServiceId + '" ' + subchecked + ' > ' + sublist[j].ServiceName + '</label></a>'


                        }
                    }
                    subservice = subservice + ' </div>';
                    html = html + ' <div class="card">' +
                        ' <div class="card-header" id="heading' + data[i].ServiceId + '">' +
                        ' <h2 class="mb-0">' +
                        '<button class="btn btn-sign pr-clps" type="button"   data-toggle="collapse" data-target="#collapse' + data[i].ServiceId + '" aria-expanded="true" aria-controls="collapse' + data[i].ServiceId + '">' +
                        data[i].ServiceName +
                        ' </button>' +
                        '  <input class="form-check-input text-right mt-3 parentservice" style="top:0" type="checkbox" value="' + data[i].ServiceId + '" id="ParentCheck' + data[i].ServiceId + '" ' + checked + ' onclick="CheckParent(' + data[i].ServiceId + ',\'collapse' + data[i].ServiceId + '\',' + data[i].ServiceId + ')">' +
                        '</h2>' +
                        ' </div>' +
                        '<div id="collapse' + data[i].ServiceId + '" class="collapse show" aria-labelledby="heading' + i + '" data-parent="#accordionExample">' +
                        subservice +
                        ' </div>' +
                        ' </div>'
                }
                else if (!data[i].ParentId > 0) {
                    html = html + '<div class="card">' +
                        ' <div class="card-header" id="heading' + data[i].ServiceId + '">' +
                        ' <h2 class="mb-0">' +
                        '<button class="btn btn-sign" type="button" >' +
                        data[i].ServiceName +
                        '</button>' +
                        '<input class="form-check-input text-right mt-3 singleservice"  type="checkbox" value="' + data[i].ServiceId + '" id="defaultCheck1" onclick="SinglePChecked(' + data[i].ServiceId + ',this)" ' + checked + '>' +
                        '</h2>' +
                        ' </div></div>';
                }
            }
            //html = html + ' </div> </aside>';
            if (data.length == 0) {
                html = '<div class="card">' +
                    ' <div class="card-header" >' +
                    '<p style="text-align:center">No Service Found</p>' +
                    ' </div></div>'
            }
            $('#ServiceList_div').append(html);
        }

        function LoadServiceList(ids) {
            if (ids == null || ids == "" || ids == undefined) {
                ids = [];
            }
            $.ajax({
                type: 'POST',
                url: "/Owner/LoadServiceList",
                data: { ids },
                datatype: "json",
                success: function (data) {
                    if (data.includes('Portkart-login')) {
                        window.location.reload();
                    }
                    var list = [];
                    for (var i = 0; i < data.length; i++) {
                        list.push({
                            name: data[i].ServiceName,
                            value: data[i].ServiceId,
                            checked: false
                        });

                    }


                    $('#Service').multiselect('loadOptions', list);
                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });
        }

        function CheckParent(id, element, ServiceId) {
            for (var i = 0; i < ModalServiceList.length; i++) {
                if (ModalServiceList[i].ServiceId == ServiceId && ModalServiceList[i].IsParent == true) {
                    ModalServiceList[i].IsChecked = $('#ParentCheck' + ServiceId).is(':checked');
                }
                if (ModalServiceList[i].ParentId == ServiceId) {
                    ModalServiceList[i].IsChecked = $('#ParentCheck' + ServiceId).is(':checked');
                }
            }
            $('#' + element).find('input[type=checkbox]:checked').removeAttr('checked');
            $('#' + element).find('input[type=checkbox]').each(function () {

                //jQuery(this).attr('checked', $('#ParentCheck' + i).is(':checked'));
                $(this).prop("checked", $('#ParentCheck' + ServiceId).is(':checked'));

            });
            FilterGlobal.IsFirst = false;
            FilterAgency();

        }

        function SubCheck(parent, el, ServiceId) {
            var p = document.getElementById('ParentCheck' + parent + '')
            for (var i = 0; i < ModalServiceList.length; i++) {
                if (ModalServiceList[i].ServiceId == ServiceId && ModalServiceList[i].IsParent == false && ModalServiceList[i].ParentId == parent) {
                    ModalServiceList[i].IsChecked = el.checked;
                }

            }
            if (el.checked) {
                if (!p.checked) {
                    $(p).prop("checked", true)
                    for (var i = 0; i < ModalServiceList.length; i++) {
                        if (ModalServiceList[i].ServiceId == parent && ModalServiceList[i].IsParent == true) {
                            ModalServiceList[i].IsChecked = true;
                        }

                    }
                }
            }
            else {
                var ischk = false;
                $('#collapse' + parent).find('input[type=checkbox]').each(function () {
                    if (this.checked) {
                        ischk = true;
                    }
                });
                if (!ischk) {
                    $(p).prop("checked", false)
                    for (var i = 0; i < ModalServiceList.length; i++) {
                        if (ModalServiceList[i].ServiceId == parent && ModalServiceList[i].IsParent == true) {
                            ModalServiceList[i].IsChecked = false;
                        }

                    }
                }
            }
             FilterGlobal.IsFirst = false;
            FilterAgency();
        }
        function SinglePChecked(ServiceId, el) {
            for (var i = 0; i < ModalServiceList.length; i++) {
                if (ModalServiceList[i].ServiceId == ServiceId && ModalServiceList[i].IsParent == false && ModalServiceList[i].ParentId == 0) {
                    ModalServiceList[i].IsChecked = $(el).is(':checked');
                }

            }
             FilterGlobal.IsFirst = false;
            FilterAgency();
        }

        function ViewByChange() {
            var mode = undefined;
            if (filtered != true) {
                mode = 'init';
            }
            if (!jQuery.isEmptyObject(FilterGlobal))
                FilterAgency(mode);
        }

        function FilterAgency(mode) {
            FilterGlobal.ViewBy = $('#ViewBy').val();
            FilterGlobal.SortBy = $('#SortBy').val();
            AgencyFList = [];
            viewclick = false;
            var filterlist = [];
            $('#ShowMore').hide()
            var allchecked = true;
            for (var i = 0; i < ModalServiceList.length; i++) {
                if (ModalServiceList[i].IsChecked == true || mode == 'init') {
                    filterlist.push({
                        ServiceId: ModalServiceList[i].ServiceId,
                        ParentId: ModalServiceList[i].ParentId,
                        IsParent: ModalServiceList[i].IsParent
                    });
                }
                if (ModalServiceList[i].IsChecked != true) {
                    allchecked = false;
                }
            }
            FilterGlobal.AllChecked = allchecked;
            FilterGlobal.skip = 0;
            FilterGlobal.take = 4;
            FilterGlobal.FilterByService = filterlist;
            if (!filterlist.length > 0) {
                $('#AgencyList_div').empty();
                $('#AgencyList_div').append('<p>No Data available<p>');
                var scrollPos = $("#AgencyList_Cont").offset().top;
                $('html, body').animate({ scrollTop: scrollPos }, 500);
                return;
            }
            $.ajax({
                type: 'POST',
                url: "/Owner/FilterAgency",
                data: FilterGlobal,
                datatype: "json",
                success: function (resultData) {
                    if (resultData.AgencyServiceList == undefined) {
                        if (resultData.includes('Portkart-login')) {
                            window.location.reload();
                        }
                    }
                    var totalcount = 0;

                    if (resultData.AgencyServiceList.length > 0) {
                        if (mode != 'init') {
                            filtered = true;
                            FilterGlobal.IsFirst = false;
                        }

                        AgencyFList = JSON.parse(JSON.stringify(resultData.AgencyServiceList));
                        PopulateAgency(resultData.AgencyServiceList);
                        totalcount = resultData.totalcount;
                        if (AgencyFList.length == totalcount) {
                            $('#ShowMore').hide()
                        }
                        else {
                            $('#ShowMore').show()
                        }
                    }
                    else {
                        $('#AgencyList_div').empty();
                        $('#AgencyList_div').append('<p>No Data available<p>');
                        var scrollPos = $("#AgencyList_Cont").offset().top;
                        $('html, body').animate({ scrollTop: scrollPos }, 500);
                    }
                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });

        }

        function ViewMore() {
            if (viewclick != true) {
                viewclick = true;
            }
            else {
                return;
            }
            if (FilterGlobal.take == undefined || FilterGlobal.take == null || FilterGlobal.take == "") {
                FilterGlobal.take = 4;
            }
            if (FilterGlobal.skip == undefined || FilterGlobal.skip == null || FilterGlobal.skip == "") {
                FilterGlobal.skip = 0;
            }
            FilterGlobal.skip = (FilterGlobal.skip) + FilterGlobal.take;
            var url = "/Owner/Search"
            if (filtered == true) {
                url = "/Owner/FilterAgency"
            }

            var SearchData = $.ajax({
                type: 'POST',
                url: url,
                data: FilterGlobal,
                dataType: "JSON",
                success: function (resultData) {
                    var totalcount = 0;

                    if (filtered) {
                        if (FilterGlobal.skip == 0) {
                            AgencyFList = [];
                        }
                    }
                    if (resultData.AgencyServiceList.length > 0) {
                        for (var i = 0; i < resultData.AgencyServiceList.length; i++) {
                            AgencyFList.push(resultData.AgencyServiceList[i])
                        }
                        totalcount = resultData.totalcount;
                        PopulateAgency(AgencyFList);
                        if (AgencyFList.length == totalcount) {
                            $('#ShowMore').hide()
                        }
                        else {
                            $('#ShowMore').show()
                        }
                        viewclick = false;
                    }
                    else {
                        viewclick = false;
                    }


                },
                error: function (xhr, error, code) {
                    viewclick = false;
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });
        }




        function Compare() {

            $('#servicelist').empty();
            CompareList = [];
            FMdServiceList = [];
            var AgencyServiceId = [];
            $('#exampleModal').hide();
            $('#AgencyList_div').find('input[type=checkbox]:checked').each(function () {
                AgencyServiceId.push(this.value);
            })


            if (AgencyServiceId.length < 2) {
                toastr.error("Select minimum 2 Agencies to compare");
                return;
            } else if (AgencyServiceId.length > 4) {
                toastr.error("You can compare only up to 4 Agencies at a time");
                return;
            }

            for (var i = 0; i < AgencyServiceId.length; i++) {
                for (var j = 0; j < AgencyFList.length; j++) {
                    if (AgencyServiceId[i] == AgencyFList[j].AgencyServiceId) {
                        CompareList.push(AgencyFList[j])
                    }
                }
            }
            LoadAgentsForCompare();
            PopulateModalService();

            PopulateCompareTable();

            $("#exampleModal").modal('show');

        }

        function PopulateCompareTable() {
            $('#servicelist').empty();
            var ServiceList4CP = [];
            var comparechecked = false;
            for (var i = 0; i < FMdServiceList.length; i++) {
                if (FMdServiceList[i].IsChecked == true) {
                    comparechecked = true;
                }
            }
            for (var i = 0; i < FMdServiceList.length; i++) {
                if (FMdServiceList[i].IsChecked == true || comparechecked != true) {
                    ServiceList4CP.push(FMdServiceList[i]);
                }
            }


            var html = '';
            html = ' <div class="table-responsive">  <table class="table comp-table">';
            var thead = '<thead><tr>  <th class="hed-tr-bg"></th>';

            for (var i = 0; i < CompareList.length; i++) {
                var str1 = 'startdim';
                var str2 = 'startdim';
                var str3 = 'startdim';
                var str4 = 'startdim';
                var str5 = 'startdim';

                if (CompareList[i].Rating == 5) {
                    str5 = 'startlight';
                    str4 = 'startlight';
                    str3 = 'startlight';
                    str2 = 'startlight';
                    str1 = 'startlight';
                }
                else if (CompareList[i].Rating >= 4 && CompareList[i].Rating < 5) {
                    str4 = 'startlight';
                    str3 = 'startlight';
                    str2 = 'startlight';
                    str1 = 'startlight';
                }
                else if (CompareList[i].Rating >= 3 && CompareList[i].Rating < 4) {
                    str3 = 'startlight';
                    str2 = 'startlight';
                    str1 = 'startlight';
                }
                else if (CompareList[i].Rating >= 2 && CompareList[i].Rating < 3) {
                    str2 = 'startlight';
                    str1 = 'startlight';
                }
                else if (CompareList[i].Rating >= 1 && CompareList[i].Rating < 2) {
                    str1 = 'startlight';
                }
                thead = thead + '<th class="hed-tr-bg"><div><span onclick="RemoveComp(' + CompareList[i].AgencyServiceId + ')" ><i class="fa fa-close"></i></span><a target="_blank" href="UserProfile/CompanyProfile/' + CompareList[i].AgencyId + '">' + CompareList[i].CompanyName + '</a></div>' +
                    '<div class="rating-rw"><span class="text-center"><i class="fa fa-star ' + str1 + '"></i></span>' +
                    ' <span class="text-center"><i class="fa fa-star ' + str2 + '"></i></span>' +
                    ' <span class="text-center"><i class="fa fa-star ' + str3 + '"></i></span>' +
                    ' <span class="text-center"><i class="fa fa-star ' + str4 + '"></i></span>' +
                    ' <span class="text-center"><i class="fa fa-star ' + str5 + '"></i></span><div>' + '</th>';
            }
            //thead = thead + '</tr><tr class="rating-rw"><th class="hed-tr-bg"></th>';


            thead = thead + '</tr> </thead>';

            var tbody = ' <tbody>';
            var le = 12 / (CompareList.length);
            //--------------------------------------Rows--------------------------------------------------------------------------
            var tr = '';

            for (var j = 0; j < ServiceList4CP.length; j++) {//------------------------to get tr-----------------------------------
                var charges = '<tr><td style="border-top: none !important;"></td>';


                if (ServiceList4CP[j].IsParent) {//----------------------Parent Service----------------------------------------
                    var servicefullexists = false;

                    for (var i = 0; i < CompareList.length; i++) {

                        for (var s = 0; s < CompareList[i].ServiceDetails.length; s++) {
                            if (CompareList[i].ServiceDetails[s].ServiceId == ServiceList4CP[j].ServiceId) {
                                servicefullexists = true;
                            }
                        }
                    }
                    var norow = tr + '';
                    var rownotexists = false;
                    if (!servicefullexists) {
                        tr = tr + '';
                    }
                    else {
                        tr = tr + '<tr class="accordion-toggle " id="accordion_md_' + j + '"  data-toggle="collapse" data-parent="#accordion_md_' + j + '" href="#collapse_md_' + j + '">';
                        tr = tr + ' <td style="border: none !important; width : 35px;" class="expand-button"></td>';
                        for (var i = 0; i < CompareList.length; i++) {//----------------------to get td inside tr------------------------------
                            var serviceexists = false;
                            for (var s = 0; s < CompareList[i].ServiceDetails.length; s++) {
                                if (CompareList[i].ServiceDetails[s].ServiceId == ServiceList4CP[j].ServiceId) {
                                    serviceexists = true;
                                    servicefullexists = true;
                                }
                            }
                            var defnoexists = false;
                            if (serviceexists) {
                                for (var s = 0; s < CompareList[i].ServiceDetails.length; s++) {
                                    if (CompareList[i].ServiceDetails[s].ServiceId == ServiceList4CP[j].ServiceId) {
                                        if (CompareList[i].ServiceDetails[s].IsParent) {
                                            var xsblist = [];
                                            $.each(CompareList[i].ServiceDetails, function (pos,xdets) {
                                                if (xdets.ParentId == CompareList[i].ServiceDetails[s].ServiceId) {
                                                    xsblist.push(xdets);
                                                }
                                            });
                                            var xsubF = [];
                                            var xFisPrnt = false;
                                            $.each(ServiceList4CP, function (pos,xdets) {
                                                if (xdets.ServiceId == CompareList[i].ServiceDetails[s].ServiceId && xdets.IsParent == true) {
                                                    xFisPrnt = true;
                                                }
                                            });
                                            if (xFisPrnt) {
                                                $.each(ServiceList4CP, function (pos,xdets) {
                                                    if (xdets.ParentId == CompareList[i].ServiceDetails[s].ServiceId) {
                                                        xsubF.push(xdets.ServiceId);
                                                    }
                                                });
                                                for (var xs = 0; xs < xsblist.length; xs++) {
                                                    var xsExists = false;
                                                    for (var ys = 0; ys < xsubF.length; ys++) {
                                                        if (xsblist[xs].ServiceId == xsubF[ys]) {
                                                            xsExists = true;
                                                        }
                                                    }
                                                    if (!xsExists && xsblist[xs].Option == "D") {
                                                        defnoexists = true;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    CompareList[i].ServiceDetails[s].DefNoExists = defnoexists;
                                }
                                 }
                            if (serviceexists && defnoexists != true) {
                                rownotexists = true;
                                tr = tr + '<td style="border: none !important;"><div class="form-check">' +
                                    '<input class="form-check-input address-sec" onclick="MD_ServiceCheck(event,this)" type = "checkbox" value = "' + ServiceList4CP[j].ServiceId + '" id = "md_P_AS' + CompareList[i].AgencyServiceId + '_SV' + ServiceList4CP[j].ServiceId + '" >' +
                                    '<label class="form-check-label" for="md_P_AS' + CompareList[i].AgencyServiceId + '_SV' + ServiceList4CP[j].ServiceId + '"> ' + ServiceList4CP[j].ServiceName + '</label></div ></td > ';

                                for (var s = 0; s < CompareList[i].ServiceDetails.length; s++) {//--------------to get charged amount------------------
                                    CompareList[i].ServiceDetails[s].Tat = CompareList[i].ServiceDetails[s].Tat == null ? "" : CompareList[i].ServiceDetails[s].Tat;
                                    if (CompareList[i].ServiceDetails[s].ServiceId == ServiceList4CP[j].ServiceId && CompareList[i].ServiceDetails[s].IsParent == true)
                                        charges = charges + '<td style="border-top: none !important;" class="ser-charg">Service Charge : ' + CompareList[i].ServiceDetails[s].Code + ' ' + CompareList[i].ServiceDetails[s].ActualAmount +
                                            '<p class="cancel">Turn Around Time : ' + CompareList[i].ServiceDetails[s].Tat + ' Days</p><p class="cancel">Cancellation Policy</p> </td>';
                                }
                                //--------------to get charged amount END------------------
                            }
                            else {
                                tr = tr + '<td style="border: none !important;"><div class="form-check"><label class="form-check-label" >_ </label></div></td>';

                                charges = charges + '<td style="border-top: none !important;" class="ser-charg"> <p class="cancel"></p> </td>';
                            }


                        }
                        //----------------------to get td inside tr END-------------------------
                        tr = tr + '</td>';
                        tr = tr + '<tr class="hide-table-padding"> <td style="border: none !important;"></td><td style="border: none !important;" colspan="' + CompareList.length + '"> ' +
                            '<div id="collapse_md_' + j + '" class="collapse in  tb-bg cmp-clp show"> <div class="row">';

                        //---------------------------------------------adding sub service---------------------------------
                        for (var i = 0; i < CompareList.length; i++) {
                            var serviceexists = false;
                            for (var s = 0; s < CompareList[i].ServiceDetails.length; s++) {
                                if (CompareList[i].ServiceDetails[s].ServiceId == ServiceList4CP[j].ServiceId) {
                                    serviceexists = true;
                                }
                            }
                         
                            var sublist = [];
                            tr = tr + ' <div class="col-' + le + '">'
                            if (serviceexists) {
                                for (var k = 0; k < CompareList[i].ServiceDetails.length; k++) {
                                    if (ServiceList4CP[j].ServiceId == CompareList[i].ServiceDetails[k].ParentId) {
                                        var defnoexists = false;
                                         $.each(CompareList[i].ServiceDetails, function (pos,xdets) {
                                                    if (xdets.ServiceId == CompareList[i].ServiceDetails[k].ParentId) {
                                                        defnoexists = xdets.DefNoExists;
                                                    }
                                         });
                                        if (defnoexists != true) {
                                            CompareList[i].ServiceDetails[k].Sort = CompareList[i].ServiceDetails[k].Sort == null ? 0 : CompareList[i].ServiceDetails[k].Sort;
                                        sublist.push(CompareList[i].ServiceDetails[k]);
                                        }
                                        
                                    }
                                }

                                if (sublist.length > 0) {
                                    sublist.sort(function (a, b) {
                                        return (a.Sort) - (b.Sort);
                                    });

                                    for (var k = 0; k < sublist.length; k++) {
                                        tr = tr + '<p class="signsub-title p-0 m-0"> [' + sublist[k].Option + '] ' + sublist[k].ServiceName + '</p>' +
                                            '<p  class="p-0">Service Charge : ' + sublist[k].Code + ' ' + sublist[k].ActualAmount + '</p>';

                                    }
                                }
                            }
                            else {
                                tr = tr + '<p class="signsub-title p-0 m-0">  </p>';
                            }
                            tr = tr + '</div>'
                        }
                        //----------------------------sub service END-----------------------------------------
                        tr = tr + ' </div> </div></td> </tr>';
                        tr = tr + charges + ' </tr>';
                    }
                    if (!rownotexists) {
                        tr = norow;
                    }
                }//----------------------Parent Service END---------------------------------------
                else if (!ServiceList4CP[j].ParentId > 0) {
                    var servicefullexists = false;

                    for (var i = 0; i < CompareList.length; i++) {
                        for (var s = 0; s < CompareList[i].ServiceDetails.length; s++) {
                            if (CompareList[i].ServiceDetails[s].ServiceId == ServiceList4CP[j].ServiceId && CompareList[i].ServiceDetails[s].IsParent == false && CompareList[i].ServiceDetails[s].ParentId == 0) {
                                servicefullexists = true;
                            }
                        }
                    }
                    if (!servicefullexists) {
                        tr = tr + '';
                    }
                    else {

                        tr = tr + '<tr><td style="border: none !important; width:35px;"></td>';
                        for (var i = 0; i < CompareList.length; i++) {//----------------------to get td inside tr------------------------------
                            var serviceexists = false;
                            for (var s = 0; s < CompareList[i].ServiceDetails.length; s++) {
                                if (CompareList[i].ServiceDetails[s].ServiceId == ServiceList4CP[j].ServiceId && CompareList[i].ServiceDetails[s].IsParent == false && CompareList[i].ServiceDetails[s].ParentId == 0) {
                                    serviceexists = true;
                                }
                            }
                            if (serviceexists) {
                                tr = tr + '<td style="border: none !important;"><div class="form-check">' +
                                    '<input class="form-check-input address-sec " onclick="MD_ServiceCheck(event,this)" type = "checkbox" value = "' + ServiceList4CP[j].ServiceId + '" id = "md_S_AS' + CompareList[i].AgencyServiceId + '_SV' + ServiceList4CP[j].ServiceId + '" >' +
                                    '<label class="form-check-label" for="md_S_AS' + CompareList[i].AgencyServiceId + '_SV' + ServiceList4CP[j].ServiceId + '"> ' + ServiceList4CP[j].ServiceName + '</label></div></td>';

                                for (var s = 0; s < CompareList[i].ServiceDetails.length; s++) {//--------------to get charged amount------------------
                                    if (CompareList[i].ServiceDetails[s].ServiceId == ServiceList4CP[j].ServiceId && CompareList[i].ServiceDetails[s].IsParent == false && CompareList[i].ServiceDetails[s].ParentId == 0)
                                        charges = charges + '<td style="border-top: none !important;" class="ser-charg">Service Charge : ' + CompareList[i].ServiceDetails[s].Code + ' ' + CompareList[i].ServiceDetails[s].ActualAmount +
                                            '<p class="cancel">Turn Around Time : ' + CompareList[i].ServiceDetails[s].Tat + ' Days</p><p class="cancel">Cancellation Policy</p> </td>';
                                }
                            }
                            else {
                                tr = tr + '<td style="border: none !important;"><div class="form-check">' +
                                    '<label class="form-check-label" for="md_Singlecheck_' + j + '"> _</label></div></td>';

                                charges = charges + '<td style="border-top: none !important;" class="ser-charg"> </td>';
                            }

                            //--------------to get charged amount END---------------
                        }
                        tr = tr + charges + ' </tr>';
                    }
                    //----------------------to get td inside tr END-----------------------------
                }


            }

            //--------------------------------------Rows END--------------------------------------------------------------------------
            tbody = tbody + tr + '</tbody>';
            html = html + thead + tbody + ' </table>' + ' </div>'
            $('#servicelist').append(html);
        }

        function PopulateModalService() {
            FMdServiceList = [];
            FMdServiceList = JSON.parse(JSON.stringify(ModalServiceList));
            for (var i = 0; i < FMdServiceList.length; i++) {
                FMdServiceList.IsChecked = false;
            }
            if (FilterGlobal.FilterByService.length > 0) {
                for (var i = 0; i < FMdServiceList.length; i++) {
                    if (FMdServiceList[i].IsParent) {
                        for (var k = 0; k < FilterGlobal.FilterByService.length; k++) {
                            if (FilterGlobal.FilterByService[k].ServiceId == FMdServiceList[i].ServiceId && FilterGlobal.FilterByService[k].IsParent) {
                                FMdServiceList[i].IsChecked = true;
                                for (var s = 0; s < FMdServiceList.length; s++) {
                                    if (FMdServiceList[s].ParentId == FMdServiceList[i].ServiceId) {
                                        FMdServiceList[s].IsChecked = true;
                                    }
                                }
                            }
                        }

                    }
                    else if (!FMdServiceList[i].ParentId > 0) {
                        for (var k = 0; k < FilterGlobal.FilterByService.length; k++) {
                            if (FilterGlobal.FilterByService[k].ServiceId == FMdServiceList[i].ServiceId && FilterGlobal.FilterByService[k].IsParent == false
                                && FilterGlobal.FilterByService[k].ParentId == 0) {
                                FMdServiceList[i].IsChecked = true;
                            }
                        }
                    }
                    else if (FMdServiceList[i].ParentId > 0) {
                        for (var k = 0; k < FilterGlobal.FilterByService.length; k++) {
                            if (FilterGlobal.FilterByService[k].ServiceId == FMdServiceList[i].ServiceId
                                && FilterGlobal.FilterByService[k].ParentId == FMdServiceList[i].ParentId) {
                                FMdServiceList[i].IsChecked = true;
                                for (var s = 0; s < FMdServiceList.length; s++) {
                                    if (FMdServiceList[s].ParentId == FMdServiceList[i].ParentId || FMdServiceList[s].ServiceId == FMdServiceList[i].ParentId) {
                                        FMdServiceList[s].IsChecked = true;
                                    }
                                }
                            }

                        }
                    }


                }
            }
            //else {
            //    for (var i = 0; i < FMdServiceList.length; i++) {
            //        FMdServiceList[i].IsChecked = true;
            //    }
            //}
            var data = FMdServiceList;
            ReloadModalService(data)

        }
        function ReloadModalService(data) {
            $('#Modal_ServiceList_div').empty();
            var html = '';
            //html = ' <aside><button class="btn btn-inner-square w-btn" onclick=ModalFilterAgency() type="button">Apply Filter</button>  <div class="accordion" id="accordionExample2">';
            for (var i = 0; i < data.length; i++) {

                if (data[i].IsParent == true) {
                    var sublist = [];
                    var subservice = '<div class="card-body">';
                    for (var j = 0; j < data.length; j++) {
                        if (data[i].ServiceId == data[j].ParentId) {
                            data[j].Sort = data[j].Sort == null ? 0 : data[j].Sort;
                            sublist.push(data[j]);
                        }
                    }
                    if (sublist.length > 0) {
                        sublist.sort(function (a, b) {
                            return (a.Sort) - (b.Sort);
                        });

                        for (var j = 0; j < sublist.length; j++) {
                            var subchecked = '';
                            if (sublist[j].IsChecked) {
                                subchecked = 'checked';
                            }
                            subservice = subservice +
                                '  <a class="dropdown-item-sign" href="javascript:void(0)"><label class="checkbox_label" ><input style="top:0" onclick="ModalSubCheck(' + sublist[j].ParentId + ',this,' + sublist[j].ServiceId + ')" class="Modalsubservice" id="ModalSub' + sublist[j].ParentId + '" type="checkbox" value="' + sublist[j].ServiceId + '" ' + subchecked + ' > ' + sublist[j].ServiceName + '</label></a>'


                        }
                    }
                    var checked = '';
                    if (data[i].IsChecked) {
                        checked = 'checked';
                    }
                    subservice = subservice + ' </div>';
                    html = html + '<div class="card">' +
                        ' <div class="card-header" id="heading' + data[i].ServiceId + '">' +
                        ' <h2 class="mb-0">' +
                        '<button class="btn btn-sign pr-clps" type="button"   data-toggle="collapse" data-target="#Modalcollapse' + data[i].ServiceId + '" aria-expanded="true" aria-controls="collapse' + data[i].ServiceId + '">' +
                        data[i].ServiceName +
                        ' </button>' +
                        '  <input class="form-check-input text-right mt-3 Modalparentservice" style="top:0" type="checkbox" value="' + data[i].ServiceId + '" id="ModalParentCheck' + data[i].ServiceId + '" ' + checked + ' onclick="ModalCheckParent(' + data[i].ServiceId + ',\'Modalcollapse' + data[i].ServiceId + '\',' + data[i].ServiceId + ')">' +
                        '</h2>' +
                        ' </div>' +

                        '<div id="Modalcollapse' + data[i].ServiceId + '" class="collapse show" aria-labelledby="heading' + data[i].ServiceId + '" data-parent="#accordionExample2">' +
                        subservice +
                        ' </div>' +
                        ' </div>'


                }
                else if (!data[i].ParentId > 0) {
                    var checked = '';
                    if (data[i].IsChecked) {
                        checked = 'checked';
                    }
                    html = html + '<div class="card">' +
                        ' <div class="card-header" id="Modalheading' + data[i].ServiceId + '">' +
                        ' <h2 class="mb-0">' +
                        '<button class="btn btn-sign" type="button" >' +
                        data[i].ServiceName +
                        ' </button>' +
                        '  <input class="form-check-input text-right mt-3 Modalsingleservice" onclick="ModalSinglePChecked(' + data[i].ServiceId + ',this)" type="checkbox" value="' + data[i].ServiceId + '"  ' + checked + '>' +
                        '</h2>' +
                        ' </div></div>';
                }
            }
            if (data.length == 0) {
                html = '<div class="card">' +
                    ' <div class="card-header" >' +
                    '<p style="text-align:center">No Service Found</p>' +
                    ' </div></div>'
            }
            //html = html + ' </div> </aside>';
            $('#Modal_ServiceList_div').append(html);
        }
        function ModalCheckParent(id, element, ServiceId) {
            for (var i = 0; i < FMdServiceList.length; i++) {
                if (FMdServiceList[i].ServiceId == ServiceId && FMdServiceList[i].IsParent == true) {
                    FMdServiceList[i].IsChecked = $('#ModalParentCheck' + ServiceId).is(':checked');
                }
                if (FMdServiceList[i].ParentId == ServiceId) {
                    FMdServiceList[i].IsChecked = $('#ModalParentCheck' + ServiceId).is(':checked');
                }
            }
            $('#' + element).find('input[type=checkbox]:checked').removeAttr('checked');
            $('#' + element).find('input[type=checkbox]').each(function () {
                $(this).prop("checked", $('#ModalParentCheck' + ServiceId).is(':checked'));

            });
            ModalFilterAgency()

        }

        function ModalSubCheck(parent, el, ServiceId) {
            var p = document.getElementById('ModalParentCheck' + parent + '')
            for (var i = 0; i < FMdServiceList.length; i++) {
                if (FMdServiceList[i].ServiceId == ServiceId && FMdServiceList[i].IsParent == false && FMdServiceList[i].ParentId == parent) {
                    FMdServiceList[i].IsChecked = el.checked;
                }

            }
            if (el.checked) {
                if (!p.checked) {
                    $(p).prop("checked", true)
                    for (var i = 0; i < FMdServiceList.length; i++) {
                        if (FMdServiceList[i].ServiceId == parent && FMdServiceList[i].IsParent == true) {
                            FMdServiceList[i].IsChecked = true;
                        }

                    }
                }
            }
            else {
                var ischk = false;
                $('#Modalcollapse' + parent).find('input[type=checkbox]').each(function () {
                    if (this.checked) {
                        ischk = true;
                    }
                });
                if (!ischk) {
                    $(p).prop("checked", false)
                    for (var i = 0; i < FMdServiceList.length; i++) {
                        if (FMdServiceList[i].ServiceId == parent && FMdServiceList[i].IsParent == true) {
                            FMdServiceList[i].IsChecked = false;
                        }

                    }
                }
            }
            ModalFilterAgency()
        }

        function ModalSinglePChecked(ServiceId, el) {
            for (var i = 0; i < FMdServiceList.length; i++) {
                if (FMdServiceList[i].ServiceId == ServiceId && FMdServiceList[i].IsParent == false && FMdServiceList[i].ParentId == 0) {
                    FMdServiceList[i].IsChecked = $(el).is(':checked');
                }

            }
            ModalFilterAgency()
        }

        function ModalFilterAgency() {
            var filterlist = [];
            for (var i = 0; i < FMdServiceList.length; i++) {
                if (FMdServiceList[i].IsChecked == true) {
                    filterlist.push({
                        ServiceId: FMdServiceList[i].ServiceId,
                        ParentId: FMdServiceList[i].ParentId,
                        IsParent: FMdServiceList[i].IsParent
                    });
                }
            }
            PopulateCompareTable();
        }

        function RemoveComp(id) {
            if (CompareList.length <= 2) {
                toastr.error("At least 2 agencies are required for comparison");
                return;
            }
            var index = -1;
            for (var i = 0; i < CompareList.length; i++) {
                if (CompareList[i].AgencyServiceId == id) {
                    index = i;
                }
            }
            if (index != -1) {
                CompareList.splice(index, 1);
                PopulateCompareTable();
                LoadAgentsForCompare()
            }
        }

        function MD_ServiceCheck(event, element) {
            event.stopPropagation();
        }

        function SF_Search(el) {
            var value = $(el).val();
            if (value == "" || value == undefined || value == null) {
                PopulateService(ModalServiceList);
                return;
            }
            value = value.toUpperCase();
            var filtered = [];
            for (var i = 0; i < ModalServiceList.length; i++) {
                if (ModalServiceList[i].ServiceName.toUpperCase().indexOf(value) > -1 && ModalServiceList[i].IsParent == true) {
                    filtered.push(ModalServiceList[i]);
                }
            }
            for (var i = 0; i < ModalServiceList.length; i++) {
                for (var j = 0; j < filtered.length; j++) {
                    if (filtered[j].ServiceId == ModalServiceList[i].ParentId) {
                        filtered.push(ModalServiceList[i]);
                    }
                }
            }
            for (var i = 0; i < ModalServiceList.length; i++) {
                if (ModalServiceList[i].ServiceName.toUpperCase().indexOf(value) > -1 && ModalServiceList[i].IsParent == false && ModalServiceList[i].ParentId == 0) {
                    filtered.push(ModalServiceList[i]);
                }
            }
            var childlist = [];
            for (var i = 0; i < ModalServiceList.length; i++) {
                if (ModalServiceList[i].ServiceName.toUpperCase().indexOf(value) > -1 && ModalServiceList[i].IsParent == false && ModalServiceList[i].ParentId > 0) {
                    childlist.push(ModalServiceList[i]);
                }
            }
            var parentlist = [];
            for (var i = 0; i < ModalServiceList.length; i++) {
                for (var j = 0; j < childlist.length; j++) {
                    if (childlist[j].ParentId == ModalServiceList[i].ServiceId) {
                        parentlist.push(ModalServiceList[i]);
                    }
                }
            }
            for (var i = 0; i < parentlist.length; i++) {
                var parentexists = false;
                for (var j = 0; j < filtered.length; j++) {
                    if (parentlist[i].ServiceId == filtered[j].ServiceId && filtered[j].IsParent == true) {
                        parentexists = true;
                    }
                }
                if (parentexists != true) {
                    filtered.push(parentlist[i]);
                    for (var j = 0; j < ModalServiceList.length; j++) {
                        if (ModalServiceList[j].ParentId == parentlist[i].ServiceId) {
                            filtered.push(ModalServiceList[j]);
                        }
                    }

                }
            }
            filtered.sort(function (a, b) {
                return (a.ServiceId) - (b.ServiceId);
            });
            PopulateService(filtered);

        }

        function MSF_Search(el) {
            var value = $(el).val();
            if (value == "" || value == undefined || value == null) {
                ReloadModalService(FMdServiceList);
                return;
            }
            value = value.toUpperCase();
            var filtered = [];
            for (var i = 0; i < FMdServiceList.length; i++) {
                if (FMdServiceList[i].ServiceName.toUpperCase().indexOf(value) > -1 && FMdServiceList[i].IsParent == true) {
                    filtered.push(FMdServiceList[i]);
                }
            }
            for (var i = 0; i < FMdServiceList.length; i++) {
                for (var j = 0; j < filtered.length; j++) {
                    if (filtered[j].ServiceId == FMdServiceList[i].ParentId) {
                        filtered.push(FMdServiceList[i]);
                    }
                }
            }
            for (var i = 0; i < FMdServiceList.length; i++) {
                if (FMdServiceList[i].ServiceName.toUpperCase().indexOf(value) > -1 && FMdServiceList[i].IsParent == false && FMdServiceList[i].ParentId == 0) {
                    filtered.push(FMdServiceList[i]);
                }
            }
            var childlist = [];
            for (var i = 0; i < FMdServiceList.length; i++) {
                if (FMdServiceList[i].ServiceName.toUpperCase().indexOf(value) > -1 && FMdServiceList[i].IsParent == false && FMdServiceList[i].ParentId > 0) {
                    childlist.push(FMdServiceList[i]);
                }
            }
            var parentlist = [];
            for (var i = 0; i < FMdServiceList.length; i++) {
                for (var j = 0; j < childlist.length; j++) {
                    if (childlist[j].ParentId == FMdServiceList[i].ServiceId) {
                        parentlist.push(FMdServiceList[i]);
                    }
                }
            }
            for (var i = 0; i < parentlist.length; i++) {
                var parentexists = false;
                for (var j = 0; j < filtered.length; j++) {
                    if (parentlist[i].ServiceId == filtered[j].ServiceId && filtered[j].IsParent == true) {
                        parentexists = true;
                    }
                }
                if (parentexists != true) {
                    filtered.push(parentlist[i]);
                    for (var j = 0; j < FMdServiceList.length; j++) {
                        if (FMdServiceList[j].ParentId == parentlist[i].ServiceId) {
                            filtered.push(FMdServiceList[j]);
                        }
                    }

                }
            }
            filtered.sort(function (a, b) {
                return (a.ServiceId) - (b.ServiceId);
            });
            ReloadModalService(filtered);

        }

        function round(value, decimals) {
            var sign = '1';
            sign = Math.sign(value);
            if (sign == '-1') {
                value = value * -1;
                var value2 = value.toLocaleString('fullwide', { useGrouping: false });
                var num = Number(Math.round(value2 + 'e' + decimals) + 'e-' + decimals);
                num = num * -1;
                return num;
            }
            else {
                var value2 = value.toLocaleString('fullwide', { useGrouping: false });
                return Number(Math.round(value2 + 'e' + decimals) + 'e-' + decimals);
            }

        }

        function LoadAgentsForCompare() {
            if (filtered) {
                FilterGlobal.IsFirst = false;
            }
            else {
                 FilterGlobal.IsFirst = true;
            }
            filterlist = [];
            var allchecked = true;
            for (var i = 0; i < ModalServiceList.length; i++) {
                if (ModalServiceList[i].IsChecked == true) {
                    filterlist.push({
                        ServiceId: ModalServiceList[i].ServiceId,
                        ParentId: ModalServiceList[i].ParentId,
                        IsParent: ModalServiceList[i].IsParent
                    });
                }
                if (ModalServiceList[i].IsChecked != true) {
                    allchecked = false;
                }
            }
            FilterGlobal.AllChecked = allchecked;
            FilterGlobal.FilterByService = filterlist;
            AddCompareAgentList = [];
            $.ajax({
                type: 'POST',
                url: '/Owner/GetAgentsForCompare',
                data: FilterGlobal,
                dataType: "JSON",
                success: function (resultData) {
                    $('#CmprAgents').empty();
                    var html = '<option value="">Add agency</option>';
                    if (resultData.AgencyServiceList.length > 0) {
                        AddCompareAgentList = resultData.AgencyServiceList;
                        for (var i = 0; i < resultData.AgencyServiceList.length; i++) {
                            var agentexts = false;
                            for (var j = 0; j < CompareList.length; j++) {
                                if (resultData.AgencyServiceList[i].AgencyId == CompareList[j].AgencyId) {
                                    agentexts = true;
                                }
                            }
                            if (!agentexts) {
                                html = html + '<option value=' + resultData.AgencyServiceList[i].AgencyId + '>' + resultData.AgencyServiceList[i].CompanyName + '</option>';
                            }
                            
                        }
                    }
                      $('#CmprAgents').append(html);

                },
                error: function (xhr, error, code) {
                    viewclick = false;
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });
        }
        function AddCompareAgency(el) {
            var AgencyId = el.value;
            if (AgencyId == "" || AgencyId == undefined || AgencyId == null) {
                AgencyId = 0;
                return;
            }
            if (AgencyId > 0) {
                if (CompareList.length == 4) {
                     toastr.error("You can compare only up to 4 Agencies at a time");
                return;
                }
                for (var i = 0; i < AddCompareAgentList.length; i++) {
                    if (AddCompareAgentList[i].AgencyId == AgencyId) {
                        CompareList.push(AddCompareAgentList[i]);
                    }
                }
            }
            PopulateCompareTable();
            LoadAgentsForCompare();
        }
    </script>
}
