﻿<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title | PORTKART</title>
@Styles.Render("~/Content/css")
@Styles.Render("~/dist/css/custom.css")
@Styles.Render("~/dist/css/toastr.css")
@Scripts.Render("~/bundles/modernizr")
@using Domain
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/dist/js/toastr.js"></script>
<link rel="icon" sizes="192x192" href="~/dist/img/cticon.png">
<style>
    table {
        width: 100%
    }

        table tr td {
            border: solid 1px #EFEFEF;
            background: #fbfbfb;
            padding: 3px 10px;
            font-size: 15px
        }

            table tr td:last-child a {
                float: left;
                width: 25px;
                height: 25px;
                margin: 4px;
                border-radius: 100%;
                display: flex;
                color: white;
                justify-content: center;
                align-items: center;
               background: #546d96;
    border: solid 1px #737373;
            }

                table tr td:last-child a img {
                    /*padding-top: 5px;
                padding-bottom: 0px;*/
                    /*border-radius: 0% !important;
                padding-left: 0px;
                padding-bottom: 0px;*/
                    width: 13px;
                }

                table tr td:last-child a:first-child {
                    /*background: #dbf0f0 !important;
                border: solid 1px #b4d4d4 !important;*/
                }

                table tr td:last-child a:last-child {
                    /*background: #fae8dd;
                border: solid 1px #f1ccb5*/
                }

        table tr th {
            background: #dee2e6;
            color: #3e3e3e;
            padding: 10px 10px;
            text-shadow: none;
            font-weight: 400;
            font-size: 16px;
            border: 0px solid #fff;
        }

        table tr:hover td {
            background: #ced6e3;
            color: #000000;
            position: relative
        }

            table tr:hover td:first-child:after {
                width: 3px;
                background: #546d96;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                content: ''
            }

             .ui-datepicker {
        z-index: 10000 !important;
        border-radius: 10px;
        overflow: hidden;
    }

    .ui-datepicker-header {
        display: flex;
        justify-content: space-between;
        background: #546d96;
        padding: 5px 10px;
    }

    a.ui-datepicker-prev span {
        color: #FFF;
    }

    a.ui-datepicker-next span {
        color: #FFF;
    }

    .ui-datepicker-month {
        color: #fff;
    }

    .ui-datepicker-year {
        color: #fff;
    }

    .ui-datepicker-next, .ui-datepicker-prev {
        cursor: pointer;
    }

    .ui-datepicker-title {
        width: 120px;
    }

     .ui-datepicker-month, .ui-datepicker-year {
        color: black;
    }
     #profile_tab:before{
         display:none;
     }
     #profile_tab:after{
         display:none;
     }
     .proficon{
             height: 14px;
    width: 20px;
    position: absolute;
    left: 14px;
     }
/* my positioning css */
._profile {
  position: absolute;
  top: 168%;
  left: 41%;
  margin: -5em 0 0 -5em;
}

/* main icon */
._profile {
	height: 20px; /* height == width */
	width: 20px;
	border: 1px solid #666;
	border-radius: 50%;
	overflow: hidden;
}
/* profile head */
._head {
	background: #666;
	border-radius: 100%;
	width: 45%;
	height: 45%;
	margin: 15% auto 5%;
}
#profile_tab:hover > ._profile ._head,#profile_tab:hover > ._profile ._body{
    background:white;
}
#profile_tab:hover > ._profile{
    border-color:white
}
/* profile body */
._body {
	background: #666;
	width: 65%;
	height: 40%;
	margin: auto;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
</style>
<script>
    $(function () {
        var message = '@TempData["Message"]';
        var messageType = '@TempData["MessageType"]';
        if (messageType != '') {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 100,
                "fadeOut": 50,
                "timeOut": 1000,
                "extendedTimeOut": 1000
            }
            toastr.options.o
            if (messageType == 'SUCCESS') {
                toastr.success(message);
            }
            else if (messageType == 'ERROR') {
                toastr.error(message);
            }
        }
    })
    $(function () {
         $("input[type='text'], textarea, input[type='number'], input[type='datetime'],input[type='email'],input[type='password'], select").each(function () {
             var req = $(this).attr('data-val-required') || $(this).attr('required');
              if (undefined != req) {
                                    var label = $('label[for="' + $(this).attr('id') + '"]');
                                    var text = label.text();
                                    if (text.length > 0) {
                                        label.append('<span style="color:red"> *</span>');
                                    }
               }
         });
    });
    $(document).ready(function () {
        if ($('#IsActive').length) {
            var abc = $('#IsActive').val();
            if ($('#IsActive').val().toUpperCase() == "TRUE") {
                $("#chkIsActive").attr("checked", "checked");
            }
            else {
                $("#chkIsActive").removeAttr("checked");
            }
        }
        $('#chkIsActive').change(function () {
            if (this.checked) {
                $('#IsActive').val("true");
            } else {
                $('#IsActive').val("false");
            }
        });
        $(".logout, .dashboard-home-img").click(function () {
            var activeMenuSessionStorage = sessionStorage.getItem('SelectedMenu');
            if (!isNaN(activeMenuSessionStorage)) {
                sessionStorage.removeItem('SelectedMenu');
            }
        })

        $("select").each(function () {
            if ($(this).val() > 0) {
                $(this).removeClass("default");
            }
        })
    });
</script>
<body>
    <div class="dashboard-container">
        <div class="left-panel green-gradient" id="leftPanel">
            <button class="panel-toogle" id="widthToggle">
                <div></div>
                <div></div>
                <div></div>
            </button>
            <div class="frame">
                <div class="brand width-100 text-center">@*<img style="background:white" src="~/dist/img/cetacean_logo.png" alt="CETACEAN">*@</div>
                <div class="app-name width-100 text-center uppercase">
                    <h1>
                        PORTKART
                        @*<small class="width-100">Business Solutions</small>*@
                    </h1>
                </div>
                <nav class="main-menu-nav">
                    @{Html.RenderAction("MenuLayout", "RoleMenu");}
                </nav>
            </div>
        </div>
        <div class="right-panel" id="rightPanel">
            <nav class="top-bar width-100">
                <div class="topbar-logo" id="topbarLogo">
                    PORTKART
                </div>
                <ul id="topNav">
                    <li class="top-nav dropdown" id="userTop">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="-294 386.1 22.1 20.9" style="enable-background:new -294 386.1 22.1 20.9;" xml:space="preserve">
                        <g id="Group_9" transform="translate(-213.404 -233.017)">
                        <path class="st0" d="M-69,632.1c-3.6,0-6.5-2.9-6.5-6.5s2.9-6.5,6.5-6.5s6.5,2.9,6.5,6.5S-65.4,632.1-69,632.1z M-69,620.4
                                    c-2.9,0-5.2,2.3-5.2,5.2s2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2S-66.1,620.4-69,620.4z" />















                        <path class="st0" d="M-79.5,640l-1.1-0.7c3.5-6.1,11.4-8.2,17.5-4.6c1.9,1.1,3.5,2.7,4.6,4.5l-1.1,0.7c-1-1.7-2.4-3.1-4.1-4.1
                                    C-69.2,632.7-76.3,634.5-79.5,640z" /></g>
                       </svg>
                        <button onclick="showSubTop(event)" class="profile-btn"></button>
                        <div class="profile" id="profile">
                            <strong id="userName" onclick="showSub(event)">@Session["UserFullName"].ToString()</strong>
                            <small class="width-100" onclick="showSubTop(event)">@Session["UserRoleName"].ToString()</small>
                        </div>
                        <ul class="logout">
                            <li>
                                <strong>@Session["UserFullName"].ToString()</strong>
                                <small>@Session["UserRoleName"].ToString()</small>
                            </li>
                            <li><a href="@Url.Action("Index", "UserProfile")" id="profile_tab"><div class='_profile'>
    <div class='_head'></div>
    <div class='_body'></div>
</div>Profile</a></li>
                            <li><a href="@Url.Action("Logout", "Login")">Logout</a></li>
                        </ul>
                    </li>
                    <!--
                    <li class="top-nav dropdown" id="notification" onclick="showSubTop(event)">
                        <a href="#">
                            <div class="count">12</div>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.383 22">
                                <path id="Path_153" data-name="Path 153" d="M13.4,13.382V9.947A7.392,7.392,0,0,0,8.28,2.876V2.146a2.2,2.2,0,0,0-4.4,0v.731A7.392,7.392,0,0,0-1.236,9.947v3.435A2.314,2.314,0,0,0-2.611,15.5v1.113a2.348,2.348,0,0,0,2.35,2.334H2.706a3.394,3.394,0,0,0,6.748,0h2.967a2.348,2.348,0,0,0,2.35-2.334V15.5A2.315,2.315,0,0,0,13.4,13.382ZM4.98,2.146a1.1,1.1,0,0,1,2.2,0v.477a7.6,7.6,0,0,0-2.2,0Zm1.1,1.5a6.265,6.265,0,0,1,6.216,6.3v3.225H-.136V9.947A6.265,6.265,0,0,1,6.08,3.643Zm0,17.227a2.288,2.288,0,0,1-2.264-1.922H8.344A2.287,2.287,0,0,1,6.08,20.87Zm7.591-4.258a1.236,1.236,0,0,1-1.236,1.236H-.274a1.236,1.236,0,0,1-1.236-1.236v-1.1A1.237,1.237,0,0,1-.274,14.272H12.435a1.237,1.237,0,0,1,1.236,1.236Z" transform="translate(2.611 0.03)" />
                            </svg>
                        </a>
                        <ul>
                            <li><a href="http://jsfiddle.net/5GCsJ/954/">Notification 1</a></li>
                            <li><a href="#">Notification 2</a></li>
                            <li><a href="#">Notification 3</a></li>
                        </ul>
                    </li>
                    <li class="top-nav dropdown" id="settings" onclick="showSubTop(event)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.333 22.333">
                            <g id="Group_57" data-name="Group 57" transform="translate(-16.001 -16)">
                                <path id="Path_150" data-name="Path 150" d="M34.209,59.186a.668.668,0,1,0-.945.945L34.13,61a.875.875,0,0,1,0,1.238l-.022.022a.875.875,0,0,1-1.238,0L32,61.39a.67.67,0,0,0-.843-.084A7.144,7.144,0,0,1,28.6,62.371a.67.67,0,0,0-.537.655v1.223a.876.876,0,0,1-.875.875h-.031a.876.876,0,0,1-.875-.875V63.026a.67.67,0,0,0-.537-.655,7.146,7.146,0,0,1-2.566-1.064.67.67,0,0,0-.843.084l-.866.866a.875.875,0,0,1-1.238,0l-.022-.022a.875.875,0,0,1,0-1.238l.866-.866a.67.67,0,0,0,.084-.843,7.146,7.146,0,0,1-1.064-2.566.67.67,0,0,0-.655-.537H18.212a.876.876,0,0,1-.875-.875v-.031a.876.876,0,0,1,.875-.875h1.223a.67.67,0,0,0,.655-.537A7.148,7.148,0,0,1,21.155,51.3a.67.67,0,0,0-.084-.843l-.866-.866a.875.875,0,0,1,0-1.238l.022-.022a.875.875,0,0,1,1.238,0l.866.866a.668.668,0,0,0,.945-.945l-.866-.866a2.211,2.211,0,0,0-3.127,0l-.022.022a2.211,2.211,0,0,0,0,3.128l.491.491a8.478,8.478,0,0,0-.846,2.039h-.694A2.214,2.214,0,0,0,16,55.278v.031a2.214,2.214,0,0,0,2.211,2.211h.694a8.472,8.472,0,0,0,.846,2.039l-.491.491a2.211,2.211,0,0,0,0,3.128l.022.022a2.211,2.211,0,0,0,3.127,0l.491-.491a8.463,8.463,0,0,0,2.039.846v.694a2.214,2.214,0,0,0,2.211,2.212h.031a2.214,2.214,0,0,0,2.212-2.212v-.694a8.462,8.462,0,0,0,2.039-.846l.491.491a2.211,2.211,0,0,0,3.127,0l.022-.022a2.211,2.211,0,0,0,0-3.127Z" transform="translate(0 -28.127)" />
                                <path id="Path_151" data-name="Path 151" d="M132.393,24.94H131.7a8.464,8.464,0,0,0-.846-2.039l.491-.491a2.214,2.214,0,0,0,0-3.127l-.022-.022a2.211,2.211,0,0,0-3.127,0l-.491.491a8.476,8.476,0,0,0-2.039-.846v-.694A2.214,2.214,0,0,0,123.454,16h-.031a2.214,2.214,0,0,0-2.212,2.212v1.223a.668.668,0,0,0,1.336,0V18.212a.876.876,0,0,1,.875-.875h.031a.876.876,0,0,1,.875.875v1.223a.67.67,0,0,0,.537.655,7.148,7.148,0,0,1,2.566,1.064.67.67,0,0,0,.843-.084l.866-.866a.875.875,0,0,1,1.238,0l.022.022a.875.875,0,0,1,0,1.238l-.866.866a.67.67,0,0,0-.084.843,7.146,7.146,0,0,1,1.064,2.566.67.67,0,0,0,.655.537h1.223a.876.876,0,0,1,.875.875v.031a.876.876,0,0,1-.875.875H131.17a.668.668,0,0,0,0,1.336h1.223a2.214,2.214,0,0,0,2.212-2.211v-.031A2.214,2.214,0,0,0,132.393,24.94Z" transform="translate(-96.27)" />
                                <path id="Path_152" data-name="Path 152" d="M117.36,118.815a1.439,1.439,0,0,1-.916-.324.668.668,0,0,0-.841,1.038,2.791,2.791,0,1,0-1.035-2.169.668.668,0,0,0,1.336,0,1.455,1.455,0,1,1,1.455,1.455Z" transform="translate(-90.193 -90.193)" />
                            </g>
                        </svg>
                        <ul>
                            <li><a href="#">Setting 1</a></li>
                            <li><a href="#">Setting 2</a></li>
                            <li><a href="#">Setting 3</a></li>
                        </ul>
                    </li>
                        -->
                    <li class="top-nav dropdown" id="dashboard">
                        <a href="@Url.Action("Index", "Dashboard")"><img class="dashboard-home-img" src="~/dist/img/home.svg" alt="Home"></a>
                    </li>
                </ul>
            </nav>
            <div class="width-100 right-panel-style">
                @RenderBody()
                <footer class="fixed-bottom pl-4 pr-4 text-center ml-auto">
                    <hr />
                    <p>&copy; @DateTime.Now.Year - PORTKART</p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/dist/login/assets/js/popper.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/dist/js/script.js")
    @RenderSection("scripts", required: false)
</body>
