﻿<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title | PORTKART</title>

<link href="~/dist/theme/css/font-awesome.css" rel="stylesheet" />
<link href="~/dist/theme/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/dist/theme/css/style.css" rel="stylesheet" />

<link href="~/dist/theme/css/bootstrap.css" rel="stylesheet" />
@*<link href="~/Content/Site.css" rel="stylesheet" />*@
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="~/dist/theme/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
@Styles.Render("~/dist/css/toastr.css")
@Scripts.Render("~/bundles/modernizr")
<link href="~/dist/IntlInput/css/intlTelInput.min.css" rel="stylesheet" />
@using Domain
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/dist/js/toastr.js"></script>
<link rel="icon" sizes="192x192" href="~/dist/img/cticon.png">
@{var Role = "";
    if (Session["UserRoleName"].ToString() == "SuperAdmin" || Session["UserRoleName"].ToString() == "Admin")
    {
        Role = "Admin";
    }
    else if (Session["UserGroup"].ToString() == "Owner")
    {
        Role = "Owner";
    }
    else if (Session["UserGroup"].ToString() == "Agency")
    {
        Role = "Agency";
    }
}
<style>

    table > thead > tr:nth-child(2) {
        background-color: #c6d6ff;
    }

    table tr td:last-child a {
        float: left;
        width: 20px;
        height: 22px;
        margin: 4px;
        border-radius: .25em;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        background: #546d96;
    }

        table tr td:last-child a img {
            width: 13px;
        }


    .ui-datepicker {
        z-index: 10000 !important;
        border-radius: 10px;
        overflow: hidden;
    }

    .ui-datepicker-header {
        display: flex;
        justify-content: space-between;
        background: #546d96;
        padding: 5px 10px;
    }

    a.ui-datepicker-prev span {
        color: #FFF;
    }

    a.ui-datepicker-next span {
        color: #FFF;
    }

    .ui-datepicker-month {
        color: #fff;
    }

    .ui-datepicker-year {
        color: #fff;
    }

    .ui-datepicker-next, .ui-datepicker-prev {
        cursor: pointer;
    }

    .ui-datepicker-title {
        width: 120px;
    }

    .ui-datepicker-month, .ui-datepicker-year {
        color: black;
    }
    
</style>
<script>
    $(function () {
          toastr.options = {
                 "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 100,
                "fadeOut": 0,
                "timeOut": 2000,
                "extendedTimeOut": 0,
                "closeButton":true
            }
        var message = '@TempData["Message"]';
        var messageType = '@TempData["MessageType"]';
        if (messageType != '') {

            toastr.options.o
            if (messageType == 'SUCCESS') {
                toastr.success(message);
            }
            else if (messageType == 'ERROR') {
                toastr.error(message);
            }
        }
    })
    $(function () {
         $("input[type='text'], textarea, input[type='number'], input[type='datetime'],input[type='email'],input[type='password'], select").each(function () {
             var req = $(this).attr('data-val-required') || $(this).attr('required');
              if (undefined != req) {
                                    var label = $('label[for="' + $(this).attr('id') + '"]');
                                    var text = label.text();
                                    if (text.length > 0) {
                                        label.append('<span style="color:red"> *</span>');
                                    }
               }
         });
    });
    $(document).ready(function () {
        if ($('#IsActive').length) {
            var abc = $('#IsActive').val();
            if ($('#IsActive').val().toUpperCase() == "TRUE") {
                $("#chkIsActive").attr("checked", "checked");
            }
            else {
                $("#chkIsActive").removeAttr("checked");
            }
        }
        $('#chkIsActive').change(function () {
            if (this.checked) {
                $('#IsActive').val("true");
            } else {
                $('#IsActive').val("false");
            }
        });
          if ($('#IsGroup').length) {
            var abc = $('#IsGroup').val();
            if ($('#IsGroup').val().toUpperCase() == "TRUE") {
                $("#chkIsGroup").attr("checked", "checked");
            }
            else {
                $("#chkIsGroup").removeAttr("checked");
            }
        }
        $('#chkIsGroup').change(function () {
            if (this.checked) {
                $('#IsGroup').val("true");
            } else {
                $('#IsGroup').val("false");
            }
        });
        $(".logout, .dashboard-home-img").click(function () {
            var activeMenuSessionStorage = sessionStorage.getItem('SelectedMenu');
            if (!isNaN(activeMenuSessionStorage)) {
                sessionStorage.removeItem('SelectedMenu');
            }
        })

        $("select").each(function () {
            if ($(this).val() > 0) {
                $(this).removeClass("default");
            }
        })
    });
</script>
<body>
    <div id="wrapper" class="toggled">

        <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <h2>PortKart</h2>
            </div>


            @{Html.RenderAction("MenuLayout2", "RoleMenu");}
        </aside>


        <div id="navbar-wrapper">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav nav-pills">
                        @if (Role == "Owner")
                        {
                            <li class="nav-item sep"><a onclick="sessionStorage.removeItem('SelectedMenu'); return true;" class="nav-link seprate" href="@Url.Action("Index", "Owner")"> Home</a></li>
                            <li class="nav-item sep"><a class="nav-link" href="#"> Request</a></li>
                            <li class="nav-item sep"><a class="nav-link" href="#"> Order</a></li>
                            <li class="nav-item sep"><a class="nav-link" href="#"> Blog</a></li>
                            <li class="nav-item sep">
                                <a class="nav-link" href="#"><i class="fa fa-comment" aria-hidden="true"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="padding-top:12px"><i class="fa fa-bell" aria-hidden="true"></i></a>
                            </li>
                        }
                        else if (Role == "Agency")
                        {
                            <li class="nav-item sep"><a onclick="sessionStorage.removeItem('SelectedMenu'); return true;" class="nav-link seprate" href="@Url.Action("Index", "Agency")"> Home</a></li>
                            <li class="nav-item sep"><a onclick="sessionStorage.removeItem('SelectedMenu');sessionStorage.removeItem('TemplateMode'); return true;" class="nav-link" href="@Url.Action("Index", "Template")"> Template</a></li>
                            <li class="nav-item sep"><a class="nav-link" href="#"> Blog</a></li>
                            <li class="nav-item sep">
                                <a class="nav-link" href="#"><i class="fa fa-comment" aria-hidden="true"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="padding-top:12px"><i class="fa fa-bell" aria-hidden="true"></i></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" onclick="sessionStorage.removeItem('SelectedMenu'); return true;" href="@Url.Action("Index", "Dashboard")"><i class="nav-fa fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
                            </li>
                        }

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="nav-fa fa fa-user-circle" aria-hidden="true"></i> @Session["UserFullName"].ToString()</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("PreviewIndex", "UserProfile")"><i class="sub-fa fa fa-user" aria-hidden="true"></i> My Profile</a>
                                <a class="dropdown-item" onclick="sessionStorage.removeItem('SelectedMenu'); return true;" href="@Url.Action("Logout", "Login")"><i class="sub-fa fa fa-unlock-alt" aria-hidden="true"></i> Logout</a>
                            </div>
                        </li>

                    </ul>

                </div>
            </nav>
        </div>
        <section id="content-wrapper">
            @RenderBody()
        </section>
        @RenderSection("Footer", required: false)
    </div>
    <script src="~/dist/IntlInput/js/intlTelInput.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/dist/IntlInput/js/intlTelInput-jquery.min.js"></script>
    <script src="~/dist/login/assets/js/popper.min.js"></script>
    <script src="~/dist/theme/js/bootstrap.js"></script>
    @*@Scripts.Render("~/dist/js/script.js")*@
    <script src="~/dist/theme/js/custom.js"></script>
    <script>
        if (!window.matchMedia('(min-width: 768px)').matches)
            document.querySelector('#wrapper').classList.toggle('toggled');
    </script>
    @RenderSection("scripts", required: false)
</body>
