﻿
@{
    Layout = "~/Views/Shared/_OwnerSearch.cshtml";
    ViewBag.Title = "Index";
    List<Domain.CurrencyDomain> CurrencyList = new List<Domain.CurrencyDomain>();
    if (ViewBag.CurrencyList != null)
    {
        CurrencyList = ViewBag.CurrencyList;
    }
    List<Domain.ServiceList> ServiceList = new List<Domain.ServiceList>();
    if (ViewBag.ServiceList != null)
    {
        ServiceList = ViewBag.ServiceList;
    }
    List<Domain.ServiceCategory> ServiceCategoryList = new List<Domain.ServiceCategory>();
    if (ViewBag.ServiceCategoryList != null)
    {
        ServiceCategoryList = ViewBag.ServiceCategoryList;
    }
}
<style>
    body {
        overflow-x: hidden;
    }
</style>
<h2>Agency Service</h2>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Service </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="card shadow  bg-white rounded">
                        <div class="card-body">
                            <div class="row">


                                <div class="form-row col-md-12">
                                    <div class="form-group col-md-4 ">
                                        <label>Service Category</label>
                                        <select id="ddlServiceCategoryDummy" class="custom-select form-control"></select>
                                        <select id="ddlServiceCategory" class="custom-select form-control" multiple hidden>
                                            @foreach (var sc in ServiceCategoryList)
                                            {
                                                <option value="@sc.ServiceCategoryId">@sc.ServiceCategoryName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="field-label">
                                            Service
                                        </label>
                                        <select id="ddlServiceDummy" class="custom-select form-control"></select>
                                        <select id="ddlService" class="custom-select form-control" multiple hidden>
                                            @for (var i = 0; i < ServiceList.Count; i++)
                                            {
                                                <option value="@ServiceList[i].ServiceId">@ServiceList[i].ServiceName</option>
                                            }
                                        </select>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-inner-square" data-dismiss="modal" id="CloseModal">Close</button>
                <button type="button" class="btn btn-inner-sq-prim" id="SaveSub" onclick="AddService()">Add</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow bg-white rounded">
            <div class="card-body">
                <div class="row">

                    <div class="col-sm-12 col-md-4  ">
                        <select id="PortNameDummy" class="custom-select form-control"></select>
                        <select class="custom-select mr-sm-2 filter-frm" id="PortName" style="display:none" onchange="PortSelect()">
                            <option></option>
                        </select>
                        <input type="hidden" id="AgencyServiceId" />
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <select id="OwnerDummy" class="custom-select form-control"></select>
                        <select class="custom-select mr-sm-2 filter-frm" id="Owner" style="display:none" onchange="OwnerSelect()">
                            <option></option>
                        </select>
                    </div>

                    <div class="col-sm-12 col-md-4 text-right" id="Btn_Tools" style="display:none">
                        <button type="button" class="btn btn-preview rounded w-btn " id="BtnCancelAService" style="display:none" onclick="CancelAgencyService()">Cancel</button>
                        <button type="button" class="btn btn-inner-sq-prim w-btn" id="BtnSaveAService" style="display:none" onclick="SaveAgencyService()">Save</button>
                        <button type="button" class="btn btn-preview rounded w-btn" id="BtnEditAService" style="display:none" onclick="EditAgencyService()">Edit</button>
                        <button type="button" class="btn btn-inner-square w-btn" id="BtnAddService" style="display:none" onclick="OpenService()">Add</button>
                    </div>


                    <div class="col-md-12">
                        <hr />
                        <div class="table-responsive">
                            <table class="table table-hover tableScroll" id="ServiceTable" style="display:none">
                                <thead class="table-hed-bg">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Service List</th>
                                        <th scope="col">Option</th>
                                        <th scope="col">Cost Type</th>
                                        <th scope="col">Currency</th>
                                        <th scope="col">Service Charge</th>
                                        <th scope="col">Offer</th>
                                        <th scope="col">Actual Amount</th>
                                        <th scope="col">TAT</th>
                                        <th scope="col">TAT Description</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Inactive</th>
                                        <th scope="col">Action</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td colspan="14" style="text-align:center"><span style="cursor:pointer" onclick="OpenService()">Add service</span></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12" id="EmptyPort">
                        <div class="table-responsive">
                            <table class="table table-hover" >
                                <thead class="table-hed-bg">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Service List</th>
                                        <th scope="col">Option</th>
                                        <th scope="col">Cost Type</th>
                                        <th scope="col">Currency</th>
                                        <th scope="col">Service Charge</th>
                                        <th scope="col">Offer</th>
                                        <th scope="col">Actual Amount</th>
                                        <th scope="col">TAT</th>
                                        <th scope="col">TAT Description</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Inactive</th>
                                        <th scope="col">Action</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td colspan="14" style="text-align:center"><span> Select port to add services.</span></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                </div>

        </div>
    </div>
</div>

@section Footer{
    <section class="footer-bg">
        <footer class="section footer-classic ">
            <div class="container">
                <div class="row row-30">
                    <div class="col-md-4 col-xl-5">
                        <div class="footer-cnt pr-xl-4">
                            <h4 class="footer-port">Portkart</h4>
                            <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
                            <!-- Rights-->

                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <ul class="nav-list mt-5">
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> About</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Projects</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Blog</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Contacts</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Pricing</a></li>
                        </ul>
                    </div>



                    <div class="col-md-4">
                        <dl class="contact-list mt-5">
                            <dt>
                                24/7 Support: 0800 12345 678</br>
                                Say Hello To Us
                            </dt>

                        </dl>
                        <dl class="contact-list">
                            <dt>167 Airline Suite, </br> 456GA3, UK</dt>
                        </dl>
                        <dl class="contact-list">
                            <dt class="email">sample@portkart.com</dt>

                        </dl>
                    </div>

                </div>
            </div>

        </footer>
    </section>

    <section class="footer-bg-copy">
        <div class="container">
            <div class="row">
                <p class="footer-cnt pl-3 pt-3">Copyrights © @DateTime.Now.Year. All Rights Reserved by portkart.com</p>
            </div>
        </div>
    </section>
}

@section Scripts{
    <link href="~/dist/css/Select2.css" rel="stylesheet" />
    <script src="~/dist/js/Select2.js"></script>
    <link href="~/dist/css/jquery.multiselect.css" rel="stylesheet" />
    <script src="~/dist/js/jquery.multiselect.js"></script>
    <link href="~/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/dist/js/dataTables.fixedHeader.min.js"></script>
    <script>
        var AgencyServiceList = [];
        var CurrencyList = [];
        var defCurrency = 0;
        var ServiceList = [];
        var SaveClicked = false;
        var AddClicked = false;
        var Mode = '';
        var OwnerTemplateDetails = [];
        CurrencyList =@Html.Raw(Json.Encode(CurrencyList));
        if (CurrencyList.length > 0) {
            defCurrency = CurrencyList[0].CurrencyId;
        }
        ServiceList =@Html.Raw(Json.Encode(ServiceList));

         $('#ddlServiceCategory').multiselect({
            columns: 1,
            selectAll: true,
            texts: {
                placeholder: 'Select Category',
                selectAll: 'Select All',
                unselectAll: 'Unselect All'
            },
            //onLoad: function (element) {
            //},
            onOptionClick: function (element, option) {
                var val = $('#ddlServiceCategory').val();
                LoadServiceList($('#ddlServiceCategory').val());
            },
            onSelectAll: function (element, selected) {
                LoadServiceList([]);
            },
        });
        $('#ddlServiceCategoryDummy').hide();
        $('#ddlServiceCategory').show();

        $('#ddlService').multiselect({
            columns: 1,
            selectAll: true,
            search: true,
            texts: {
                placeholder: 'Select Service',
                selectAll: 'Select All',
                unselectAll: 'Unselect All'
            },
        });
        $('#ddlServiceDummy').hide();
        $('#ddlService').show();

        $('#PortName').select2({
            ajax: {
                url: 'Agency/GetVesselPortList',
                data: function (params) {
                    var query = {
                        search: params.term
                    }

                    // Query parameters will be ?search=[term]&type=public
                    return query;
                },
                processResults: function (data) {
                    // Transforms the top-level key of the response object from 'items' to 'results'
                    if (data.includes('Portkart-login')) {
                        window.location.reload();
                    }
                    return {
                        results: data
                    };
                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            },
            placeholder: "Select a Port",
            language: {
                inputTooShort: function (args) {

                    return "Enter 2 or more characters";
                },
                noResults: function () {
                    return "Not Found.";
                },
                searching: function () {
                    return "Searching...";
                }
            },
            allowClear: true,
        });
        $('#PortNameDummy').hide();
        $('#PortName').show();

        $('#Owner').select2({
            ajax: {
                url: 'Agency/GetOwnerList',
                data: function (params) {
                    var query = {
                        search: params.term
                    }
                    // Query parameters will be ?search=[term]&type=public
                    return query;
                },
                processResults: function (data) {
                    // Transforms the top-level key of the response object from 'items' to 'results'
                    if (data.includes('Portkart-login')) {
                        window.location.reload();
                    }
                    return {
                        results: data
                    };
                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            },
            placeholder: "Select an Owner",
            language: {
                inputTooShort: function (args) {

                    return "Enter 2 or more characters";
                },
                noResults: function () {
                    return "Not Found.";
                },
                searching: function () {
                    return "Searching...";
                }
            },
            allowClear: true,
        });
        $('#OwnerDummy').hide();
        $('#Owner').show();

        function PortSelect() {
            $('#ServiceTable').hide();
            $('#EmptyPort ').show();
             $("#Owner").prop("disabled", false);
            if ($.fn.DataTable.isDataTable( '#ServiceTable' ) ) {
                     $('#ServiceTable').DataTable().clear().destroy();
            }
            AgencyServiceList = [];
            $('#Btn_Tools').hide();
            $('#AgencyServiceId').val(0);
            var PortId = $('#PortName').val();
            if (!isNaN(PortId) && PortId > 0) {
                $('#EmptyPort ').hide();
                $("#Owner").prop("disabled", false);
                $('#Btn_Tools').show();
                LoadAgencyService(PortId);
                $('#ServiceTable').show();
            }
            $('#Owner').val('').trigger('change') ;
            //OwnerSelect();
        }

        function OwnerSelect() {
            var OwnerId = $('#Owner').val();
            OwnerTemplateDetails = [];
            if (!isNaN(OwnerId) && OwnerId > 0)
                LoadOwnerTemplate(OwnerId);
            else
                CalculateOffer([]);

        }
        function LoadAgencyService(id) {
            $.ajax({
                type: 'GET',
                url: "/Agency/LoadAgencyService/" + id,
                dataType: "JSON",
                success: function (resultData) {
                    if (resultData.length > 0) {
                        $('#AgencyServiceId').val(resultData[0].AgencyServiceId);
                        $('#BtnEditAService').show();
                        $('#BtnSaveAService').hide();
                        $('#BtnAddService').hide();
                        $('#BtnCancelAService').hide();
                        Mode = 'view';
                        for (var i = 0; i < resultData.length; i++) {
                            resultData[i].Offer = 0;
                            resultData[i].Type = "A";
                            resultData[i].ActualAmount = resultData[i].Amount;
                            }
                        AgencyServiceList = resultData;
                        PopulateServiceTable();
                        $(".agt-vm").attr("disabled", true);
                        $(".agt-vm-td").css({ "cursor": "not-allowed" });
                        $(".agt-vm-td a").css({ "pointer-events": "none" });
                    }
                    else {
                        Mode = 'add';
                        $('#BtnEditAService').hide();
                        $('#BtnSaveAService').hide();
                        $('#BtnAddService').show();
                        //$('#BtnCancelAService').show();
                        PopulateServiceTable();
                        $(".agt-vm").attr("disabled", false);
                        $(".agt-vm-td").css({ "cursor": "auto" });
                        $(".agt-vm-td a").css({ "pointer-events": "all" });
                       $("#Owner").prop("disabled", true);

                    }

                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });
        }

        function PopulateServiceTable() {

            if ($.fn.DataTable.isDataTable( '#ServiceTable' ) ) {
             $('#ServiceTable').DataTable().clear().destroy();
            }
            $('#ServiceTable tbody').empty();
            var html = '';
            for (var i = 0; i < AgencyServiceList.length; i++) {
                AgencyServiceList[i].Description = AgencyServiceList[i].Description == null ? "" : AgencyServiceList[i].Description;
                AgencyServiceList[i].TatDescription = AgencyServiceList[i].TatDescription == null ? "" : AgencyServiceList[i].TatDescription;
                var cur = '<option value="">Select Currency</option>';
                    for (var j = 0; j < CurrencyList.length; j++) {
                        var selcted = '';
                        if (AgencyServiceList[i].CurrencyId == CurrencyList[j].CurrencyId) {
                            selcted = 'selected="selected"';
                        }
                        cur = cur + '<option value="' + CurrencyList[j].CurrencyId + '" ' + selcted + '>' + CurrencyList[j].Currency + '</option>';
                }
                var CTCum = ''; var CTFix = ''; var activeChkd = '';
                if (AgencyServiceList[i].CostType == "Cumulative") {
                    CTCum = 'selected="selected"';
                }
                else {
                      CTFix = 'selected="selected"';
                }
                if (AgencyServiceList[i].IsActive) {
                    activeChkd='checked'
                }
                if (AgencyServiceList[i].IsParent) {
                    AgencyServiceList[i].Tat = AgencyServiceList[i].Tat == null ? "" : AgencyServiceList[i].Tat;

                    var readonly = '';
                    if (AgencyServiceList[i].CostType == "Cumulative") {
                        readonly = 'readonly';
                    }

                    html = html + '<tr class="accordion-toggle collapsed" id="accordion_P' + AgencyServiceList[i].ServiceId + '"' +
                        'data-toggle="collapse" data-parent="#accordion_P' + AgencyServiceList[i].ServiceId + '"' +
                        'href = "#collapse_C' + AgencyServiceList[i].ServiceId + '" > ' +
                        '<td scope="row" class="expand-button-arrow"></td>' +
                        '<td>' + AgencyServiceList[i].ServiceCategoryName + '</td>' +
                        '<td>' + AgencyServiceList[i].ServiceName + '</td>' +
                        '<td></td>' +
                        '<td onclick="CollapseClick(event)">' +
                        '<select onclick="CollapseClick(event)"  id="costtype' + AgencyServiceList[i].ServiceId + '" class="agt-vm agt-coty custom-select form-control sm" onchange="CostTypeChange(' + AgencyServiceList[i].ServiceId + ',true,0,this)">' +
                        '<option value="Cumulative" ' + CTCum + '>Cumulative</option>' +
                        '<option value="Fixed" ' + CTFix + '>Fixed</option>'+
                        '</select>' +
                        '</td>' +
                        '<td onclick="CollapseClick(event)">' +
                        '<select onclick="CollapseClick(event)"  id="currency' + AgencyServiceList[i].ServiceId + '" class="agt-vm custom-select form-control sm" onchange="CurrencyChange(' + AgencyServiceList[i].ServiceId + ',true,0,this)">' +
                        cur +
                        '</select>' +
                        '</td>' +
                        '<td onclick="CollapseClick(event)"><input onclick="CollapseClick(event)" step="0.01" oninput="AmountChange(' + AgencyServiceList[i].ServiceId + ',true,0,this)" class="agt-vm  form-control sm" type="number" id="Amount' + AgencyServiceList[i].ServiceId + '" value="' + AgencyServiceList[i].Amount + '" ' + readonly + '/></td>' +
                        '<td onclick="CollapseClick(event)"></td>' +
                        '<td onclick="CollapseClick(event)"><input onclick="CollapseClick(event)" step="0.01" class="form-control sm" type="number" id="ActualAmount' + AgencyServiceList[i].ServiceId + '" value="' + AgencyServiceList[i].ActualAmount + '" readonly /></td>' +
                        '<td onclick="CollapseClick(event)"><input onclick="CollapseClick(event)" onkeyup="TATChange(' + AgencyServiceList[i].ServiceId + ',true,0,this)" class="agt-vm form-control sm" type="text" id="TAT' + AgencyServiceList[i].ServiceId + '" value="' + AgencyServiceList[i].Tat + '" /></td>' +
                        '<td onclick="CollapseClick(event)"><input onclick="CollapseClick(event)" onkeyup="TATDescChange(' + AgencyServiceList[i].ServiceId + ',true,0,this)" class="agt-vm form-control sm" type="text" id="TatDescription' + AgencyServiceList[i].ServiceId + '" value="' + AgencyServiceList[i].TatDescription + '" /></td>' +
                        '<td onclick="CollapseClick(event)"><textarea onclick="CollapseClick(event)" onkeyup="DescriptionChange(' + AgencyServiceList[i].ServiceId + ',true,0,this)" class="agt-vm form-control sm"  id="Description' + AgencyServiceList[i].ServiceId + '"  >' + AgencyServiceList[i].Description + '</textarea></td>' +
                        '<td onclick="CollapseClick(event)"><input onclick="CollapseClick(event)" type="checkbox" class="agt-vm" id="inactive' + AgencyServiceList[i].ServiceId + '" onchange="InactiveChange(' + AgencyServiceList[i].ServiceId + ',true,0,this)" ' + activeChkd + '/></td>' +
                        '<td onclick="CollapseClick(event)" class="agt-vm-td"><a href ="javascript:void(0)" class="scale-trans tbl-dlt-ico" onclick="DeleteService(' + AgencyServiceList[i].ServiceId + ',true,0,this)"><i class="fa fa-trash"></i> </a></td>' +
                        '</tr>';

                    var subservice = '';
                    var sublist = [];
                    for (var j = 0; j < AgencyServiceList.length; j++) {
                        if (AgencyServiceList[i].ServiceId == AgencyServiceList[j].ParentId) {
                            AgencyServiceList[j].Sort = AgencyServiceList[j].Sort == null ? 0 : AgencyServiceList[j].Sort;
                            sublist.push(AgencyServiceList[j]);
                        }
                    }

                    if (sublist.length > 0) {
                        sublist.sort(function (a, b) {
                            return (a.Sort) - (b.Sort);
                        });

                        for (var j = 0; j < sublist.length; j++) {
                            var subCTCum = ''; var subCTFix = ''; var subactiveChkd = '';
                            var subOpD = ''; var subOpO = '';
                            if (sublist[j].CostType == "Cumulative") {
                                subCTCum = 'selected="selected"';
                            }
                            else {
                                    subCTFix = 'selected="selected"';
                            }
                            if (AgencyServiceList[i].IsActive) {
                                subactiveChkd = 'checked';
                            }
                            if (sublist[j].Option == "D") {
                                subOpD = 'selected="selected"';
                            }
                            else {
                                    subOpO = 'selected="selected"';
                            }
                            var subcur = '<option value="">Select Currency</option>';
                            for (var k = 0; k < CurrencyList.length; k++) {
                                var subselcted = '';
                                if (sublist[j].CurrencyId == CurrencyList[k].CurrencyId) {
                                    subselcted = 'selected="selected"';
                                }
                                subcur = subcur + '<option value="' + CurrencyList[k].CurrencyId + '" ' + subselcted + '>' + CurrencyList[k].Currency + '</option>';
                            }
                            subservice = subservice + '<tr id="collapse_C' + AgencyServiceList[i].ServiceId + '" class="collapse hide-table-padding">' +
                                '<td></td>' +
                                '<td>' + sublist[j].ServiceCategoryName + '</td>' +
                                '<td>' + sublist[j].ServiceName + '</td>' +
                                '<td>' +
                                '<select id="P'+ AgencyServiceList[i].ServiceId + 'SubOption' + AgencyServiceList[i].ServiceId + '" class="agt-vm agt-sopt custom-select form-control sm" onchange="OptionChange(' + sublist[j].ServiceId + ',false,' + sublist[j].ParentId + ',this)">' +
                                '<option value="D" ' + subOpD + '>D</option>' +
                                '<option value="O" ' + subOpO + '>O</option>'+
                                '</select>' +
                                '</td>' +
                                '<td>' +
                                '<select disabled style="cursor:not-allowed"  id="P'+ AgencyServiceList[i].ServiceId + 'Subcosttype' + AgencyServiceList[i].ServiceId + '" class="agt-coty custom-select form-control sm" onchange="CostTypeChange(' + sublist[j].ServiceId + ',false,' + sublist[j].ParentId + ',this)">' +
                                '<option value="Cumulative" ' + subCTCum + '>Cumulative</option>' +
                                '<option value="Fixed" ' + subCTFix + '>Fixed</option>'+
                                '</select>' +
                                '</td>' +
                                '<td>' +
                                '<select disabled style="cursor:not-allowed"  id="P'+ AgencyServiceList[i].ServiceId + 'Subcurrency' + sublist[j].ServiceId + '" class="custom-select form-control sm" onchange="CurrencyChange(' + sublist[j].ServiceId + ',false,' + sublist[j].ParentId + ',this)">' +
                                subcur +
                                '</select>' +
                                '</td>' +
                                '<td><input class="agt-vm form-control sm" step="0.01" oninput="AmountChange(' + sublist[j].ServiceId + ',false,' + sublist[j].ParentId + ',this)"  type="number" id="P' + AgencyServiceList[i].ServiceId + 'SubAmount' + sublist[j].ServiceId + '" value="' + sublist[j].Amount + '" /></td>' +
                                '<td><input class="form-control sm" type="text" id="P' + AgencyServiceList[i].ServiceId + 'SubOffer' + sublist[j].ServiceId + '" value="' + sublist[j].Offer + '" readonly/></td>' +
                                '<td><input class="form-control sm" step="0.01" type="number" id="P'+ AgencyServiceList[i].ServiceId + 'SubActualAmount' + sublist[j].ServiceId + '" value="' + sublist[j].ActualAmount + '" readonly /></td>' +
                                '<td></td>' +
                                '<td></td>' +
                                '<td></td>' +
                                '<td onclick="CollapseClick(event)"><input onclick="CollapseClick(event)" disabled type="checkbox" id="P'+ AgencyServiceList[i].ServiceId + 'Subinactive' + AgencyServiceList[i].ServiceId + '"  '+subactiveChkd+'/></td>' +
                                '<td></td>' +
                                '</tr>';


                        }
                        }
                        html = html + subservice;
                }
                else if (!AgencyServiceList[i].ParentId > 0) {
                    AgencyServiceList[i].Tat = AgencyServiceList[i].Tat == null ? "" : AgencyServiceList[i].Tat;
                    html = html + '<tr> ' +
                        '<td scope="row"></td>' +
                        '<td>' + AgencyServiceList[i].ServiceCategoryName + '</td>' +
                        '<td>' + AgencyServiceList[i].ServiceName + '</td>' +
                        '<td></td>' +
                        '<td>' +
                        '<select onclick="CollapseClick(event)"  id="costtype' + AgencyServiceList[i].ServiceId + '" class="agt-vm agt-coty custom-select form-control sm" onchange="CostTypeChange(' + AgencyServiceList[i].ServiceId + ',true,0,this)">' +
                        '<option value="Cumulative" ' + CTCum + '>Cumulative</option>' +
                        '<option value="Fixed" ' + CTFix + '>Fixed</option>'+
                        '</select>' +
                        '</td>' +
                        '<td>' +
                        '<select class="agt-vm custom-select form-control sm"  id="currency' + AgencyServiceList[i].ServiceId + '" onchange="CurrencyChange(' + AgencyServiceList[i].ServiceId + ',false,0,this)" >' +
                        cur +
                        '</select>' +
                        '</td>' +
                        '<td><input class="agt-vm form-control sm" step="0.01" type="number" oninput="AmountChange(' + AgencyServiceList[i].ServiceId + ',false,0,this)"  id="Amount' + AgencyServiceList[i].ServiceId + '" value="' + AgencyServiceList[i].Amount + '" /></td>' +
                        '<td><input class="form-control sm" type="text" id="Offer' + AgencyServiceList[i].ServiceId + '" value="' + AgencyServiceList[i].Offer + '" readonly /></td>' +
                        '<td><input class="form-control sm" step="0.01" type="number" id="ActualAmount' + AgencyServiceList[i].ServiceId + '" value="' + AgencyServiceList[i].ActualAmount + '" readonly /></td>' +
                        '<td><input onkeyup="TATChange(' + AgencyServiceList[i].ServiceId + ',false,0,this)" class="agt-vm form-control sm" type="text" id="TAT' + AgencyServiceList[i].ServiceId + '" value="' + AgencyServiceList[i].Tat + '" /></td>' +
                        '<td><input onkeyup="TATDescChange(' + AgencyServiceList[i].ServiceId + ',false,0,this)" class="agt-vm form-control sm" type="text" id="TatDescription' + AgencyServiceList[i].ServiceId + '" value="' + AgencyServiceList[i].TatDescription + '" /></td>' +
                        '<td><textarea onkeyup="DescriptionChange(' + AgencyServiceList[i].ServiceId + ',false,0,this)" class="agt-vm form-control sm"  id="Description' + AgencyServiceList[i].ServiceId + '"  >' + AgencyServiceList[i].Description + '</textarea></td>' +
                        '<td><input class="agt-vm" type="checkbox" id="inactive' + AgencyServiceList[i].ServiceId + '" onchange="InactiveChange(' + AgencyServiceList[i].ServiceId + ',false,0,this)" '+activeChkd+'/></td>' +
                        '<td class="agt-vm-td"><a href ="javascript:void(0)" class="scale-trans tbl-dlt-ico" onclick="DeleteService(' + AgencyServiceList[i].ServiceId + ',false,0,this)"><i class="fa fa-trash"></i> </a></td>' +
                        '</tr>';
                }
            }

            if (!AgencyServiceList.length>0) {
                html = '<tr><td colspan="14" style="text-align:center"><span style="cursor:pointer" onclick="OpenService()">Add service</span></td>' +
                    '<td style="display: none;"></td>'+
                    '<td style="display: none;"></td>' +
                    '<td style="display: none;"></td>'+
                    '<td style="display: none;"></td>' +
                    '<td style="display: none;"></td>'+
                    '<td style="display: none;"></td>' +
                    '<td style="display: none;"></td>'+
                    '<td style="display: none;"></td>' +
                    '<td style="display: none;"></td>'+
                    '<td style="display: none;"></td>' +
                    '<td style="display: none;"></td>'+
                    '<td style="display: none;"></td>' +
                    '<td style="display: none;"></td>'+
                '</tr > ';
            }
            $('#ServiceTable tbody').append(html);

            RenderDataTable();
        }
        function RenderDataTable() {
         $('#ServiceTable').DataTable({
                dom: 'tp',
                "bDestroy": true,
                "bSort" : false
            });
           // $('.tableScroll').parent('div').addClass("customList_wrapper");
             $("#ServiceTable").wrap('<div class="customList_wrapper col-sm-12" id="ST_Wrap"></div>');
            var table = $('#ServiceTable').DataTable({
                retrieve: true,
                orderCellsTop: false,
                fixedHeader: true
            })}
        function LoadOwnerTemplate(id) {
                $.ajax({
                type: 'GET',
                url: "/Agency/LoadOwnerTemplate/" + id,
                dataType: "JSON",
                    success: function (resultData) {
                        var PortId = $('#PortName').val();
                        if (resultData != undefined && resultData.OffereDetails.length > 0) {
                            var portexists = false;
                            for (var i = 0; i < resultData.PortIds.length; i++) {
                                if (PortId == resultData.PortIds[i]) {
                                    portexists = true;
                                }
                            }
                            if (portexists == true || resultData.PortIds.length == 0) {
                                OwnerTemplateDetails = resultData.OffereDetails;
                                ResetOffer();
                                CalculateOffer(resultData.OffereDetails);
                            }
                             else {
                            CalculateOffer([]);
                        }
                        }
                        else {
                            CalculateOffer([]);
                        }
                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });
        }
        function CalculateOffer(OffereDetails) {
            if (OffereDetails.length > 0 && AgencyServiceList.length > 0) {
                for (var i = 0; i < OffereDetails.length; i++) {
                    for (var j = 0; j < AgencyServiceList.length; j++) {
                        if (OffereDetails[i].ServiceId == AgencyServiceList[j].ServiceId && OffereDetails[i].ParentId == AgencyServiceList[j].ParentId
                            && OffereDetails[i].IsParent == AgencyServiceList[j].IsParent && AgencyServiceList[j].IsParent == false) {
                            AgencyServiceList[j].Offer = OffereDetails[i].Offer;
                            AgencyServiceList[j].OfferType = OffereDetails[i].Type;
                            var actualamount = 0; var offeramnt = '';
                            if (OffereDetails[i].Type == "A") {
                                actualamount = Number(AgencyServiceList[j].Amount) - Number(OffereDetails[i].Offer);
                                offeramnt = OffereDetails[i].Offer;
                            }
                            else if(OffereDetails[i].Type == "P") {
                                actualamount = Number(AgencyServiceList[j].Amount) - (Number(AgencyServiceList[j].Amount) * Number(OffereDetails[i].Offer) / 100);
                                offeramnt = '%' + OffereDetails[i].Offer.toString();
                            }
                            if (actualamount > 0) {
                                actualamount = round(actualamount, 2);
                            }
                            else {
                                    actualamount = 0;
                            }
                            AgencyServiceList[j].ActualAmount = actualamount;
                            if (AgencyServiceList[j].ParentId > 0) {
                                $('#P' + AgencyServiceList[j].ParentId + 'SubActualAmount' + AgencyServiceList[j].ServiceId).val(actualamount);
                                $('#P' + AgencyServiceList[j].ParentId + 'SubOffer' + AgencyServiceList[j].ServiceId).val(offeramnt);

                            }
                            else {
                                $('#ActualAmount' + AgencyServiceList[j].ServiceId).val(actualamount);
                                $('#Offer' + AgencyServiceList[j].ServiceId).val(offeramnt.toString());
                            }
                            }
                        }
                }

            }
            if (!OffereDetails.length > 0) {
                ResetOffer();
            }
                for (var k = 0; k < AgencyServiceList.length; k++) {
                    if (AgencyServiceList[k].CostType == "Cumulative" && AgencyServiceList[k].IsParent==true) {
                        var totalamount = 0;
                        for (var i = 0; i < AgencyServiceList.length; i++) {
                            if (AgencyServiceList[i].ParentId == AgencyServiceList[k].ServiceId && AgencyServiceList[i].Option=="D") {
                                if (AgencyServiceList[i].ActualAmount == "" || AgencyServiceList[i].ActualAmount == undefined || AgencyServiceList[i].ActualAmount == null) {
                                         AgencyServiceList[i].ActualAmount = 0;
                                }
                                totalamount = Number(totalamount) + Number(AgencyServiceList[i].ActualAmount);
                            }
                        }
                        totalamount=round(totalamount,2);
                        AgencyServiceList[k].ActualAmount = totalamount;
                        $('#ActualAmount' + AgencyServiceList[k].ServiceId).val(totalamount);
                    }
                }
        }

        function ResetOffer(){
               for (var j = 0; j < AgencyServiceList.length; j++) {
                    AgencyServiceList[j].Offer = 0;
                    AgencyServiceList[j].OfferType = "A";
                    var actualamount=AgencyServiceList[j].Amount;
                    AgencyServiceList[j].ActualAmount = AgencyServiceList[j].Amount;
                    if (AgencyServiceList[j].ParentId > 0) {
                        $('#P' + AgencyServiceList[j].ParentId + 'SubActualAmount' + AgencyServiceList[j].ServiceId).val(actualamount);
                        $('#P' + AgencyServiceList[j].ParentId + 'SubOffer' + AgencyServiceList[j].ServiceId).val(AgencyServiceList[j].Offer);

                    }
                    else {
                        $('#ActualAmount' + AgencyServiceList[j].ServiceId).val(actualamount);
                        $('#Offer' + AgencyServiceList[j].ServiceId).val(AgencyServiceList[j].Offer);
                    }
                        }
        }
        function OpenService() {
            $('#ddlService').multiselect( 'reset' );
            $('#ddlServiceCategory').multiselect( 'reset' );
            LoadServiceList([])
            $('#exampleModal').modal('show');
        }

        function LoadServiceList(ids) {
            if (ids == null || ids == "" || ids == undefined) {
                ids = [];
            }
            $.ajax({
                type: 'POST',
                url: "/Agency/LoadServiceList",
                data: { ids },
                datatype: "json",
                success: function (data) {
                    if (data.includes('Portkart-login')) {
                        window.location.reload();
                    }
                    var list = [];
                    for (var i = 0; i < data.length; i++) {
                        list.push({
                            name: data[i].ServiceName,
                            value: data[i].ServiceId,
                            checked: false
                        });

                    }
                    $('#ddlService').multiselect('loadOptions', list);
                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });
        }

        function AddService() {
            if (AddClicked == true) {
                return;
            }
            AddClicked = true;
            var ids = $('#ddlService').val();
             if (ids == null || ids == "" || ids == undefined) {
                ids = [];
            }
            if (ids.length > 0) {
                var newids = [];
                for (var j = 0; j < ids.length; j++) {
                       var idexists = false;
                       for (var i = 0; i < AgencyServiceList.length; i++) {
                         if (ids[j] == AgencyServiceList[i].ServiceId && AgencyServiceList[i].ParentId == 0) {
                             idexists = true;
                         }
                    }
                     if (idexists == false) {
                           newids.push(ids[j]);
                       }
                }
                if (newids.length == 0) {
                    toastr.error("Selected services already exists");
                    AddClicked = false;
                        return;
                }
                ids = newids;
                $.ajax({
                    type: 'POST',
                    url: "/Agency/LoadServicebyId",
                    data: { ids },
                    dataType: "JSON",
                    success: function (resultData) {
                        if (resultData.length > 0) {
                            for (var i = 0; i < resultData.length; i++) {
                                AgencyServiceList.push(resultData[i]);
                            }
                            PopulateServiceTable();
                            toastr.success("Service added");
                            AddClicked = false;
                            $('#BtnSaveAService').show();
                            $('#CloseModal').click();
                        }
                        else {
                            AddClicked = false;
                        }
                    },
                    error: function (xhr, error, code) {
                        AddClicked = false;
                        if (xhr.responseText.includes('Portkart-login')) {
                            window.location.reload();
                        }
                    }
            });

            }
            else {
                toastr.error("Please select a service");
                AddClicked = false;
            }
        }

        function EditAgencyService() {
            $('#BtnEditAService').hide();
            $('#BtnSaveAService').show();
            $('#BtnAddService').show();
            $('#BtnCancelAService').show();
            Mode = 'Edit';
            $(".agt-vm").attr("disabled", false);
            $(".agt-vm-td").css({ "cursor": "auto" });
            $(".agt-vm-td a").css({ "pointer-events": "all" });
             $("#Owner").prop("disabled", true);
        }
         function CancelAgencyService() {
             var portid = $("#PortName").val();
             $("#PortName").val(portid).trigger('change') ;
        }
        function CollapseClick(event) {
                event.stopPropagation();
        }

        function AmountChange(ServiceId, IsParent, ParentId, element) {
            $(element).val($(element).val().replace(/[^\d.]/g, ''));
            var value = $(element).val();
             if (value == "" || value == undefined || value == null) {
                value = 0;
            }
            value = round(value, 2);
            $(element).val(value);
            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (AgencyServiceList[i].ServiceId == ServiceId && AgencyServiceList[i].IsParent == IsParent && AgencyServiceList[i].ParentId == ParentId) {
                    AgencyServiceList[i].Amount = value;
                }
            }
            var isCumul = false;
            var index = -1;
            if (ParentId > 0) {
                for (var i = 0; i < AgencyServiceList.length; i++) {
                    if (AgencyServiceList[i].ServiceId == ParentId && AgencyServiceList[i].CostType=="Cumulative") {
                        isCumul = true;
                        index = i;
                }
                }
                if (isCumul) {
                    var totalamount = 0;
                    for (var i = 0; i < AgencyServiceList.length; i++) {
                        if (AgencyServiceList[i].ParentId == ParentId && AgencyServiceList[i].Option=="D") {
                            if (AgencyServiceList[i].Amount == "" || AgencyServiceList[i].Amount == undefined || AgencyServiceList[i].Amount == null) {
                                     AgencyServiceList[i].Amount = 0;
                            }
                            totalamount = Number(totalamount) + Number(AgencyServiceList[i].Amount);
                        }
                    }
                    totalamount=round(totalamount,2);
                    AgencyServiceList[index].Amount = totalamount;
                    $('#Amount' + ParentId).val(totalamount);
                }
            }

            CalculateOffer(OwnerTemplateDetails);
        }
        function TATChange(ServiceId, IsParent, ParentId, element) {
             $(element).val($(element).val().replace(/[^0-9]/g, ''));
            var value = $(element).val();
             if (value == "" || value == undefined || value == null) {
                value = "";
            }
            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (AgencyServiceList[i].ServiceId == ServiceId && AgencyServiceList[i].IsParent == IsParent && AgencyServiceList[i].ParentId == ParentId) {
                    AgencyServiceList[i].Tat = value;
                }
            }

        }
        function TATDescChange(ServiceId, IsParent, ParentId, element) {
            var value = $(element).val();
                if (value == "" || value == undefined || value == null) {
                value = "";
            }
            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (AgencyServiceList[i].ServiceId == ServiceId && AgencyServiceList[i].IsParent == IsParent && AgencyServiceList[i].ParentId == ParentId) {
                    AgencyServiceList[i].TatDescription = value;
                }
            }

        }
        function DescriptionChange(ServiceId, IsParent, ParentId, element) {
            var value = $(element).val();
             if (value == "" || value == undefined || value == null) {
                value = "";
            }
            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (AgencyServiceList[i].ServiceId == ServiceId && AgencyServiceList[i].IsParent == IsParent && AgencyServiceList[i].ParentId == ParentId) {
                    AgencyServiceList[i].Description = value;
                }
            }

        }
        function CurrencyChange(ServiceId, IsParent, ParentId, element) {
            var value = $(element).val();
            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (AgencyServiceList[i].ServiceId == ServiceId && AgencyServiceList[i].IsParent == IsParent && AgencyServiceList[i].ParentId == ParentId) {
                    AgencyServiceList[i].CurrencyId = value;
                }
                if (AgencyServiceList[i].ParentId == ServiceId) {
                    $('#P'+ ServiceId + 'Subcurrency' + AgencyServiceList[i].ServiceId).val(value);
                    AgencyServiceList[i].CurrencyId = value;
                }
            }

        }

        function InactiveChange(ServiceId, IsParent, ParentId, element) {
            var value = element.checked;
              for (var i = 0; i < AgencyServiceList.length; i++) {
                  if (AgencyServiceList[i].ServiceId == ServiceId && AgencyServiceList[i].IsParent == IsParent && AgencyServiceList[i].ParentId == ParentId) {
                      AgencyServiceList[i].IsActive = value;
                }
                if (AgencyServiceList[i].ParentId == ServiceId) {
                    $('#P'+ ServiceId + 'Subinactive' + AgencyServiceList[i].ServiceId).prop("checked",value);
                    AgencyServiceList[i].IsActive = value;
                }
            }
        }

        function CostTypeChange(ServiceId, IsParent, ParentId, element) {

            var value = $(element).val();
            if (value == "" || value == undefined || value == null) {
                value = "Fixed";
            }
            var isCumul = false;
            if (value == "Cumulative") {
                isCumul = true;
            }
            var index = -1;
            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (AgencyServiceList[i].ServiceId == ServiceId && AgencyServiceList[i].IsParent == IsParent && AgencyServiceList[i].ParentId == ParentId) {
                    AgencyServiceList[i].CostType = value;
                    index = i;
                }
            }

            if (IsParent==true && isCumul==true) {
                    var totalamount = 0;
                    for (var i = 0; i < AgencyServiceList.length; i++) {
                        if (AgencyServiceList[i].ParentId == ServiceId && AgencyServiceList[i].Option=="D") {
                            if (AgencyServiceList[i].Amount == "" || AgencyServiceList[i].Amount == undefined || AgencyServiceList[i].Amount == null) {
                                        AgencyServiceList[i].Amount = 0;
                            }
                            totalamount = Number(totalamount) + Number(AgencyServiceList[i].Amount);
                        }
                    }
                    totalamount=round(totalamount,2);
                    AgencyServiceList[index].Amount = totalamount;
                    $('#Amount'+ServiceId).val(totalamount);
            }
            CalculateOffer(OwnerTemplateDetails);
        }

        function OptionChange(ServiceId, IsParent, ParentId, element) {

            var value = $(element).val();
            if (value == "" || value == undefined || value == null) {
                value = "D";
            }

            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (AgencyServiceList[i].ServiceId == ServiceId && AgencyServiceList[i].IsParent == IsParent && AgencyServiceList[i].ParentId == ParentId) {
                    AgencyServiceList[i].Option = value;
                }
            }

            var isCumul = false;
            var index = -1;
            if (ParentId > 0) {
                for (var i = 0; i < AgencyServiceList.length; i++) {
                    if (AgencyServiceList[i].ServiceId == ParentId && AgencyServiceList[i].CostType=="Cumulative") {
                        isCumul = true;
                        index = i;
                    }
                }
                if (isCumul) {
                    var totalamount = 0;
                    for (var i = 0; i < AgencyServiceList.length; i++) {
                        if (AgencyServiceList[i].ParentId == ParentId && AgencyServiceList[i].Option=="D") {
                            if (AgencyServiceList[i].Amount == "" || AgencyServiceList[i].Amount == undefined || AgencyServiceList[i].Amount == null) {
                                     AgencyServiceList[i].Amount = 0;
                            }
                            totalamount = Number(totalamount) + Number(AgencyServiceList[i].Amount);
                        }
                    }
                    totalamount=round(totalamount,2);
                    AgencyServiceList[index].Amount = totalamount;
                    $('#Amount' + ParentId).val(totalamount);
                }
            }
            CalculateOffer(OwnerTemplateDetails);
        }

        function DeleteService(ServiceId, IsParent, ParentId, element) {

            if (confirm("Do you want to delete this service?")) {
                var index = -1;
              
                var AgencyDetailId = 0;
                for (var i = 0; i < AgencyServiceList.length; i++) {
                    if (AgencyServiceList[i].ServiceId == ServiceId && AgencyServiceList[i].IsParent == IsParent && AgencyServiceList[i].ParentId == ParentId) {
                        index = i;
                        AgencyDetailId=AgencyServiceList[i].AgencyDetailId
                    }

                }
                if (AgencyDetailId > 0) {
                    $.ajax({
                        type: 'GET',
                        url: '/Agency/DeleteService/'+AgencyDetailId,
                        dataType: "JSON",
                        success: function (resultData) {
                               if (resultData.MessageType == "SUCCESS") {
                                   toastr.success(resultData.Message);
                                if (index != -1) {
                                   DeleteFromList(index,ServiceId, IsParent, ParentId, element);
                               }

                            }
                            else if (resultData.MessageType == "ERROR") {
                                   toastr.error(resultData.Message);
                            }
                               else {
                                   toastr.error("Failed to delete agency service details");
                            }

                        },
                           error: function (xhr, error, code) {
                            SaveClicked = false;
                            if (xhr.responseText.includes('Portkart-login')) {
                                window.location.reload();
                               }
                                else {
                                     toastr.error("Failed to delete agency service details");
                            }
                        }
            });
                }
               else if (index != -1) {
                    DeleteFromList(index, ServiceId, IsParent, ParentId, element);
                    toastr.success("Service deleted successfully.");
               }
            }
        }
        function DeleteFromList(index,ServiceId, IsParent, ParentId, element) {
              var childrenlist = [];
             AgencyServiceList.splice(index, 1);
                   for (var i = 0; i < AgencyServiceList.length; i++) {
                        if (AgencyServiceList[i].ParentId == ServiceId ) {
                            childrenlist.push(AgencyServiceList[i]);
                        }

                   }
                   for (var j = 0; j < childrenlist.length; j++) {
                       var cindex = -1;
                       for (var i = 0; i < AgencyServiceList.length; i++) {
                           if (AgencyServiceList[i].ServiceId == childrenlist[j].ServiceId && AgencyServiceList[i].IsParent == childrenlist[j].IsParent
                               && AgencyServiceList[i].ParentId == childrenlist[j].ParentId) {
                        cindex = i;
                    }

                       }
                       if (cindex != -1) {
                            AgencyServiceList.splice(cindex, 1);
                       }
                   }
                   PopulateServiceTable();
        }
        function SaveAgencyService() {
            if (SaveClicked == true) {
                return;
            }
            else {
                SaveClicked = true;
            }
            if (!AgencyServiceList.length > 0) {
                toastr.error("Please add some services");
                SaveClicked = false;
                return;
            }
            var PortId = $('#PortName').val();
            var currencyval = false;
            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (AgencyServiceList[i].CurrencyId == "" || AgencyServiceList[i].CurrencyId == null || AgencyServiceList[i].CurrencyId == undefined) {
                    currencyval = true;
                }

            }
            if (currencyval) {
                toastr.error("Currency is required for all services");
                SaveClicked = false;
                return;
            }
            var AgencyServiceId = $('#AgencyServiceId').val();
            var AgencyServiceObj = {
                AgencyServiceId: AgencyServiceId,
                PortId: PortId,
                ServiceDetails: AgencyServiceList
            };
            var url = "/Agency/SaveAgencyService";
            if (isNaN(AgencyServiceId)) {
                AgencyServiceId = 0;
            }
            else {
                AgencyServiceId = Number(AgencyServiceId);
            }
            if (!AgencyServiceId > 0) {
                url = "/Agency/SaveAgencyService";
            }
            else {
                 url = "/Agency/UpdateAgencyService";
            }
               $.ajax({
                type: 'POST',
                      url: url,
                data:AgencyServiceObj,
                dataType: "JSON",
                success: function (resultData) {
                       if (resultData.MessageType == "SUCCESS") {
                           toastr.success(resultData.Message);
                           SaveClicked = false;
                           $("#PortName").val(PortId).trigger('change');
                    }
                    else if (resultData.MessageType == "ERROR") {
                           toastr.error(resultData.Message);
                           SaveClicked = false;
                    }
                       else {
                           if (AgencyServiceId > 0) { toastr.error("Failed to update agency service details"); }
                           else {toastr.error("Failed to save agency service details");}
                           SaveClicked = false;
                    }

                },
                   error: function (xhr, error, code) {
                    SaveClicked = false;
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                       }
                        else {
                            if (AgencyServiceId > 0) { toastr.error("Failed to update agency service details"); }
                           else {toastr.error("Failed to save agency service details");}
                           SaveClicked = false;
                    }
                }
            });
        }

        function clearall() {
            $("#PortName").val('').trigger('change') ;
        }

       function round(value, decimals) {
            var sign = '1';
            sign = Math.sign(value);
            if (sign == '-1')
            {
                value = value * -1;
                var value2 = value.toLocaleString('fullwide', { useGrouping: false });
                var num = Number(Math.round(value2 + 'e' + decimals) + 'e-' + decimals);
                num = num * -1;
                return num;
            }
            else {
                var value2 = value.toLocaleString('fullwide', { useGrouping: false });
                return Number(Math.round(value2 + 'e' + decimals) + 'e-' + decimals);
            }

        }
    </script>
}