﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="row">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog full" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Subservices </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="card shadow  bg-white rounded">
                            <div class="card-body">
                                <div class="row">


                                    <div class="form-row col-md-12">
                                        <div class="form-group col-md-4">
                                            <label class="field-label">
                                                Service
                                            </label>
                                            <select id="SubService" class="custom-select form-control">
                                                <option>Select Service</option>
                                            </select>
                                            <input id="SubServiceName" class="form-control" readonly style="display:none;cursor:not-allowed" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="field-label">Option</label>
                                            <select class="custom-select form-control" id="option">
                                                <option value="D" selected>D</option>
                                                <option value="O">O</option>
                                            </select>

                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="field-label">Sort</label>
                                            <input type="number" class=" form-control" id="sort"  min="0" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"/>
                                            <input type="hidden" id="SubServiceId" />
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inner-square" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-inner-sq-prim" id="SaveSub" onclick="AddSubService()" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-inner-sq-prim" id="EditSub" onclick="UpdateSubService()" style="display:none">Save</button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-12">
        <div class=" bg-white rounded">
            <h2 class="content-title pull-left">Service</h2>
            <a class="btn btn-inner-sec w-btn pull-right" href="@Url.Action("AddService", "Service")"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>

        </div>
    </div>

    <div class="col-md-12" id="Mainservice_div">
        <div class="card shadow  bg-white rounded">
            <div class="card-body">
                <div class="table-responsive" style="overflow:hidden">
                    <table id="myTable" class="table table-hover tableScroll">
                        <thead class="table-hed-bg">
                            <tr>
                                <th class="sorting_asc" scope="col">Service Code</th>
                                <th scope="col">Service Name</th>
                                <th scope="col">Service Category</th>
                                <th scope="col">Modified Date</th>
                                <th scope="col">Group</th>
                                <th scope="col">Cost Type</th>
                                <th scope="col">Description</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4" id="Subservice_div" style="display:none">

        <div class="card shadow p-3  bg-white rounded">

            <div class="card-body">
                <div>
                    <h5>
                        Sub Service
                        <a class="btn btn-inner-sec w-btn pull-right" href="javascript:void(0)" onclick="AddService()"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
                        <a class="btn btn-inner-prim w-btn pull-right" href="javascript:void(0)" onclick="togglesub(selectedService)" style="height:26px"><i style="line-height:16px" class="fa fa-arrow-left" aria-hidden="true"></i> </a>

                    </h5>

                </div>


                <div class="table-responsive" style="overflow-x:auto">
                    <table id="myTable2" class="table table-hover tableScroll">
                        <thead class="table-hed-bg">
                            <tr>

                                <th scope="col">Service Name</th>
                                <th scope="col">Option</th>
                                <th scope="col">Sort</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                    </table>
                </div>




                @*<div class="table-responsive" style="overflow:hidden">

                        <table id="myTable2" class="table table-hover tableScroll">
                            <thead class="table-hed-bg">
                                <tr>
                                    <th scope="col">Service Name</th>
                                    <th scope="col">Option</th>
                                    <th scope="col">Sort</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Visa</td>
                                    <td>
                                        <select class="custom-select form-control" style="width:100px">
                                            <option value="D" selected>D</option>
                                            <option value="O">O</option>
                                        </select>
                                    </td>
                                    <td><input type="number" class=" form-control" style="width:100px" /></td>
                                </tr>
                                <tr>
                                    <td>Transport</td>
                                    <td>O</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>*@
            </div>
        </div>
    </div>

</div>





<link href="~/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

@section Scripts{
    <script src="~/dist/js/moment.min.js"></script>

    <script src="~/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/dist/js/dataTables.fixedHeader.min.js"></script>
    <script>
        var selectedService = 0;
        $(document).ready(function () {



            $('#myTable').DataTable({
                // "processing": true, // for show progress bar
                "serverSide": true,
                "autoWidth": false,// for process server side
                language: { search: '', searchPlaceholder: "Search" },
                "ajax": {
                    "url": "/Service/GetServiceListServerSide",
                    "type": "POST",
                    "datatype": "json",
                    error: function (xhr, error, code) {
                        if (xhr.responseText.includes('Portkart-login')) {
                            window.location.reload();
                        }
                    }
                },
                "columns": [


                    { "data": "ServiceCode", "name": "ServiceCode", "autoWidth": true },
                    { "data": "ServiceName", "name": "ServiceName", "autoWidth": true },
                    { "data": "ServiceCategoryName", "name": "ServiceCategoryName", "autoWidth": true },
                    {
                        "data": "ModifiedDateAsString", "name": "ModifiedDate", "autoWidth": true, "render":
                            function (data, type, full) {
                                return (data) ? moment(data, 'DD-MM-YYYY').format('DD-MM-YYYY') : '';
                            }
                    },
                    {
                        "data": "IsGroup", "name": "IsGroup", "autoWidth": true, "render": function (data, type, row, meta) {
                            var grclass = '';
                            if (row.SubServiceCount > 0) {
                                grclass = 'class="high_grp_bl"';
                            }
                            else {
                                grclass = 'class="high_grp_rd"';
                            }
                            if (data == true) { return '<span style="cursor:pointer" ' + grclass + ' OnClick="togglesub(' + row.ServiceId + ')">Yes</span>'; }
                            else {
                                return "No";
                            }

                        }
                    },
                    { "data": "CostType", "name": "CostType", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },

                    {
                        "data": "IsActive", "name": "IsActive", "autoWidth": true, "render": function (data, type, row, meta) {
                            if (data == true) { return "Active"; }
                            else {
                                return "Inactive";
                            }

                        }
                    },
                    {
                        "data": "ServiceId", "width": "50px", "render": function (data, type, row, meta) {

                            var actionControls = '<a  href="/Service/UpdateServiceList/' + data + '" class="btn btn-view btn-xs"><i class="fa fa-pencil"></i></a>';
                            if (row["IsActive"]) {
                                actionControls += '<a href = "/Service/DeleteServiceList/' + data + '" class="scale-trans tbl-dlt-ico" onclick="return ConfirmDeactivation();"><i class="fa fa-trash"></i> </a>';
                            }
                            return actionControls;
                        }
                    }
                ],
                'columnDefs': [{
                    'targets': [8],
                    'orderable': false,
                }]
            });
            $('.tableScroll').parent('div').parent('div').addClass("customList_wrapper");
            $('#myTable thead tr').clone(true).appendTo('#myTable thead');
            $('#myTable thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).removeClass();
                if (title != "Action") {
                    $(this).html('<input class="th-search-input form-control-sec" type="text" />');
                }
                else {
                    $(this).text("Operation");
                    $(this).addClass("ghostPlaceHolder");
                }
                $(this).addClass("th-search")
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#myTable').DataTable({
                retrieve: true,
                orderCellsTop: true,
                fixedHeader: true
            })
            $(".th-search-input").click(function (e) {
                e.stopPropagation();
            });
        });
        function ConfirmDeactivation() {
            return confirm("Are you sure you want to deactivate this Service ?");
        }
        function togglesub(id) {
            if (selectedService != 0) {
                if (id != selectedService) {
                    selectedService = id;
                    loadSubservice();
                    return;
                }
            }

            if ($('#Mainservice_div').hasClass('CollapseServ')) {
                selectedService = 0
                $('#Mainservice_div').removeClass('CollapseServ');
                $('#Subservice_div').hide();
                $('#Subservice_div').removeClass('col-md-4');
                //$('#Subservice_div').addClass('hidesub');
                $('#Mainservice_div').removeClass('col-md-8');
                $('#Mainservice_div').addClass('col-md-12');
            }
            else {

                selectedService = id;
                loadSubservice();
                $('#Mainservice_div').removeClass('col-md-12');
                $('#Mainservice_div').addClass('col-md-8');
                setTimeout(function () {
                    $('#Subservice_div').show();
                }, 500);
                // $('#Subservice_div').removeClass('hidesub');
                $('#Subservice_div').addClass('col-md-4');
                $('#Mainservice_div').addClass('CollapseServ');

            }
        }

        function loadservice() {
            var html = '<option>Select service</option>'
            $.ajax({
                type: 'POST',
                url: "/Service/LoadService",
                data: { id: selectedService },
                dataType: "JSON",
                success: function (resultData) {

                    $('#SubService').empty();
                    if (resultData.length > 0) {
                        for (var i = 0; i < resultData.length; i++) {

                            html = html + '<option value="' + resultData[i].ServiceId + '">' + resultData[i].ServiceName + '</option>';
                        }
                        $('#SubService').append(html);
                    }
                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });
        }
        function AddService() {
            $('#option').val('D');
            $('#sort').val('');
            $('#SubService').show();
            loadservice();
            $('#SubServiceName').hide();
            $('#SaveSub').show();
            $('#EditSub').hide();
            $('#exampleModal').modal('show');
        }

        function EditSubService(ServiceId, Option, Sort, ParentServiceId, ServiceName) {
            loadservice();
            $('#SubService').hide();

            $('#SubServiceName').val(ServiceName);
            $('#SubServiceName').show();
            $('#option').val(Option);
            $('#sort').val(Sort);
            $('#SubService').val(ServiceId);
            $('#SubServiceId').val(ServiceId);
            $('#SaveSub').hide();
            $('#EditSub').show();
            $('#exampleModal').modal('show');

        }



        function AddSubService() {

            var parentServiceID = selectedService;
            var ServiceId = $('#SubService').val();

            var Option = $('#option').val();
            var Sort = $('#sort').val();
            if (!ServiceId > 0 || ServiceId == "Select service") {
                toastr.error("Please select a service");
                return;
            }
            if (!Sort > 0) {
                Sort = 0;
            }
            var Filter = {
                ParentServiceId: parentServiceID,
                ServiceId: ServiceId,
                Option: Option,
                Sort: Sort
            }

            $.ajax({
                type: 'POST',
                url: "/Service/AddSubService",
                data: Filter,
                dataType: "JSON",
                success: function (resultData) {

                    if (resultData.MessageType == "SUCCESS") {
                        toastr.success(resultData.Message);
                        loadSubservice();
                       
                    }
                    else if (resultData.MessageType == "ERROR") {
                        toastr.error(resultData.Message);
                    }
                    else {
                        toastr.success("Failed to add SubService");
                       
                    }
                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });
        }

        function UpdateSubService() {

            var parentServiceID = selectedService;
            var ServiceId = $('#SubServiceId').val();

            var Option = $('#option').val();
            var Sort = $('#sort').val();

            var Filter = {
                ParentServiceId: parentServiceID,
                ServiceId: ServiceId,
                Option: Option,
                Sort: Sort
            }

            $.ajax({
                type: 'POST',
                url: "/Service/UpdateSubService",
                data: Filter,
                dataType: "JSON",
                success: function (resultData) {

                    if (resultData.MessageType == "SUCCESS") {
                        toastr.success(resultData.Message);
                        loadSubservice();
                    }
                    else if (resultData.MessageType == "ERROR") {
                        toastr.error(resultData.Message);
                    }
                    else {
                        toastr.success("Failed to update SubService");
                    }
                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });
        }
        function loadSubservice() {

            $('#myTable2').DataTable({
                dom: 't',
                "bDestroy": true,
                "autoWidth": false,// for process server side
                paging: false,
                "ajax": {
                    "url": "/Service/LoadSubService?id=" + selectedService,
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": "",
                    error: function (xhr, error, code) {
                        if (xhr.responseText.includes('Portkart-login')) {
                            window.location.reload();
                        }
                    }
                },
                "columns": [


                    { "data": "ServiceName", "name": "ServiceName", "autoWidth": true, },
                    { "data": "Option", "name": "Option", "autoWidth": true },
                    { "data": "Sort", "name": "Sort", "autoWidth": true,"orderable":true },

                    {
                        "data": "ServiceId", "width": "50px", "render": function (data, type, row, meta) {

                            var actionControls = '<a href="javascript:void(0)" OnClick="EditSubService(' + data + ',\'' + row.Option + '\',' + row.Sort + ',' + row.ParentServiceId + ',\'' + row.ServiceName + '\')" class="btn btn-view btn-xs"><i class="fa fa-pencil"></i></a>';
                            actionControls += '<a href="javascript:void(0)"  OnClick = "DeleteSubService(' + data + ',' + row.ParentServiceId + ')" class="scale-trans tbl-dlt-ico"><i class="fa fa-trash"></i> </a>';
                            return actionControls;
                        }
                    }
                ],
                'columnDefs': [{
                    'targets': [3],
                    'orderable': false,
                }],
                "order": [[2, "asc"]]
            });
            $('.tableScroll').parent('div').parent('div').addClass("customList_wrapper");

            var table = $('#myTable2').DataTable({
                retrieve: true,
                orderCellsTop: false,
                fixedHeader: true
            })
            $(".th-search-input").click(function (e) {
                e.stopPropagation();
            });

        }
        function DeleteSubService(Serviceid, ParentServiceId) {
            if (confirm("Are you sure you want to delete this Sub Service ?")) {
                $.ajax({
                    type: 'POST',
                    url: "/Service/DeleteSubService",
                    data: {
                        ServiceId: Serviceid,
                        ParentServiceId: ParentServiceId
                    },
                    dataType: "JSON",
                    success: function (resultData) {

                        if (resultData.MessageType == "SUCCESS") {
                            toastr.success(resultData.Message);
                            loadSubservice();


                        }
                        else if (resultData.MessageType == "ERROR") {
                            toastr.error(resultData.Message);
                        }
                        else {
                            toastr.error("Failed to delete SubService");
                        }
                    },
                    error: function (xhr, error, code) {
                        if (xhr.responseText.includes('Portkart-login')) {
                            window.location.reload();
                        }
                    }
                });
            }
        }

    </script>

}