﻿
@model PortKart_WEB.Models.ServiceModel
@{ ViewBag.Title = "UpdateServiceList";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    int[] SCID = new int[] { }; ;
    string CsTp = "";
    if (Model.CostType != null)
    {
        CsTp = Model.CostType;
    }
     if(Model.ServiceCategoryId!=null)
    {
        SCID = Model.ServiceCategoryId;
    }
}


<div class="row">
    <div class="col-lg-12">
        <h2 class="content-title  pull-left">Update Service</h2>
        <nav class="pull-right " aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Service" )">Service</a></li>
                <li class="breadcrumb-item active" aria-current="page">Update Service</li>
            </ol>
        </nav>
    </div>

    <div class="col-md-12">
        <div class="card shadow  bg-white rounded">
            <div class="card-body">

                <hr></hr>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-row col-md-12">
                        @Html.HiddenFor(model => model.ServiceId)
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.ServiceCode, new { @class = "field-label" })
                            @Html.EditorFor(model => model.ServiceCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Service Code" } })
                            @Html.ValidationMessageFor(model => model.ServiceCode, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.ServiceName, new { @class = "field-label" })
                            @Html.EditorFor(model => model.ServiceName, new { htmlAttributes = new { @class = "form-control", placeholder = "Service Name" } })
                            @Html.ValidationMessageFor(model => model.ServiceName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.ServiceCategoryId, new { @class = "field-label" })
                            @Html.DropDownListFor(model => model.ServiceCategoryId, (SelectList)ViewBag.ServiceCategory, new { @class = "custom-select form-control", @id = "ServiceCategoryId", multiple = "multiple" })
                            @Html.ValidationMessageFor(model => model.ServiceCategoryId, "", new { @class = "text-danger" })
                        </div>

                        @*<div class="form-group col-md-6">
                                @Html.LabelFor(model => model.CostType, new { @class = "field-label" })
                                @Html.EditorFor(model => model.CostType, new { htmlAttributes = new { @class = "form-control", placeholder = "CostType" } })
                                @Html.ValidationMessageFor(model => model.CostType, "", new { @class = "text-danger" })
                            </div>*@
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.CostType, new { @class = "field-label" })
                            <select class="custom-select form-control" id="CostType" name="CostType">
                                <option value="Fixed">Fixed</option>
                                <option value="Cumulative">Cumulative</option>
                                <option value="Actual">Actual</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Description, new { @class = "field-label" })
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Description" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 display-flex form-group">
                            @Html.LabelFor(model => model.IsActive, new { @class = "field-label" })
                            @Html.HiddenFor(model => model.IsActive)
                            <label class="switch">
                                <input class="switch-input" type="checkbox" id="chkIsActive">
                                <span class="slider round"></span>
                            </label>

                        </div>
                        <div class="col-md-6 display-flex form-group">
                            @Html.LabelFor(model => model.IsGroup, new { @class = "field-label" })
                            @Html.HiddenFor(model => model.IsGroup)
                            <label class="switch">
                                <input class="switch-input" type="checkbox" id="chkIsGroup">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-inner-prim w-btn pull-right" onclick="window.location.href='/Service/Index'"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>

                    <button type="submit" class="btn btn-inner-sec w-btn pull-right"><i class="fa fa-floppy-o" img src="~/dist/theme/img/save.svg" aria-hidden="true"></i> Update</button>
                }

            </div>
        </div>

    </div>
</div>






<link href="~/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/dist/js/dataTables.fixedHeader.min.js"></script>
    <link href="~/dist/css/jquery.multiselect.css" rel="stylesheet" />
    <script src="~/dist/js/jquery.multiselect.js"></script>

    <script>
        $(document).ready(function () {

            var categoryID =@Html.Raw(Json.Encode(SCID));
            $('#ServiceCategoryId').val(categoryID);
              var cstp =@Html.Raw(Json.Encode(CsTp));
                        $('#CostType').val(cstp);

            console.log(categoryID);
            $('#ServiceCategoryId').multiselect({
                columns: 1,
                selectAll: true,
                texts: {
                    placeholder: 'Select Category',
                    selectAll: 'Select All',
                    unselectAll: 'Unselect All'
                },
                //onLoad: function (element) {
                //},
                //onOptionClick: function (element, option) {
                //},
                //onSelectAll: function (element, selected) {
                //},
            });

            //called when key is pressed in textbox
            $("#ServiceCode").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });



        });




    </script>
}

