﻿@model PortKart_WEB.Models.CountryModel
@{ ViewBag.Title = "AddCountry";
  Layout = "~/Views/Shared/_Layout2.cshtml"; 
    }
<div class="row">
    <div class="col-lg-12">
        <h2 class="content-title  pull-left">Add Country</h2>
        <nav class="pull-right " aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Country")">Country</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Country</li>
            </ol>
        </nav>
    </div>

    <div class="col-md-12">
        <div class="card shadow bg-white rounded">
            <div class="card-body">

                <hr></hr>
                @using (Html.BeginForm())
                {

    <div class="form-row col-md-12">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.CountryName, new { @class = "field-label" })
            @Html.EditorFor(model => model.CountryName, new { htmlAttributes = new { @class = "form-control", placeholder = "country Name" } })
            @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })
        </div>

    </div>
                    <button type="button" class="btn btn-inner-prim w-btn pull-right" onclick="window.location.href='/Country/Index'"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>

                                    <button type="submit" class="btn btn-inner-sec w-btn pull-right"><i class="fa fa-floppy-o" img src="~/dist/theme/img/save.svg" aria-hidden="true"></i> Save</button>}

            </div>
        </div>

    </div>
</div>