﻿
    @model PortKart_WEB.Models.CountryModel
    @{ ViewBag.Title = "UpdateCountry";
                    Layout = "~/Views/Shared/_Layout2.cshtml";
        }
   
        <div class="row">
            <div class="col-lg-12">
                <h2 class="content-title  pull-left">Update Country</h2>
                <nav class="pull-right " aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Country")">Country</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Update Country</li>
                    </ol>
                </nav>
            </div>

            <div class="col-md-12">
                <div class="card shadow  bg-white rounded">
                    <div class="card-body">

                        <hr></hr>
                        @using (Html.BeginForm())
                        {
            @Html.AntiForgeryToken()
                           
                    <div class="form-row col-md-12">
                        @Html.HiddenFor(model => model.CountryId)
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.CountryName, new { @class = "field-label" })
                            @Html.EditorFor(model => model.CountryName, new { htmlAttributes = new { @class = "form-control", placeholder = "Country Name" } })
                            @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-12 display-flex form-group">
                            @Html.LabelFor(model => model.IsActive, new { @class = "field-label" })
                            @Html.HiddenFor(model => model.IsActive)
                            <label class="switch">
                                <input class="switch-input" type="checkbox" id="chkIsActive">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                                    <button type="button" class="btn btn-inner-prim w-btn pull-right" onclick="window.location.href='/Country/Index'"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                                    <button type="submit" class="btn btn-inner-sec w-btn pull-right"><i class="fa fa-floppy-o" img src="~/dist/theme/img/save.svg" aria-hidden="true"></i> Update</button>
                                     
                      }

                    </div>
                </div>

            </div>
        </div>
    

