﻿@{
    ViewBag.Title = "Vessel Port";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="row">
  


    <div class="col-lg-12">
        <div class=" bg-white rounded">
            <h2 class="content-title  pull-left">Vessel Port</h2>
            <a class="btn btn-inner-sec w-btn pull-right" href="@Url.Action("AddVesselPort", "VesselPort")"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
          
        </div>
    </div>

    <div class="col-md-12">
        <div class="card shadow  bg-white rounded">
            <div class="card-body">
                <div class="table-responsive" style="overflow:hidden">
                    <table id="myTable" class="table table-hover tableScroll">
                        <thead class="table-hed-bg">
                            <tr>

                                <th class="sorting_asc" scope="col">Code</th>
                                <th scope="col">Port</th>
                                <th scope="col">Country</th>
                                <th scope="col">Airport</th>
                                <th scope="col">UN/LOCODE</th>
                                <th scope="col">Time Zone</th>
                                <th scope="col">Latitude</th>
                                <th scope="col">Latitude Degree</th>
                                <th scope="col">Latitude Minutes</th>
                                <th scope="col">Latitude Direction</th>
                                <th scope="col">Longitude</th>
                                <th scope="col">Longitude Degree</th>
                                <th scope="col">Longitude Minutes</th>
                                <th scope="col">Longitude Direction</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>



                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>







<link href="~/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

@section Scripts{

    <script src="~/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/dist/js/dataTables.fixedHeader.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
               "serverSide": true,
                "autoWidth": false,
                language: { search: '', searchPlaceholder: "Search" },
                "ajax": {
                    "url": "/VesselPort/GetVesselPortListServerSide",
                    "type": "POST",
                    "datatype": "json",
                   
                },


                "columns": [
                    { "data": "Code", "name": "Code", "autoWidth": true },
                    { "data": "Port", "name": "Port", "autoWidth": true },
                    { "data": "CountryName", "name": "CountryName", "autoWidth": true },
                    { "data": "Airport", "name": "Airport", "autoWidth": true },
                    { "data": "Un_Locode", "name": "Un_Locode", "autoWidth": true },
                    { "data": "TimeZone", "name": "TimeZone", "autoWidth": true },
                    { "data": "Latitude", "name": "Latitude", "autoWidth": true },
                    { "data": "LatitudeDegree", "name": "LatitudeDegree", "autoWidth": true },
                    { "data": "LatitudeMinutes", "name": "LatitudeMinutes", "autoWidth": true },
                    { "data": "LatitudeDirection", "name": "LatitudeDirection", "autoWidth": true },
                    { "data": "Longitude", "name": "Longitude", "autoWidth": true },
                    { "data": "LongitudeDegree", "name": "LongitudeDegree", "autoWidth": true },
                    { "data": "LongitudeMinutes", "name": "LongitudeMinutes", "autoWidth": true },
                    { "data": "LongitudeDirection", "name": "LongitudeDirection", "autoWidth": true },
                    {
                        "data": "IsActive", "name": "IsActive", "autoWidth": true, "render": function (data, type, row, meta) {
                            if (data == true) { return "Active"; }
                            else {
                                return "Inactive";
                            }

                        }
                    },

                    {
                        "data": "PortId", "width": "50px", "render": function (data, type, row, meta) {

                            var actionControls = '<a  href="/VesselPort/UpdateVesselPort/' + data + '" class="btn btn-view btn-xs"><i class="fa fa-pencil"></i></a>';
                            if (row["IsActive"]) {
                                actionControls += '<a href = "/VesselPort/DeleteVesselPort/' + data + '" class="scale-trans tbl-dlt-ico" onclick="return ConfirmDeactivation();"><i class="fa fa-trash"></i> </a>';
                            }
                            return actionControls;
                        }
                    }
                ],
                'columnDefs': [{
                    'targets': [15],
                    'orderable': false,
                }]
            });
            $('.tableScroll').parent('div').parent('div').addClass("customList_wrapper");
            $('#myTable thead tr').clone(true).appendTo('#myTable thead');
            $('#myTable thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).removeClass();
                if (title != "Action") {
                    $(this).html('<input class="th-search-input form-control-sec" type="text" />');
                }
                else {
                    $(this).text("Operation");
                    $(this).addClass("ghostPlaceHolder");
                }
                $(this).addClass("th-search")
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#myTable').DataTable({
                retrieve: true,
                orderCellsTop: true,
                fixedHeader: true
            })
            $(".th-search-input").click(function (e) {
                e.stopPropagation();
            });
        });
        function ConfirmDeactivation() {
            return confirm("Are you sure you want to deactivate this VesselPort ?");
        }
    </script>
}



