﻿
    @model PortKart_WEB.Models.VesselPortModel
    @{ ViewBag.Title = "UpdateVesselPort";
                    Layout = "~/Views/Shared/_Layout2.cshtml"; }

   
        <div class="row">
            <div class="col-lg-12">
                <h2 class="content-title pull-left">Update Vessel Port</h2>
                <nav class="pull-right pt-3 pb-3" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action(" Index", "VesselPort")">Vessel Port</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Update Vessel Port</li>
                    </ol>
                </nav>
            </div>

            <div class="col-md-12">
                <div class="card shadow  bg-white rounded">
                    <div class="card-body">

                        <hr></hr>
                        @using (Html.BeginForm())
                        {
                    @Html.AntiForgeryToken()

                                    <div class="form-row col-md-12">
                                        @Html.HiddenFor(model => model.PortId)
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.Code, new { @class = "field-label" })
                                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", placeholder = "Code" } })
                                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.Port, new { @class = "field-label" })
                                            @Html.EditorFor(model => model.Port, new { htmlAttributes = new { @class = "form-control", placeholder = "Port" } })
                                            @Html.ValidationMessageFor(model => model.Port, "", new { @class = "text-danger" })
                                        </div>
                                        @*<div class="col-md-6">
                            @Html.LabelFor(model => model.Country, new { @class = "field-label" })
                            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Country" } })
                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                        </div>*@
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.CountryId, new { @class = "field-label" })
                                            @Html.DropDownListFor(model => model.CountryId, (SelectList)ViewBag.Country, "Select Country", new { @class = "custom-select form-control", @id = "CountryId" })
                                            @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.Airport, new { @class = "field-label" })
                                            @Html.EditorFor(model => model.Airport, new { htmlAttributes = new { @class = "form-control", placeholder = "Airport" } })
                                            @Html.ValidationMessageFor(model => model.Airport, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.Un_Locode, new { @class = "field-label" })
                                            @Html.EditorFor(model => model.Un_Locode, new { htmlAttributes = new { @class = "form-control", placeholder = "UU/LCODE" } })
                                            @Html.ValidationMessageFor(model => model.Un_Locode, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.TimeZone, new { @class = "field-label" })
                                            @Html.EditorFor(model => model.TimeZone, new { htmlAttributes = new { @class = "form-control", placeholder = "TimeZone" } })
                                            @Html.ValidationMessageFor(model => model.TimeZone, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.Latitude, new { @class = "field-label" })
                                            @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control", placeholder = "Latitude" } })
                                            @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.LatitudeDegree, new { @class = "field-label" })
                                            @Html.EditorFor(model => model.LatitudeDegree, new { htmlAttributes = new { @class = "form-control", placeholder = "Latitude Degree" } })
                                            @Html.ValidationMessageFor(model => model.LatitudeDegree, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.LatitudeMinutes, new { @class = "field-label" })
                                            @Html.EditorFor(model => model.LatitudeMinutes, new { htmlAttributes = new { @class = "form-control", placeholder = "Latitude Minutes" } })
                                            @Html.ValidationMessageFor(model => model.LatitudeMinutes, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.LatitudeDirection, new { @class = "field-label" })
                                            @Html.EditorFor(model => model.LatitudeDirection, new { htmlAttributes = new { @class = "form-control", placeholder = "Latitude Direction" } })
                                            @Html.ValidationMessageFor(model => model.LatitudeDirection, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.Longitude, new { @class = "field-label" })
                                            @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control", placeholder = "Longitude" } })
                                            @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.LongitudeDegree, new { @class = "field-label" })
                                            @Html.EditorFor(model => model.LongitudeDegree, new { htmlAttributes = new { @class = "form-control", placeholder = "Longitude Degree" } })
                                            @Html.ValidationMessageFor(model => model.LongitudeDegree, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.LongitudeMinutes, new { @class = "field-label" })
                                            @Html.EditorFor(model => model.LongitudeMinutes, new { htmlAttributes = new { @class = "form-control", placeholder = "Longitude Minutes" } })
                                            @Html.ValidationMessageFor(model => model.LongitudeMinutes, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.LongitudeDirection, new { @class = "field-label" })
                                            @Html.EditorFor(model => model.LongitudeDirection, new { htmlAttributes = new { @class = "form-control", placeholder = "Longitude Direction" } })
                                            @Html.ValidationMessageFor(model => model.LongitudeDirection, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-12 display-flex form-group">
                                            @Html.LabelFor(model => model.IsActive, new { @class = "field-label" })
                                            @Html.HiddenFor(model => model.IsActive)
                                            <label class="switch">
                                                <input class="switch-input" type="checkbox" id="chkIsActive">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                                    <button type="button" class="btn btn-inner-prim w-btn pull-right" onclick="window.location.href='/VesselPort/Index'"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>

                                                                    <button type="submit" class="btn btn-inner-sec w-btn pull-right"><i class="fa fa-floppy-o" img src="~/dist/theme/img/save.svg" aria-hidden="true"></i> Update</button>}

                    </div>
                </div>

            </div>
        </div>
   




















