﻿@model PortKart_WEB.Models.UserProfileModel
@{
    ViewBag.Title = "Index";
    List<Domain.Country> CountryList = new List<Domain.Country>();
    CountryList = ViewBag.CountryList;

}
<style>
    .CompanyLogo {
        height: 150px;
        width: 150px;
        border: 1px solid whitesmoke;
        margin-left: 20px;
        object-fit: cover;
    }

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .accordbtn {
        background: #546d968c;
        border-radius: 0;
        width: 100%;
        text-align: left;
        padding-left: 20px;
        margin-bottom: 25px;
        outline: none !important;
    }

        .accordbtn:hover, .accordbtn:focus {
            color: #5d605e;
            text-decoration: none;
            background-color: #a1afc5;
        }

        .accordbtn:focus {
            border: none !important;
        }

    .eyecon {
        height: 23px;
        position: relative;
        top: -1px;
        right: 13px;
    }

    textarea {
        resize: vertical;
        height:auto !important;
    }

    #accordion {
        padding: 0;
    }

    .row-no-margin {
        margin-left: 0;
        margin-right: 0;
    }
</style>
<h2 class="main-title mt-4">Profile</h2>
@using (Html.BeginForm("Index", "UserProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">

        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.CompanyId)
        @Html.HiddenFor(model => model.LogoPath)
        <div class="col-md-6" style="margin-bottom:25px;padding:0">
            <div class="col-md-12"><img id="LogoImg" src="@Model.LogoPath" class="CompanyLogo" /></div>
            <div class="col-md-6">
                <label for="LogoFile" class="btn green-gradient" style="height:38px">
                    <img src="~/dist/img/edit.svg" class="save-img" /> Change Logo
                </label>
                <input id="LogoFile" type="file" name="LogoFile" accept="image/*" />
                <br /> <br />
                <span style="font-size:10px">* Supported file extensions .jpg,.jpeg,.png,.gif</span><br />
                <span style="font-size:10px">* Maximum file size 5 mb</span>
            </div>
            <div class="col-md-6 ">



                <a class="btn green-gradient" style="height:38px" href="@Url.Action("PreviewIndex", "UserProfile")">
                    <img src="~/dist/img/White-eye.svg" class="eyecon" /> Preview
                </a>

            </div>
        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.CompanyName, new { @class = "field-label" })
            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Company Name" } })
            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.CompanyRegNo, new { @class = "field-label" })
            @Html.EditorFor(model => model.CompanyRegNo, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Company RegNo" } })
            @Html.ValidationMessageFor(model => model.CompanyRegNo, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6 position-relative select">
            @Html.LabelFor(model => model.CountryId, new { @class = "field-label" })
            @Html.DropDownListFor(model => model.CountryId, (SelectList)ViewBag.Country, "Select Country", new { @class = "common-input width-100 select-element default", @id = "CountryId" })
            @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.City, new { @class = "field-label" })
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "City" } })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-12">
            @Html.LabelFor(model => model.Address, new { @class = "field-label" })
            @Html.TextAreaFor(model => model.Address, new { @class = "common-input width-100", placeholder = "Address" })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.CountryCode, new { @class = "field-label" })
            @Html.EditorFor(model => model.CountryCode, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Country Code" } })
            @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.Phone, new { @class = "field-label" })
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Phone" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.Website, new { @class = "field-label" })
            @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Website" } })
            @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6 position-relative select">
            @Html.LabelFor(model => model.IndustryTypeId, new { @class = "field-label" })
            @Html.DropDownListFor(model => model.IndustryTypeId, (SelectList)ViewBag.IndustryType, "Select IndustryType", new { @class = "common-input width-100 select-element default", @id = "IndustryTypeId" })
            @Html.ValidationMessageFor(model => model.IndustryTypeId, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-12"><hr /></div>
        <div id="accordion" class="col-md-12">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link accordbtn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Add Contact person details
                        </button>
                    </h5>
                </div>
                @*@if (Model.ContactPersonList.Count == 0)
                    {
                        var contactperson = new Domain.ContactPerson();
                        contactperson.Name = "";
                        contactperson.CountryCode = "";
                        contactperson.PhoneNo = "";
                        contactperson.IsPreview = false;
                        contactperson.CompanyId = Model.CompanyId;
                        Model.ContactPersonList.Add(contactperson);
                    }*@
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div id="CP_Card" class="row row-no-margin">
                            @for (var cp = 0; cp < Model.ContactPersonList.Count; cp++)
                            {
                                var checkedCP = Model.ContactPersonList[cp].IsPreview == true ? "checked" : "";

                                @Html.HiddenFor(model => Model.ContactPersonList[cp].ContactPersonId, new { @id = "CP_ContactPersonId_" + cp })
                                @Html.HiddenFor(model => Model.ContactPersonList[cp].CompanyId, new { @id = "CP_CompanyId_" + cp })
                                <div class="col-md-6">
                                    @Html.LabelFor(model => Model.ContactPersonList[cp].Name, new { @class = "field-label" })
                                    @Html.EditorFor(model => Model.ContactPersonList[cp].Name, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Name", @id = "CP_Name_" + cp } })
                                    <span class="text-danger field-validation-error" id="CP_Name_Error_@cp"></span>
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => Model.ContactPersonList[cp].CountryCode, new { @class = "field-label" })
                                    @Html.EditorFor(model => Model.ContactPersonList[cp].CountryCode, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Country Code", @id = "CP_CountryCode_" + cp } })
                                    @Html.ValidationMessageFor(model => Model.ContactPersonList[cp].CountryCode, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => Model.ContactPersonList[cp].PhoneNo, new { @class = "field-label" })
                                    @Html.EditorFor(model => Model.ContactPersonList[cp].PhoneNo, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Phone No", @id = "CP_PhoneNo_" + cp } })
                                    <span class="text-danger field-validation-error" id="CP_PhoneNo_Error_@cp"></span>
                                </div>
                                <div class="col-md-6">
                                    <input id="CP_IsPreview_@cp" name="ContactPersonList[cp].IsPreview" @checkedCP type="checkbox">
                                    @Html.LabelFor(model => Model.ContactPersonList[cp].IsPreview, new { @class = "field-label" })

                                </div>
                                <div class="col-md-12">
                                    <hr />

                                </div>


                            }
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn green-gradient " onclick="SaveAndAddCP()">
                                Save and Add New
                            </button>
                            <button type="button" class="btn green-gradient " onclick="SaveCP()">
                                Save
                            </button>
                            <button type="button" class="btn green-gradient " onclick="CancelCP()">
                                Cancel
                            </button>
                        </div>




                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link accordbtn" type="button" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                            Add Branch details
                        </button>
                    </h5>
                </div>
                @*@if (Model.CompanyBranchList.Count == 0)
        {
            var CompanyBranch = new Domain.CompanyBranch();
            CompanyBranch.BranchId = 0;
            CompanyBranch.BranchName = "";
            CompanyBranch.CountryId = 0;
            CompanyBranch.CountryCode = "";
            CompanyBranch.Phone = "";
            CompanyBranch.Address = "";
            CompanyBranch.CompanyId = Model.CompanyId;
            Model.CompanyBranchList.Add(CompanyBranch);
        }*@
                <div id="collapsetwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div id="BL_Card" class="row-no-margin">
                            @for (var bl = 0; bl < Model.CompanyBranchList.Count; bl++)
                            {

                                var checkedBL = Model.CompanyBranchList[bl].IsPreview == true ? "checked" : "";

                                @Html.HiddenFor(model => Model.CompanyBranchList[bl].BranchId, new { @id = "BL_BranchId_" + bl })
                                @Html.HiddenFor(model => Model.CompanyBranchList[bl].CompanyId, new { @id = "BL_CompanyId_" + bl })
                                @Html.HiddenFor(model => Model.CompanyBranchList[bl].CountryId, new { @id = "BL_CountryId_" + bl })

                                <div class="col-md-12">
                                    <label class="field-label" for="BL_BranchName_@bl">Company Branch name</label>
                                    <input class="common-input width-100" id="BL_BranchName_@bl" name="CompanyBranchList[@bl].BranchName" placeholder="Branch Name" type="text" value="@Model.CompanyBranchList[bl].BranchName">
                                </div>
                                <div class="col-md-6 position-relative select">
                                    @Html.LabelFor(model => Model.CompanyBranchList[bl].CountryId, new { @class = "field-label" })
                                    @Html.DropDownListFor(model => Model.CompanyBranchList[bl].CountryId, new SelectList(CountryList, "CountryId", "CountryName", Model.CompanyBranchList[bl].CountryId), "Select Country", new { @class = "common-input width-100 select-element default", @id = "BL_CountryId_" + @bl })
                                    @Html.ValidationMessageFor(model => Model.CompanyBranchList[bl].CountryId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => Model.CompanyBranchList[bl].Address, new { @class = "field-label" })
                                    @Html.TextAreaFor(model => Model.CompanyBranchList[bl].Address, new { @class = "common-input width-100", @id = "BL_Address_" + bl, placeholder = "Address" })
                                </div>
                                <div class="col-md-6">
                                    <label class="field-label" for="BL_CountryCode_@bl">Country Code</label>
                                    <input class="common-input width-100" id="BL_CountryCode_@bl" name="CompanyBranchList[@bl].CountryCode" placeholder="Country Code" type="text" value="@Model.CompanyBranchList[bl].CountryCode">
                                </div>
                                <div class="col-md-6">
                                    <label class="field-label" for="BL_Phone_@bl">Phone</label>
                                    <input class="common-input width-100" id="BL_Phone_@bl" name="CompanyBranchList[@bl].Phone" placeholder="Phone" type="text" value="@Model.CompanyBranchList[bl].Phone">
                                </div>
                                <div class="col-md-6">
                                    <label class="field-label" for="BL_Website_@bl">Website</label>
                                    <input class="common-input width-100" id="BL_Website_@bl" name="CompanyBranchList[@bl].Website" placeholder="Website" type="text" value="@Model.CompanyBranchList[bl].Website">
                                </div>
                                <div class="col-md-6">
                                    <label class="field-label" for="BL_Email_@bl">Email</label>
                                    <input class="common-input width-100" id="BL_Email_@bl" name="CompanyBranchList[@bl].Email" placeholder="Email" type="text" value="@Model.CompanyBranchList[bl].Email">
                                </div>
                                <div class="col-md-6">
                                    <label class="field-label" for="BL_ContactPerson_@bl">Contact Person</label>
                                    <input class="common-input width-100" id="BL_ContactPerson_@bl" name="CompanyBranchList[@bl].ContactPerson" placeholder="Contact Person" type="text" value="@Model.CompanyBranchList[bl].ContactPerson">
                                </div>
                                <div class="col-md-6">
                                    <label class="field-label" for="BL_CP_CountryCode_@bl">Contact Person CountryCode</label>
                                    <input class="common-input width-100" id="BL_CP_CountryCode_@bl" name="CompanyBranchList[@bl].CP_CountryCode" placeholder="Contact Person CountryCode" type="text" value="@Model.CompanyBranchList[bl].CP_CountryCode">
                                </div>
                                <div class="col-md-6">
                                    <label class="field-label" for="BL_CP_Phone_@bl">Contact Person Phone</label>
                                    <input class="common-input width-100" id="BL_CP_Phone_@bl" name="CompanyBranchList[@bl].CP_Phone" placeholder="Phone" type="text" value="@Model.CompanyBranchList[bl].CP_Phone">
                                </div>
                                <div class="col-md-6">
                                    <input id="BL_IsPreview_@bl" name="CompanyBranchList[bl].IsPreview" @checkedBL type="checkbox">
                                    @Html.LabelFor(model => Model.CompanyBranchList[bl].IsPreview, new { @class = "field-label" })

                                </div>
                                <div class="col-md-12">
                                    <hr>
                                </div>

                            }
                        </div>

                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn green-gradient " onclick="SaveAndAddBL()">
                            Save and Add New
                        </button>
                        <button type="button" class="btn green-gradient " onclick="SaveBL()">
                            Save
                        </button>
                        <button type="button" class="btn green-gradient " onclick="CancelBL()">
                            Cancel
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12"><hr /></div>
        <div class="col-md-12" style="padding:0">
            <h5 style="font-family:MontserratBold;padding-left:20px;margin-bottom:25px">Social Media</h5>
            <div class="row row-no-margin">
                @for (var s = 0; s < Model.SocialMediaList.Count; s++)
                {
                    <div class="col-md-6">
                        @Html.HiddenFor(model => Model.SocialMediaList[s].SocialMediaId)
                        @Html.HiddenFor(model => Model.SocialMediaList[s].CompanyId)
                        @Html.HiddenFor(model => Model.SocialMediaList[s].Type)
                        @Html.LabelFor(model => Model.SocialMediaList[s].Link, Model.SocialMediaList[s].Type, new { @class = "field-label" })
                        @Html.EditorFor(model => Model.SocialMediaList[s].Link, new { htmlAttributes = new { @class = "common-input width-100", placeholder = Model.SocialMediaList[s].Type } })
                        @Html.ValidationMessageFor(model => Model.SocialMediaList[s].Link, "", new { @class = "text-danger" })
                    </div>

                }
            </div>
        </div>
        <div class="col-md-12"><hr /></div>
        <div class="col-md-12">
            <h5 style="font-family:MontserratBold;padding-left:20px;margin-bottom:25px">Additional Information</h5>
            <label class="field-label" for="About">About the Company</label>
            @Html.TextAreaFor(model => model.About, new {  @class = "common-input width-100", placeholder = "Write about your company in less than 1000 words" })
            @Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12 d-flex justify-content-end">
            <button type="submit" class="btn green-gradient save-btn">
                <img src="~/dist/img/save.svg" class="save-img" /> Update
            </button>
        </div>

    </div>
}
@section Scripts{
    <script src="~/dist/js/moment.min.js"></script>

    <script type="text/javascript">
        //Global variable----------------------------
        var CPCount = 0;
        var ContactPersonList = [];
        var CPSaved = false;
        var BLSaved = false;
        var BLCount = 0;
        var CompanyBranchList = [];
        var CompanyId = 0;
        var countrylist = [];
        //------------------------------------------------

        $(document).ready(function () {
            $('#widthToggle').click();
            $("#LogoFile").change(function(event) {
	        var tmppath = URL.createObjectURL(event.target.files[0]);
	        $("#LogoImg").attr('src',tmppath);
            });

               toastr.options = {
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 100,
                "fadeOut": 50,
                "timeOut": 1000,
                "extendedTimeOut": 1000
            }
            var json = @Html.Raw(Json.Encode(@Model));// getting model value
            //console.log(json);
            CompanyId = json.CompanyId;
            //CONTACT PERSON--------------------------------------------------------------
            ContactPersonList = json.ContactPersonList;
            CPCount = ContactPersonList.length;
            if (CPCount == 0) {
                AddCP();
            }
            else if (CPCount > 0) {
                 for (var i = 0; i < CPCount; i++) {
                         ContactPersonList[i].CountryCode =  ContactPersonList[i].CountryCode==null?"":ContactPersonList[i].CountryCode;
                         ContactPersonList[i].PhoneNo =  ContactPersonList[i].PhoneNo==null?"": ContactPersonList[i].PhoneNo;
                    }
                CPSaved = true;
            }
            //BRANCH LIST--------------------------------------------------------------------
            CompanyBranchList = json.CompanyBranchList;
            BLCount = CompanyBranchList.length;
            countrylist =@Html.Raw(Json.Encode(CountryList));
              if (BLCount == 0) {
               AddBL();
            }
              else if (BLCount > 0) {
                for (var i = 0; i < BLCount; i++) {
                    CompanyBranchList[i].Website = CompanyBranchList[i].Website == null ? "" : CompanyBranchList[i].Website;
                    CompanyBranchList[i].Address = CompanyBranchList[i].Address == null ? "" : CompanyBranchList[i].Address;
                    CompanyBranchList[i].Email = CompanyBranchList[i].Email == null ? "" : CompanyBranchList[i].Email;
                    CompanyBranchList[i].Phone = CompanyBranchList[i].Phone == null ? "" : CompanyBranchList[i].Phone;
                    CompanyBranchList[i].ContactPerson = CompanyBranchList[i].ContactPerson == null ? "" : CompanyBranchList[i].ContactPerson;
                    CompanyBranchList[i].CP_CountryCode = CompanyBranchList[i].CP_CountryCode == null ? "" : CompanyBranchList[i].CP_CountryCode;
                    CompanyBranchList[i].CP_Phone =  CompanyBranchList[i].CP_CountryCode==null?"": CompanyBranchList[i].CP_CountryCode;
                    }
                BLSaved = true;
            }
        });

        function SaveCP() {
            var iserror = false;

            if (CPCount > 0) {
                   for (var i = 0; i < CPCount; i++) {
                       var contactpersonname = $('#CP_Name_' + i).val();
                        var cpphone = $('#CP_PhoneNo_' + i).val();
                      if (contactpersonname == null || contactpersonname == undefined || contactpersonname == "") {
                          iserror = true;
                          $('#CP_Name_Error_' + i).text('Contact person name required')
                       }
                        if (!cpphone.match(/^([0-9]{0,15})$/)) {
                          iserror = true;
                          $('#CP_PhoneNo_Error_' + i).text('Phone number not valid')
                       }
                    }
                if (iserror) {
                    toastr.error("Contact Person details not saved")
                    return false;
                }
                else {
                       for (var i = 0; i < CPCount; i++) {
                         ContactPersonList[i].CompanyId = Number($('#CP_CompanyId_' + i).val());
                         ContactPersonList[i].ContactPersonId = $('#CP_ContactPersonId_' + i).val();
                         ContactPersonList[i].CountryCode = $('#CP_CountryCode_' + i).val()==null?"": $('#CP_CountryCode_' + i).val();
                         ContactPersonList[i].IsPreview = $('#CP_IsPreview_' + i).is(':checked');
                         ContactPersonList[i].Name = $('#CP_Name_' + i).val();
                         ContactPersonList[i].PhoneNo = $('#CP_PhoneNo_' + i).val() == null ? "" : $('#CP_PhoneNo_' + i).val();
                           $('#CP_Name_Error_' + i).text('');
                           $('#CP_PhoneNo_Error_' + i).text('')
                    }
                    CPSaved = true;
                    toastr.success("Contact Person saved")
                  return true;
                }
            }
            return false;
         }

        function SaveAndAddCP() {
            var saved = SaveCP();
            if (saved) {AddCP();}
            
        }

        function AddCP() {
            var cp = CPCount;
            var html='<input type="hidden" id="CP_ContactPersonId_'+cp+'" name="ContactPersonList['+cp+'].ContactPersonId" value="0"/>'+
                     '<input type="hidden" id="CP_CompanyId_'+cp+'" name="ContactPersonList['+cp+'].CompanyId" value="' + CompanyId + '"/>'+
            '<div class="col-md-6">' +
                '<label for="ContactPersonList['+cp+'].Name" class="field-label">Contact Person</label>' +
                '<input class="common-input width-100" id="CP_Name_' + cp + '" name="ContactPersonList[' + cp + '].Name" placeholder="Contact Person" type="text" >' +
                ' <span class="text-danger field-validation-error" id="CP_Name_Error_'+cp+'"></span>'+
                        '</div>'+
                ' <div class="col-md-6">' +
                '<label for="ContactPersonList['+cp+'].CountryCode" class="field-label">Country Code</label>' +
                '<input class="common-input width-100" id="CP_CountryCode_' + cp + '" name="ContactPersonList[' + cp + '].CountryCode" placeholder="Country Code" type="text" >' +
               
                        '</div>'+
                ' <div class="col-md-6">' +
                '<label for="ContactPersonList['+cp+'].PhoneNo" class="field-label">Phone No</label>' +
                '<input class="common-input width-100" id="CP_PhoneNo_' + cp + '" name="ContactPersonList[' + cp + '].PhoneNo" placeholder="Phone No" type="text" >' +
                '<span class="text-danger field-validation-error" id="CP_PhoneNo_Error_'+cp+'"></span>'+
                       ' </div>'+
                        '<div class="col-md-6">'+
                                '<input  id="CP_IsPreview_' + cp + '" name="ContactPersonList[' + cp + '].IsPreview" type="checkbox" >' +
                                '<label for="ContactPersonList['+cp+'].IsPreview" class="field-label">Show in Preview</label>' +
                        '</div>'+
                       ' <div class="col-md-12">'+
                            '<hr />'+
                '</div>'

            $('#CP_Card').append(html);

            ContactPersonList.push({
                CompanyId: Number(CompanyId),
                ContactPersonId: 0,
                CountryCode: "",
                IsPreview: false,
                Name: "",
                PhoneNo: ""
            });
            CPCount++;
        }



         function SaveBL() {
            var iserror = false;
            if (BLCount > 0) {
                   for (var i = 0; i < BLCount; i++) {
                        var branchName = $('#BL_BranchName_' + i).val();
                      if (branchName == null || branchName == undefined || branchName == "") {
                          iserror = true;
                       }
                    }
                if (iserror) {
                    toastr.error("Company Branch Name cannot be empty")
                    return false;
                }
                else {
                       for (var i = 0; i < BLCount; i++) {
                        
                            CompanyBranchList[i].BranchId = $('#BL_BranchId_' + i).val();
                            CompanyBranchList[i].CountryId = $('#BL_CountryId_' + i).val();
                            CompanyBranchList[i].CompanyId = $('#BL_CompanyId_' + i).val();
                            CompanyBranchList[i].BranchName = $('#BL_BranchName_' + i).val();
                            CompanyBranchList[i].Address = $('#BL_Address_' + i).val();
                            CompanyBranchList[i].CountryCode = $('#BL_CountryCode_' + i).val();
                            CompanyBranchList[i].Phone = $('#BL_Phone_' + i).val();
                            CompanyBranchList[i].Website = $('#BL_Website_' + i).val();
                            CompanyBranchList[i].Email = $('#BL_Email_' + i).val();
                            CompanyBranchList[i].ContactPerson = $('#BL_ContactPerson_' + i).val();
                            CompanyBranchList[i].CP_Phone = $('#BL_CP_Phone_' + i).val();
                            CompanyBranchList[i].CP_CountryCode = $('#BL_CP_CountryCode_' + i).val();
                            CompanyBranchList[i].IsPreview = $('#BL_IsPreview_' + i).is(':checked');
                    }
                    BLSaved = true;
                    toastr.success("Company branch saved")
                  return true;
                }
            }
            return false;
        }
        function SaveAndAddBL() {
            var saved = SaveBL();
            if (saved) {AddBL();}

        }
        function AddBL() {
            var bl = BLCount;

            var options = '<option value="">Select Country</option>';
            for (var i = 0; i < countrylist.length; i++) {
                options = options + '<option value = "' + countrylist[i].CountryId + '">' + countrylist[i].CountryName + '</option>';
            
            }
         
          
            var html = '<input type="hidden" id="BL_BranchId_' + bl + '" name="CompanyBranchList[' + bl + '].BranchId" value="0"/>' +
                '<input type="hidden" id="BL_CompanyId_' + bl + '" name="CompanyBranchList[' + bl + '].CompanyId" value="' + CompanyId + '"/>' +
                '<div class="col-md-12">' +
                '<label for="Model.CompanyBranchList['+bl+'].BranchName" class="field-label">Company Branch Name</label>' +
                '<input class="common-input width-100" id="BL_BranchName_' + bl + '" name="CompanyBranchList[' + bl + '].BranchName" placeholder="Company Branch Name" type="text" >' +
                '<span class="field-validation-valid text-danger" data-valmsg-for="CompanyBranchList['+bl+'].BranchName" data-valmsg-replace="true"></span>'+
             '</div>'+
            
                '<div class="col-md-6 position-relative select"> '+
                '<label  class="field-label">Country</label>' +
                '<select class = "common-input width-100 select-element default" id="BL_CountryId_' + bl + '">' +
                  
           
                options+
                '</select>'+
                
           
                       '</div>' +
             ' <div class="col-md-6">' +
                '<label for="Model.CompanyBranchList['+bl+'].Address" class="field-label">Address</label>' +
                ' <textarea  class="common-input width-100" id="BL_Address_'+ bl +'" name="CompanyBranchList['+bl + '].Address" placeholder="Address"  value=""></textarea>'+

                '<span class="field-validation-valid text-danger" data-valmsg-for="CompanyBranchList[' + bl + '].Address" data-valmsg-replace="true"></span>' +
                '</div>' +
             ' <div class="col-md-6">' +
                '<label for="Model.CompanyBranchList['+bl+'].CountryCode" class="field-label">Country Code</label>' +
                '<input class="common-input width-100" id="BL_CountryCode_' + bl + '" name="CompanyBranchList[' + bl + '].CountryCode" placeholder="Country Code" type="text" >' +
                '<span class="field-validation-valid text-danger" data-valmsg-for="CompanyBranchList['+bl+'].CountryCode" data-valmsg-replace="true"></span>'+
                '</div>' +
             ' <div class="col-md-6">' +
                '<label for="Model.CompanyBranchList['+bl+'].Phone" class="field-label">Phone</label>' +
                '<input class="common-input width-100" id="BL_Phone_' + bl + '" name="CompanyBranchList[' + bl + '].Phone" placeholder="Phone" type="text" >' +
                '<span class="field-validation-valid text-danger" data-valmsg-for="CompanyBranchList['+bl+'].Phone" data-valmsg-replace="true"></span>'+
                '</div>' +
             ' <div class="col-md-6">' +
                '<label for="Model.CompanyBranchList['+bl+'].Website" class="field-label">Website</label>' +
                '<input class="common-input width-100" id="BL_Website_' + bl + '" name="CompanyBranchList[' + bl + '].Website" placeholder="Website" type="text" >' +
                '<span class="field-validation-valid text-danger" data-valmsg-for="CompanyBranchList['+bl+'].Website" data-valmsg-replace="true"></span>'+
                '</div>' +
            ' <div class="col-md-6">' +
                '<label for="Model.CompanyBranchList['+bl+'].Email" class="field-label">Email</label>' +
                '<input class="common-input width-100" id="BL_Email_' + bl + '" name="CompanyBranchList[' + bl + '].Email" placeholder="Email" type="text" >' +
                '<span class="field-validation-valid text-danger" data-valmsg-for="CompanyBranchList['+bl+'].Email" data-valmsg-replace="true"></span>'+
                '</div>' +
             ' <div class="col-md-6">' +
                '<label for="Model.CompanyBranchList['+bl+'].ContactPerson" class="field-label">Contact Person</label>' +
                '<input class="common-input width-100" id="BL_ContactPerson_' + bl + '" name="CompanyBranchList[' + bl + '].ContactPerson" placeholder="Contact Person" type="text" >' +
                '<span class="field-validation-valid text-danger" data-valmsg-for="CompanyBranchList['+bl+'].ContactPerson" data-valmsg-replace="true"></span>'+
                '</div>' +
             ' <div class="col-md-6">' +
                '<label for="Model.CompanyBranchList['+bl+'].CP_CountryCode" class="field-label">Contact Person Country Code</label>' +
                '<input class="common-input width-100" id="BL_CP_CountryCode_' + bl + '" name="CompanyBranchList[' + bl + '].CP_CountryCode" placeholder="Contact Person Country Code" type="text" >' +
                '<span class="field-validation-valid text-danger" data-valmsg-for="CompanyBranchList['+bl+'].CP_CountryCode" data-valmsg-replace="true"></span>'+
             '</div>'+
             ' <div class="col-md-6">' +
                '<label for="Model.CompanyBranchList['+bl+'].CP_Phone" class="field-label">Contact Person Phone No</label>' +
                '<input class="common-input width-100" id="BL_CP_Phone_' + bl + '" name="CompanyBranchList[' + bl + '].CP_Phone" placeholder="Contact Person PhoneNo" type="text" >' +
                '<span class="field-validation-valid text-danger" data-valmsg-for="CompanyBranchList['+bl+'].CP_Phone" data-valmsg-replace="true"></span>'+
                ' </div>' +
                '<div class="col-md-6">'+
                                '<input  id="BL_IsPreview_' + bl + '" name="CompanyBranchList[' + bl + '].IsPreview" type="checkbox" >' +
                                '<label for="CompanyBranchList['+bl+'].IsPreview" class="field-label">Show in Preview</label>' +
                '</div>' +
               
             ' <div class="col-md-12">'+
                  '<hr />'+
             ' </div>'

            $('#BL_Card').append(html);

            CompanyBranchList.push({
                 Address: "",
                 BranchId: 0,
                 BranchName: "",
                 CP_CountryCode: "",
                 CP_Phone:"",
                 CompanyId: Number(CompanyId),
                 ContactPerson:"",
                 CountryCode: "",
                 CountryId: 0,
                 Email:"",
                 Phone: "",
                IsPreview: false,
                 Website:"",

            });
            BLCount++;
        }

        $('form').submit(function () {
            $('#CP_Card').empty();
            $('#BL_Card').empty();
            var html = "";
            if (CPSaved) {
                for (var cp = 0; cp < ContactPersonList.length; cp++) {
                    if (ContactPersonList[cp].Name != null && ContactPersonList[cp].Name != undefined && ContactPersonList[cp].Name != "") {
                        var checked = ContactPersonList[cp].IsPreview == true ? "checked" : "";
                        html = html + '<input type="hidden" id="CP_ContactPersonId_' + cp + '" name="ContactPersonList[' + cp + '].ContactPersonId" value="' + ContactPersonList[cp].ContactPersonId + '"/>' +
                            '<input type="hidden" id="CP_CompanyId_' + cp + '" name="ContactPersonList[' + cp + '].CompanyId" value="'+ ContactPersonList[cp].CompanyId + '"/>' +
                            '<div class="col-md-6">' +
                            '<label for="Model.ContactPersonList[' + cp + '].Name" class="field-label">Contact Person</label>' +
                            '<input class="common-input width-100" id="CP_Name_' + cp + '" name="ContactPersonList[' + cp + '].Name" value="' + ContactPersonList[cp].Name + '" placeholder="Contact Person" type="text" >' +
                            '<span class="field-validation-valid text-danger" data-valmsg-for="ContactPersonList[' + cp + '].Name" data-valmsg-replace="true"></span>' +
                            '</div>' +
                            ' <div class="col-md-6">' +
                            '<label for="Model.ContactPersonList[' + cp + '].CountryCode" class="field-label">Country Code</label>' +
                            '<input class="common-input width-100" id="CP_CountryCode_' + cp + '" name="ContactPersonList[' + cp + '].CountryCode" value="' + ContactPersonList[cp].CountryCode + '" placeholder="Country Code" type="text" >' +
                            '<span class="field-validation-valid text-danger" data-valmsg-for="ContactPersonList[' + cp + '].CountryCode" data-valmsg-replace="true"></span>' +
                            '</div>' +
                            ' <div class="col-md-6">' +
                            '<label for="Model.ContactPersonList[' + cp + '].PhoneNo" class="field-label">Phone No</label>' +
                            '<input class="common-input width-100" id="CP_PhoneNo_' + cp + '" name="ContactPersonList[' + cp + '].PhoneNo" value="' + ContactPersonList[cp].PhoneNo + '" placeholder="Phone No" type="text" >' +
                            '<span class="field-validation-valid text-danger" data-valmsg-for="ContactPersonList[' + cp + '].PhoneNo" data-valmsg-replace="true"></span>' +
                            ' </div>' +
                            '<div class="col-md-6">' +
                            '<input  id="CP_IsPreview_' + cp + '" name="ContactPersonList[' + cp + '].IsPreview"' + checked + ' value="'+ContactPersonList[cp].IsPreview+'" type="checkbox" >' +
                            '<label for="Model.ContactPersonList[' + cp + '].IsPreview" class="field-label">Show in Preview</label>' +
                            '</div>' +
                            ' <div class="col-md-12">' +
                            '<hr />' +
                            '</div>'
                    }
                }
                $('#CP_Card').append(html);
            }

            html = "";
            if (BLSaved) {
               
                for (var bl = 0; bl < CompanyBranchList.length; bl++) {
                    if (CompanyBranchList[bl].BranchName != null && CompanyBranchList[bl].BranchName != undefined && CompanyBranchList[bl].BranchName != "") {
                        var checked = CompanyBranchList[bl].IsPreview == true ? "checked" : "";
                    
                        html = html + '<input type="hidden" id="BL_BranchId_' + bl + '" name="CompanyBranchList[' + bl + '].BranchId" value = "' + CompanyBranchList[bl].BranchId + '" /> ' +
                            '<input type="hidden" id="BL_CompanyId_' + bl + '" name="CompanyBranchList[' + bl + '].CompanyId" value="' + CompanyBranchList[bl].CompanyId + '"/>' +
                            '<input type="hidden" id="BL_CountryId_' + bl + '" name="CompanyBranchList[' + bl + '].CountryId" value="' + CompanyBranchList[bl].CountryId + '"/>' +
                            '<input type="hidden" id="BL_BranchName_' + bl + '" name="CompanyBranchList[' + bl + '].BranchName" value="' + CompanyBranchList[bl].BranchName + '"/>' +
                            '<input type="hidden" id="BL_Address_' + bl + '" name="CompanyBranchList[' + bl + '].Address" value="' + CompanyBranchList[bl].Address + '"/>' +
                            '<input type="hidden" id="BL_CountryCode_' + bl + '" name="CompanyBranchList[' + bl + '].CountryCode" value="' + CompanyBranchList[bl].CountryCode + '"/>' +
                            '<input type="hidden" id="BL_Phone_' + bl + '" name="CompanyBranchList[' + bl + '].Phone" value="' + CompanyBranchList[bl].Phone + '"/>' +
                            '<input type="hidden" id="BL_Email' + bl + '" name="CompanyBranchList[' + bl + '].Email" value="' + CompanyBranchList[bl].Email + '"/>' +
                            '<input type="hidden" id="BL_Website_' + bl + '" name="CompanyBranchList[' + bl + '].Website" value="' + CompanyBranchList[bl].Website + '"/>' +
                            '<input type="hidden" id="BL_ContactPerson_' + bl + '" name="CompanyBranchList[' + bl + '].ContactPerson" value="' + CompanyBranchList[bl].ContactPerson + '"/>' +
                            '<input type="hidden" id="BL_CP_CountryCode_' + bl + '" name="CompanyBranchList[' + bl + '].CP_CountryCode" value="' + CompanyBranchList[bl].CP_CountryCode + '"/>' +
                            '<input type="hidden" id="BL_CP_Phone_' + bl + '" name="CompanyBranchList[' + bl + '].CP_Phone" value="' + CompanyBranchList[bl].CP_Phone + '"/>' +
                           '<input  id="BL_IsPreview_' + bl + '" name="CompanyBranchList[' + bl + '].IsPreview" type="checkbox" '+checked+ ' value="' + CompanyBranchList[bl].IsPreview + '">'

                    }
                }
                $('#BL_Card').append(html);
            }
              return true;
        });
    </script>
}

