﻿﻿@model PortKart_WEB.Models.UserProfileModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Index";
    List<Domain.Country> CountryList = new List<Domain.Country>();
    CountryList = ViewBag.CountryList;
    //var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    //serializer.MaxJsonLength = Int32.MaxValue;
    //var jsonModel = serializer.Serialize(Model);
    if (!string.IsNullOrEmpty(Model.Website))
    {
        Model.Website = Model.Website.Replace("http://", "");
        Model.Website = Model.Website.Replace("https://", "");
    }
}
<style>



    .iti {
        width: 100%;
    }

    .iti__selected-flag {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
</style>
<div class="row profilerow">
    <div class="col-md-4">
        <h2 class="content-title pt-3 pb-3 pull-left">Profile</h2>
    </div>
    <div class="col-md-8 mt-2 text-right ">
        <button type="button" class="btn btn-preview w-btn " onclick="OpenModal();">
            Preview
        </button>
        
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog full" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Profile Preview</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inner-square" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-inner-sq-prim">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    @using (Html.BeginForm("Index", "UserProfile", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-width" }))
    {
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.CompanyId)
        @Html.HiddenFor(model => model.LogoPath)
        @Html.HiddenFor(model => model.AttachmentPath)
        <div class="card shadow p-3 m-3 bg-white rounded">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <h6>Upload Your Logo</h6>
                        <div class="custom-file">
                            <input id="LogoFile_ID" onchange="ValidateSize(this)" type="file" name="LogoFile" accept="image/*" class="custom-file-input">
                            <label class="custom-file-label form-control" for="LogoFile_ID">Choose file...</label>
                            <div class="invalid-feedback">
                                supported file extensions .jpg.png.gif<br />
                                Maximum file size 2Mb
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <img id="LogoImg" src="@Model.LogoPath" class="logo-sec img-thumbnail float-right mt-4" />
                    </div>
                </div>



                <hr>
                <h6 class="mb-4 mt-3">Add Company Details</h6>

                <div class="form-row">
                    <div class="form-group col-md-4 mb-3">
                        @Html.LabelFor(model => model.CompanyName)
                        @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", placeholder = "Company Name" } })
                        @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 mb-4">
                        @Html.LabelFor(model => model.Address)
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control", placeholder = "Address" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                    @*<div class="form-group col-md-4 mb-3">
            @Html.LabelFor(model => model.IndustryTypeId)
            <div class="input-group ">
                @Html.DropDownListFor(model => model.IndustryTypeId, (SelectList)ViewBag.IndustryType, "Select IndustryType", new { @class = "custom-select form-control", @id = "IndustryTypeId" })

            </div>
            @Html.ValidationMessageFor(model => model.IndustryTypeId, "", new { @class = "text-danger" })

        </div>*@
                    <div class="form-group col-md-4 mb-3">
                        @Html.LabelFor(model => model.City)
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder = "City" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        @Html.LabelFor(model => model.CountryId)
                        <div class="input-group ">
                            @Html.DropDownListFor(model => model.CountryId, (SelectList)ViewBag.Country, "Select Country", new { @class = "custom-select form-control", @id = "CountryId" })
                        </div>
                        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-4 mb-3">
                        @Html.LabelFor(model => model.Phone)
                        @*<div class="input-group">*@
                        @*<select id="CountryCode" name="CountryCode" style="max-width: 70px" class="CountryCode custom-select form-control  border-md rounded-right text-muted">
                <option value="">+91</option>
                <option value="">+10</option>
                <option value="">+15</option>
                <option value="">+18</option>
            </select>*@
                        @*<input id="CountryCode" name="CountryCode" type="text" style="max-width: 70px" class="custom-select form-control  border-md rounded-right text-muted" value="@Model.CountryCode">*@
                        <input type="hidden" name="CountryCode" id="CountryCode" value="@Model.CountryCode" />
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control ", placeholder = "Phone" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        @Html.LabelFor(model => model.EmailID)
                        @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", placeholder = "EmailID" } })
                        @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        @Html.LabelFor(model => model.CompanyRegNo)
                        @Html.EditorFor(model => model.CompanyRegNo, new { htmlAttributes = new { @class = "form-control", @id = "CompanyRegNo", placeholder = "Company RegNo" } })
                        @Html.ValidationMessageFor(model => model.CompanyRegNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ExpiryDate, new { @class = "inputdob" })
                        @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", @readonly = true, @id = "ExpiryDate" } })
                        @*@Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })*@
                    </div>





                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <h6>Attach your Reg.Docs here..</h6>
                        <div class="custom-file">
                            <input id="AttachFile_ID" type="file" name="AttachFile" class="custom-file-input">
                            <label class="custom-file-label form-control" for="AttachFile_ID">Choose file...</label>

                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @if (!string.IsNullOrEmpty(Model.AttachmentPath))
                        {
                            <a id="AttachImg" href="@Model.AttachmentPath">
                                Attached File
                            </a>
                        }


                    </div>
                </div>
               @* <button type="submit" class="btn btn-inner-sec w-btn pull-right"><i class="fa fa-floppy-o" img src="~/dist/theme/img/save.svg" aria-hidden="true"></i> Save</button>*@
                <div class="col-md-12 p-0">
                    <button type="submit" class="btn btn-inner-square w-btn ">Save</button>
                    <button type="button" class="btn btn-inner-sq-prim w-btn">Cancel</button>
                </div>
            </div>

        </div>
    }
    <div class="card shadow p-3 m-3 bg-white rounded">
        <div class="card-body">
            <div class="form-row">
                <div class="col-sm-12 col-md-6 p-0 pull-left">
                    <h6>Contact Details</h6>
                </div>
                <div class="col-sm-12 col-md-6 p-0 pull-right">
                    <button class="btn btn-link pull-right" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="arrow-down"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                    </button>
                    @*<button type="button" class="btn btn-inner-square w-btn pull-right"> Add New</button>*@
                </div>

                <div class="accordion tab-box mt-3" id="accordionExample">
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="table-responsive">

                            <table class="table table-bordered" id="tblCP">
                                <thead>
                                    <tr class="hed-tr-bg">

                                        <th scope="col">Contact Person</th>
                                        <th scope="col">Contact Person Mobile</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var cp = 0; cp < Model.ContactPersonList.Count; cp++)
                                    {
                                        <tr class="hed-td-bg">
                                            <td>@Model.ContactPersonList[cp].Name</td>
                                            <td>@Model.ContactPersonList[cp].CountryCode  @Model.ContactPersonList[cp].PhoneNo</td>
                                            <td>
                                                <input type="hidden" id="CP_RowId_@cp" value="@cp" />
                                                @Html.HiddenFor(model => Model.ContactPersonList[cp].ContactPersonId, new { @id = "CP_ContactPersonId_" + cp })
                                                @Html.HiddenFor(model => Model.ContactPersonList[cp].CompanyId, new { @id = "CP_CompanyId_" + cp })
                                                <button type="button" class="btn btn-edit btn-xs" onclick="EditCP(@cp)"><i class="fa fa-pencil"></i></button>
                                                <button type="button" class="btn btn-delete btn-xs" onclick="DeleteCP(@cp)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>

                </div>

                <div class="form-group col-md-6 mb-2">
                    <label for="input_CP_Name">Contact Person</label>
                    <input type="text" class="form-control" id="input_CP_Name" placeholder="Contact person">
                    <span id="input_CP_Name_Error" class="field-validation-error text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="input_CP_Phone">Mobile</label>
                    <div class="input-group">
                        @*<select id="input_CP_Code" style="max-width: 70px" class="custom-select form-control  border-md rounded-right text-muted">
                                <option value="">+91</option>
                                <option value="">+10</option>
                                <option value="">+15</option>
                                <option value="">+18</option>
                            </select>*@
                        @*<input id="input_CP_CountryCode" type="text" style="max-width: 70px" class="custom-select form-control  border-md rounded-right text-muted">*@

                        <input id="input_CP_Phone" type="tel" placeholder="mobile" class="form-control ">
                    </div>
                    <span id="input_CP_Phone_Error" class="field-validation-error text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input id="input_CP_IsPreview" class="form-check-input" type="checkbox">
                        <label class="remember" for="input_CP_IsPreview">contact to be available in preview</label>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <input type="hidden" id="input_CP_CompanyId" />
                    <input type="hidden" id="input_CP_ContactPersonId" />
                    <button type="button" class="btn btn-inner-square w-btn " onclick="SaveCP()">Save</button>
                    <button type="button" class="btn btn-inner-sq-prim w-btn" onclick="ClearCP()">Cancel</button>
                </div>
            </div>
        </div>

    </div>


    <div class="card shadow p-3 m-3 bg-white rounded">
        <div class="card-body">
            <div class="form-row">
                <div class="col-sm-12 col-md-6 p-0 pull-left">
                    <h6>Branch Details</h6>
                </div>
                <div class="col-sm-12 col-md-6 p-0 pull-right">
                    <button class="btn btn-link pull-right" type="button" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapseOne">
                        <span class="arrow-down"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                    </button>
                    @*<button type="button" class="btn btn-inner-square w-btn pull-right"> Add New</button>*@
                </div>

                <div class="accordion tab-box mt-3" id="accordionExample">
                    <div id="collapsetwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="table-responsive mb-3">

                            <table class="table table-bordered" id="tblBL">
                                <thead>
                                    <tr class="hed-tr-bg">
                                        <th scope="col">Branch Name</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Country</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Email</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var bl = 0; bl < Model.CompanyBranchList.Count; bl++)
                                    {
                                        var countryname = CountryList.FirstOrDefault(x => x.CountryId == Model.CompanyBranchList[bl].CountryId)?.CountryName;
                                        <tr class="hed-td-bg">
                                            <td>@Model.CompanyBranchList[bl].BranchName</td>
                                            <td>@Model.CompanyBranchList[bl].Address</td>
                                            <td>@countryname</td>
                                            <td>@Model.CompanyBranchList[bl].CountryCode @Model.CompanyBranchList[bl].Phone</td>
                                            <td>@Model.CompanyBranchList[bl].Email</td>
                                            <td>

                                                @Html.HiddenFor(model => Model.CompanyBranchList[bl].BranchId, new { @id = "input_BL_BranchId_" + bl })
                                                @Html.HiddenFor(model => Model.CompanyBranchList[bl].CompanyId, new { @id = "input_BL_CompanyId_" + bl })
                                                @Html.HiddenFor(model => Model.CompanyBranchList[bl].CountryId, new { @id = "input_BL_CountryId_" + bl })
                                                <button type="button" class="btn btn-edit btn-xs" onclick="EditBL(@bl)"><i class="fa fa-pencil"></i></button>
                                                <button type="button" class="btn btn-delete btn-xs" onclick="DeleteBL(@bl)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>

                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>

                </div>

                <div class="form-group col-md-6 mb-2">
                    <label for="inputEmail4">Name of Branch</label>
                    <input type="text" class="form-control" id="input_BL_BranchName" placeholder="branch name">
                    <span id="input_BL_BranchName_Error" class="field-validation-error text-danger"></span>

                </div>

                <div class="form-group col-md-6 mb-2">
                    <label for="inputEmail4">Address</label>
                    <textarea class="form-control" id="input_BL_Address" rows="5" placeholder="branch address"></textarea>


                </div>

                <div class="form-group col-md-4 mb-3">
                    <label for="inputEmail4">Country</label>
                    <div class="input-group ">
                        <select class="custom-select form-control" id="input_BL_CountryId">
                            <option value="">Select Country</option>
                            @foreach (var country in CountryList)
                            {
                                <option value="@country.CountryId">@country.CountryName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-4 mb-3">
                    <label for="inputEmail4">Mobile</label>
                    <div class="input-group">
                        @*<select id="input_BL_CountryCode" name="input_countryCode" style="max-width: 70px" class="custom-select form-control  border-md rounded-right text-muted">
                                <option value="">+91</option>
                                <option value="">+10</option>
                                <option value="">+15</option>
                                <option value="">+18</option>
                            </select>*@
                        @*<input id="input_BL_CountryCode" type="text" style="max-width: 70px" class="custom-select form-control  border-md rounded-right text-muted">*@

                        <input id="input_BL_Phone" type="tel" name="mobile" placeholder="mobile" class="form-control ">
                    </div>
                    <span id="input_BL_Phone_Error" class="field-validation-error text-danger"></span>
                </div>

                <div class="form-group col-md-4 mb-3">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="input_BL_Email" placeholder="email">

                    <span id="input_BL_Email_Error" class="field-validation-error text-danger"></span>
                </div>

                <div class="form-group col-md-4 mb-3">
                    <label for="inputEmail4">Website</label>
                    <input type="text" class="form-control" id="input_BL_Website" placeholder="website">

                    <span id="input_BL_Website_Error" class="field-validation-error text-danger"></span>
                </div>

                <div class="form-group col-md-4 mb-2">
                    <label for="inputEmail4">Contact Person</label>
                    <input type="text" class="form-control" id="input_BL_ContactPerson" placeholder="contact person">
                </div>

                <div class="form-group col-md-4 mb-3">
                    <label for="inputEmail4">Contact Person No</label>
                    <div class="input-group">
                        @*<select id="input_BL_CP_CountryCode" name="input_bl_cp_countryCode" style="max-width: 70px" class="custom-select form-control  border-md rounded-right text-muted">
                                <option value="">+91</option>
                                <option value="">+10</option>
                                <option value="">+15</option>
                                <option value="">+18</option>
                            </select>*@
                        @*<input id="input_BL_CP_CountryCode" type="text" style="max-width: 70px" class="custom-select form-control  border-md rounded-right text-muted">*@

                        <input id="input_BL_CP_Phone" type="tel" placeholder="contact person no" class="form-control ">

                    </div>
                    <span id="input_BL_CP_Phone_Error" class="field-validation-error text-danger"></span>
                </div>


                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="input_BL_IsPreview">
                        <label class="remember" for="input_BL_IsPreview">Branch to be available in preview</label>
                    </div>
                </div>

                <div class="col-md-12 p-0">
                    <button type="button" class="btn btn-inner-square w-btn " onclick="SaveBL()">Save</button>
                    <button type="button" class="btn btn-inner-sq-prim w-btn" onclick="ClearBL()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <form style="width:100%">

        <div class="card shadow p-3 m-3 bg-white rounded">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-sm-12 col-md-12 p-0">
                        <h6>Social Media</h6>
                    </div>

                    @for (var s = 0; s < Model.SocialMediaList.Count; s++)
                    {
                        <div class="form-group col-md-4 mb-2">
                            @Html.HiddenFor(model => Model.SocialMediaList[s].SocialMediaId, new { id = "SocialMedia_SocialMediaId" + s })
                            @Html.HiddenFor(model => Model.SocialMediaList[s].CompanyId, new { id = "SocialMedia_CompanyId" + s })
                            @Html.HiddenFor(model => Model.SocialMediaList[s].Type, new { id = "SocialMedia_Type" + s })
                            @Html.LabelFor(model => Model.SocialMediaList[s].Link, Model.SocialMediaList[s].Type)
                            @Html.EditorFor(model => Model.SocialMediaList[s].Link, new { htmlAttributes = new { @class = "form-control", placeholder = Model.SocialMediaList[s].Type, id = "SocialMedia_Link" + s } })
                            @Html.ValidationMessageFor(model => Model.SocialMediaList[s].Link, "", new { @class = "text-danger" })
                        </div>
                    }

                    <div class="col-md-12 p-0">
                        <button type="button" class="btn btn-inner-square w-btn " onclick="SaveSocialMedia()">Save</button>
                        
                    </div>

                </div>

            </div>
        </div>


        <div class="card shadow p-3 m-3 bg-white rounded">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-sm-12 col-md-12 p-0">
                        <h6>Additional Information</h6>
                    </div>

                    <div class="form-group col-md-12 p-0 mb-4">
                        <label class="field-label" for="About">About the Company</label>
                        @Html.TextAreaFor(model => model.About, new { @class = "text-area form-control", placeholder = "Write about your company in less than 1000 words", rows = "5", id = "About", })
                        @Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })
                    </div>


                    <div class="col-md-12 p-0">
                        <button type="button" class="btn btn-inner-square w-bt" n OnClick="SaveAboutUs()">Save</button>
                       
                    </div>


                </div>
            </div>
        </div>

    </form>



</div>
@section Scripts{


    <link href="~/dist/IntlInput/css/intlTelInput.css" rel="stylesheet" />
    <script src="~/dist/IntlInput/js/intlTelInput.js"></script>
    <script src="~/dist/IntlInput/js/intlTelInput-jquery.js"></script>
    <script src="~/dist/IntlInput/js/utils.js"></script>
    <script src="~/dist/login/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/dist/login/assets/js/popper.min.js"></script>
    <script src="~/dist/login/assets/js/bootstrap.min.js"></script>
    <script src="~/dist/js/toastr.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>
    <script src="~/dist/js/moment.min.js"></script>

    <script type="text/javascript">
        //Global variable----------------------------
        var CPCount = 0;
        var ContactPersonList = [];
        var CPSaved = false;
        var BLSaved = false;
        var BLCount = 0;
        var CompanyBranchList = [];
        var CompanyId = 0;
        var countrylist = [];
        var CP_RowId = undefined;
        var BL_RowId = undefined;
        var int_tel_Phone = undefined;
        var iti_Phone = undefined;
        var int_tel_CPPhone = undefined;
        var iti_CPPhone = undefined;
        var int_tel_BLPhone = undefined;
        var iti_BLPhone = undefined;
        var int_tel_BLCPPhone = undefined;
        var int_tel_BLCPPhone = undefined;
        var iti_BLCPPhone = undefined;
        //------------------------------------------------

        $(document).ready(function () {
     // var json = =@Html.Raw(Json.Encode(Model));// getting model value
            //console.log(json);
            CompanyId = @Html.Raw(Json.Encode(Model.CompanyId));
            var json_CountryCode =@Html.Raw(Json.Encode(Model.CountryCode));
            var json_Phone=@Html.Raw(Json.Encode(Model.Phone));
            int_tel_Phone = document.querySelector("#Phone");
            if (json_CountryCode == null || json_CountryCode == undefined || json_CountryCode == "null" || json_CountryCode == "") {
                json_CountryCode = "+91";
            }
            if (json_Phone == null || json_Phone == undefined || json_Phone == "null" || json_Phone == "") {
                json_Phone = "";
            }
            iti_Phone = window.intlTelInput(int_tel_Phone, {
                nationalMode: true,
                formatOnDisplay:false,
                initialCountry: "in",
                separateDialCode:true,
                utilsScript: "/dist/IntlInput/js/utils.js"
            });
            //$("#ExpiryDate").datepicker({
            //    changeMonth: true,
            //    changeYear: true,
            //    dateFormat: "dd-M-yy",
            //    yearRange: "-100:+0",
            //    maxDate: new Date()
            //});
              $("#ExpiryDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd-M-yy",
                yearRange: "-100:+100",
                minDate: new Date(),
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() - 1);
                    $("#StartDate").datepicker("option", "maxDate", dt);
                }
            });





             $("#CompanyRegNo").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
             });


            iti_Phone.setNumber(json_CountryCode + json_Phone);

            int_tel_CPPhone = document.querySelector("#input_CP_Phone");
            iti_CPPhone = window.intlTelInput(int_tel_CPPhone, {
                nationalMode: true,
                separateDialCode: true,
                  formatOnDisplay:false,
                 initialCountry:"in",
                utilsScript: "/dist/IntlInput/js/utils.js"
            });
            int_tel_BLPhone = document.querySelector("#input_BL_Phone");
            iti_BLPhone = window.intlTelInput(int_tel_BLPhone, {
                nationalMode: true,
                separateDialCode: true,
                  formatOnDisplay:false,
                 initialCountry:"in",
                utilsScript: "/dist/IntlInput/js/utils.js"
            });
             int_tel_BLCPPhone = document.querySelector("#input_BL_CP_Phone");
            iti_BLCPPhone = window.intlTelInput(int_tel_BLCPPhone, {
                nationalMode: true,
                separateDialCode: true,
                  formatOnDisplay:false,
                 initialCountry:"in",
                utilsScript: "/dist/IntlInput/js/utils.js"
            });

            //document.querySelector('#wrapper').classList.toggle('toggled');
            $("#LogoFile_ID").change(function(event) {
	        var tmppath = URL.createObjectURL(event.target.files[0]);
	        $("#LogoImg").attr('src',tmppath);
            });
            $("#AttachFile_ID").change(function (event) {
                var tmppath = URL.createObjectURL(event.target.files[0]);
                $("#AttachImg").attr('href', tmppath);

            });

            //   toastr.options = {
            //    "debug": false,
            //    "positionClass": "toast-bottom-right",
            //    "onclick": null
            //    //"fadeIn": 100,
            //    //"fadeOut": 50,
            //    //"timeOut": 1000,
            //    //"extendedTimeOut": 1000
            //}

            //CONTACT PERSON--------------------------------------------------------------
            $('#input_CP_CompanyId').val(0);
            $('#input_CP_ContactPersonId').val(0);
            ContactPersonList = @Html.Raw(Json.Encode(Model.ContactPersonList));;
            CPCount = ContactPersonList.length;
            if (CPCount == 0) {
                AddCP();
            }
            else if (CPCount > 0) {
                 for (var i = 0; i < CPCount; i++) {
                         ContactPersonList[i].CountryCode =  ContactPersonList[i].CountryCode==null?"":ContactPersonList[i].CountryCode;
                         ContactPersonList[i].PhoneNo =  ContactPersonList[i].PhoneNo==null?"": ContactPersonList[i].PhoneNo;
                    }
                CPSaved = true;
            }
            //BRANCH LIST--------------------------------------------------------------------
            CompanyBranchList = @Html.Raw(Json.Encode(Model.CompanyBranchList));
            BLCount = CompanyBranchList.length;
            countrylist =@Html.Raw(Json.Encode(CountryList));
              if (BLCount == 0) {
               AddBL();
            }
              else if (BLCount > 0) {
                for (var i = 0; i < BLCount; i++) {
                    CompanyBranchList[i].Website = CompanyBranchList[i].Website == null ? "" : CompanyBranchList[i].Website;
                    CompanyBranchList[i].Address = CompanyBranchList[i].Address == null ? "" : CompanyBranchList[i].Address;
                    CompanyBranchList[i].Email = CompanyBranchList[i].Email == null ? "" : CompanyBranchList[i].Email;
                    CompanyBranchList[i].Phone = CompanyBranchList[i].Phone == null ? "" : CompanyBranchList[i].Phone;
                    CompanyBranchList[i].ContactPerson = CompanyBranchList[i].ContactPerson == null ? "" : CompanyBranchList[i].ContactPerson;
                    CompanyBranchList[i].CP_CountryCode = CompanyBranchList[i].CP_CountryCode == null ? "" : CompanyBranchList[i].CP_CountryCode;
                    CompanyBranchList[i].CountryCode = CompanyBranchList[i].CountryCode == null ? "" : CompanyBranchList[i].CountryCode;
                    CompanyBranchList[i].CP_Phone =  CompanyBranchList[i].CP_Phone==null?"": CompanyBranchList[i].CP_Phone;
                    }
                BLSaved = true;
            }
        });

        function SaveCP() {
            var iserror = false;
            var contactpersonname = $('#input_CP_Name').val();
            var cpphone = $('#input_CP_Phone').val();
            if (contactpersonname == null || contactpersonname == undefined || contactpersonname == "") {
                iserror = true;
                $('#input_CP_Name_Error').text('Contact person name required')
             }
            if (!cpphone.match(/^([0-9]{0,15})$/)) {
               iserror = true;
               $('#input_CP_Phone_Error').text('Phone number not valid')
            }

            if (iserror) {
                toastr.error("Contact Person details not saved")
                return false;
            }
            else if (CP_RowId>=0) {
                ContactPersonList[CP_RowId].CompanyId = Number($('#input_CP_CompanyId').val());
                ContactPersonList[CP_RowId].ContactPersonId = $('#input_CP_ContactPersonId').val();
               //ContactPersonList[CP_RowId].CountryCode = $('#input_CP_CountryCode').val() == null ? "" : $('#input_CP_CountryCode').val();
                ContactPersonList[CP_RowId].CountryCode='+'+iti_CPPhone.getSelectedCountryData().dialCode;
                ContactPersonList[CP_RowId].IsPreview = $('#input_CP_IsPreview').is(':checked');
                ContactPersonList[CP_RowId].Name = $('#input_CP_Name').val();
                ContactPersonList[CP_RowId].PhoneNo = $('#input_CP_Phone').val() == null ? "" : $('#input_CP_Phone').val();
                $('#input_CP_Name_Error').text('');
                $('#input_CP_Phone_Error').text('')
                CPSaved = true;

                toastr.success("Contact Person saved")
                AddCP();

                AddContactPerson(CP_RowId);
                ClearCP();

                return true;
            }
            else if (CP_RowId == null || CP_RowId == undefined || CP_RowId=='') {
                      ContactPersonList.push( {
                        CompanyId : Number($('#CompanyId').val()),
                        ContactPersonId : 0,
                       // CountryCode : $('#input_CP_CountryCode').val()==null?"": $('#input_CP_CountryCode').val(),
                        CountryCode:'+'+iti_CPPhone.getSelectedCountryData().dialCode,
                        IsPreview : $('#input_CP_IsPreview').is(':checked'),
                        Name : $('#input_CP_Name').val(),
                        PhoneNo : $('#input_CP_Phone').val() == null ? "" : $('#input_CP_Phone').val()

                      })
                       $('#input_CP_Name_Error').text('');
                       $('#input_CP_Phone_Error').text('')
                    CPSaved = true;
                    toastr.success("Contact Person saved")
                AddCP();

                AddContactPerson(ContactPersonList.length-1);
                    ClearCP();

                    return true;
            }

            return false;
         }

        function ClearCP() {
            $('#input_CP_CompanyId').val(0);
            $('#input_CP_ContactPersonId').val(0);
            $('#input_CP_CountryCode').val('');
            if ($('#input_CP_IsPreview').is(':checked')) {
                  $('#input_CP_IsPreview').prop('checked', false);
            }
            $('#input_CP_Name').val('');
            $('#input_CP_Phone').val('')
            $('#input_CP_Name_Error').text('');
            $('#input_CP_Phone_Error').text('');
            CP_RowId = undefined;

        }
        function AddContactPerson(cp) {

           
            var Filter = {
                ContactPersonId: ContactPersonList[cp].ContactPersonId ,
                Name: $('#input_CP_Name').val(),
                ConutryCode: '+' + iti_CPPhone.getSelectedCountryData().dialCode,
                PhoneNo: $('#input_CP_Phone').val(),
                CompanyID: Number($('#CompanyId').val())
                ,
                IspReview: ($('#input_CP_IsPreview').is(':checked'))
            }

          

            $.ajax({
                type: 'POST',
                url: "/UserProfile/AddContactPerson",
                data: Filter,
                dataType: "JSON",
                success: function (resultData) {

                    if (resultData>0) {
                        toastr.success("Contact Person saved Successfully");

                        ContactPersonList[cp].ContactPersonId = resultData;

                    }
                    else  {
                        toastr.error("Failed to add Contact Person");
                    }
                    
                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });
        }

        function AddCP() {
            $('#tblCP tbody').empty();
            var html = '';
            for (var cp = 0; cp < ContactPersonList.length; cp++)
                                        {
                                            html=html+'<tr class="hed-td-bg">'+
                                                '<td>'+ContactPersonList[cp].Name+'</td>'+
                                                '<td>'+ContactPersonList[cp].CountryCode +' '+ ContactPersonList[cp].PhoneNo+'</td>'+
                                                '<td>'+
                                                '<input type="hidden" id="CP_RowId_' + cp + '" value="' + cp + '" />' +
                                                '<input type="hidden" id="CP_ContactPersonId_' + cp + '" value="' + ContactPersonList[cp].ContactPersonId + '" />' +
                                                '<input type="hidden" id="CP_CompanyId_'+cp+'" value="'+ContactPersonList[cp].CompanyId+'" />'+
                                                '<button type="button" class="btn btn-edit btn-xs" onclick="EditCP(' + cp + ')"><i class="fa fa-pencil"></i></button> '+
                                                '<button type="button" class="btn btn-delete btn-xs" onclick="DeleteCP(' + cp + ')"><i class="fa fa-trash"></i></button>'+
                                                '</td>'+
                                                '</tr>'
                                        }
            $('#tblCP tbody').append(html);
        }

        function EditCP(id) {
            ClearCP();
            if (id >= 0) {
                CP_RowId = id;
                $('#input_CP_CompanyId').val(ContactPersonList[CP_RowId].CompanyId);
                $('#input_CP_ContactPersonId').val(ContactPersonList[CP_RowId].ContactPersonId);
                $('#input_CP_CountryCode').val(ContactPersonList[CP_RowId].CountryCode);
                $('#input_CP_Name').val(ContactPersonList[CP_RowId].Name);
                $('#input_CP_Phone').val(ContactPersonList[CP_RowId].PhoneNo);
                iti_CPPhone.setNumber(ContactPersonList[CP_RowId].CountryCode + ContactPersonList[CP_RowId].PhoneNo);
                if (ContactPersonList[CP_RowId].IsPreview) {$('#input_CP_IsPreview').prop('checked', true);}

            }
           else if (id == null || id == undefined || id == '') {
                console.log('RowId not found')
                return;
            }

        }

        function DeleteCP(id) {
            ClearCP();
            if (id >= 0) {
                CP_RowId = id;
                
                if (confirm("Are you sure you want to delete this Contact Person ?")) {
                    var CPId = ContactPersonList[CP_RowId].ContactPersonId;
                    
                    $.ajax({
                        type: 'GET',
                        url: "/UserProfile/DeleteContactPerson/" + CPId,
                        
                        dataType: "JSON",
                        success: function (resultData) {

                            if (resultData.MessageType == "SUCCESS") {
                                toastr.success(resultData.Message);

                                ContactPersonList[cp].ContactPersonId = resultData;
                                ContactPersonList.splice(CP_RowId, 1);
                                CPSaved = true;
                                AddCP();
                                ClearCP();

                            }
                            else {
                                toastr.error("Failed to delete Contact Person");
                            }

                        },
                        error: function (xhr, error, code) {
                            toastr.success("Contact Person Deleted Successfully");

                            ContactPersonList[cp].ContactPersonId = resultData;
                            ContactPersonList.splice(CP_RowId, 1);
                            CPSaved = true;
                            AddCP();
                            ClearCP();
                            if (xhr.responseText.includes('Portkart-login')) {
                                window.location.reload();
                            }
                        }
                    });

                   
                }
            }
            else if (id == null || id == undefined || id == '') {
                console.log('RowId not found')
                return;
            }

        }


         function SaveBL() {
            var iserror = false;
            var branchName = $('#input_BL_BranchName').val();
            var blphone = $('#input_BL_Phone').val();
             var blcpphone = $('#input_BL_CP_Phone').val();
             var blemail = $('#input_BL_Email').val();
             var blwebsite = $('#input_BL_Website').val();
            if (branchName == null || branchName == undefined || branchName == "") {
                iserror = true;
                $('#input_BL_BranchName_Error').text('Branch name cannot be empty')
            }
            if (!blphone.match(/^([0-9]{0,15})$/)) {
               iserror = true;
               $('#input_BL_Phone_Error').text('Phone number not valid')
            }
            if (!blcpphone.match(/^([0-9]{0,15})$/)) {
               iserror = true;
               $('#input_BL_CP_Phone_Error').text('Phone number not valid')
             }
             if (!blemail.match((/^$|^.*.*\..*$/))) {
                 iserror = true;
                 $('#input_BL_Email_Error').text('Email ID not valid')
             }
             if (!blwebsite.match(/^(|https?:\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,?^=%&amp;:/~\+#]*[\w\-\?^=%&amp;/~\+#])?)$/)) {
                 iserror = true;
                 $('#input_BL_Website_Error').text('Website address not valid')
             }
            if (iserror) {
               toastr.error("Company Branch not saved")
               return false;
            }
            else if(BL_RowId>=0){

                    // CompanyBranchList[BL_RowId].BranchId = $('#input_BL_BranchId').val();
                    CompanyBranchList[BL_RowId].CountryId = $('#input_BL_CountryId').val();
                    CompanyBranchList[BL_RowId].CompanyId = $('#CompanyId').val();
                    CompanyBranchList[BL_RowId].BranchName = $('#input_BL_BranchName').val();
                    CompanyBranchList[BL_RowId].Address = $('#input_BL_Address').val();
                    // CompanyBranchList[BL_RowId].CountryCode = $('#input_BL_CountryCode').val();
                    CompanyBranchList[BL_RowId].CountryCode ='+'+iti_BLPhone.getSelectedCountryData().dialCode;
                    CompanyBranchList[BL_RowId].Phone = $('#input_BL_Phone').val();
                    CompanyBranchList[BL_RowId].Website = $('#input_BL_Website').val();
                    CompanyBranchList[BL_RowId].Email = $('#input_BL_Email').val();
                    CompanyBranchList[BL_RowId].ContactPerson = $('#input_BL_ContactPerson').val();
                    CompanyBranchList[BL_RowId].CP_Phone = $('#input_BL_CP_Phone').val();
                    // CompanyBranchList[BL_RowId].CP_CountryCode = $('#input_BL_CP_CountryCode').val();
                    CompanyBranchList[BL_RowId].CP_CountryCode ='+'+iti_BLCPPhone.getSelectedCountryData().dialCode;
                    CompanyBranchList[BL_RowId].IsPreview = $('#input_BL_IsPreview').is(':checked');
                    $('#input_BL_BranchName_Error').text('');
                    $('#input_BL_Phone_Error').text('');
                $('#input_BL_CP_Phone_Error').text('')
                $('#input_BL_Email_Error').text('')
                $('#input_BL_Website_Error').text('')
                    BLSaved = true;
                    toastr.success("Company branch saved")
                AddBL();
                AddBranch();
                ClearBL();

                  return true;
             }
              else if (CP_RowId == null || CP_RowId == undefined || CP_RowId=='') {
                CompanyBranchList.push({
                    BranchId: 0,
                    CountryId: $('#input_BL_CountryId').val(),
                    CompanyId: $('#CompanyId').val(),
                    BranchName: $('#input_BL_BranchName').val(),
                    Address: $('#input_BL_Address').val(),
                    //CountryCode: $('#input_BL_CountryCode').val(),
                    CountryCode: '+' + iti_BLPhone.getSelectedCountryData().dialCode,
                    Phone: $('#input_BL_Phone').val(),
                    Website: $('#input_BL_Website').val(),
                    Email: $('#input_BL_Email').val(),
                    ContactPerson: $('#input_BL_ContactPerson').val(),
                    CP_Phone: $('#input_BL_CP_Phone').val(),
                    //CP_CountryCode: $('#input_BL_CP_CountryCode').val(),
                    CP_CountryCode: '+' + iti_BLCPPhone.getSelectedCountryData().dialCode,
                    IsPreview: $('#input_BL_IsPreview').is(':checked')

                });
                    $('#input_BL_BranchName_Error').text('');
                    $('#input_BL_Phone_Error').text('');
                $('#input_BL_CP_Phone_Error').text('')
                $('#input_BL_Email_Error').text('')
                $('#input_BL_Website_Error').text('')
                    BLSaved = true;
                    toastr.success("Company Branch added")
                AddBL();
                AddBranch();
                ClearBL();

                    return true;
            }

            return false;
        }
         function ClearBL() {
            $('#input_BL_BranchId').val(0);
            $('#input_BL_CountryId').val(undefined);
            $('#input_BL_CompanyId').val(0);
            $('#input_BL_BranchName').val('');
            $('#input_BL_Address').val('');
            $('#input_BL_CountryCode').val('');
            $('#input_BL_Phone').val('');
            $('#input_BL_Website').val('');
            $('#input_BL_Email').val('');
            $('#input_BL_ContactPerson').val('');
            $('#input_BL_CP_Phone').val('');
            $('#input_BL_CP_CountryCode').val('');
            if ($('#input_BL_IsPreview').is(':checked')) {
                $('#input_BL_IsPreview').prop('checked', false);
            }

            BL_RowId = undefined;
            $('#input_BL_BranchName_Error').text('');
            $('#input_BL_Phone_Error').text('');
             $('#input_BL_CP_Phone_Error').text('')
             $('#input_BL_Email_Error').text('')
             $('#input_BL_Website_Error').text('')
        }
        function AddBranch() {


           var CountryId = $('#input_BL_CountryId').val();
            var CompanyId = $('#CompanyId').val();
           var BranchName = $('#input_BL_BranchName').val();
           var Address = $('#input_BL_Address').val();
            // CompanyBranchList[BL_RowId].CountryCode = $('#input_BL_CountryCode').val();
           var CountryCode = '+' + iti_BLPhone.getSelectedCountryData().dialCode;
           var Phone = $('#input_BL_Phone').val();
            var Website = $('#input_BL_Website').val();
          var Email = $('#input_BL_Email').val();
            var ContactPerson = $('#input_BL_ContactPerson').val();
            var CP_Phone = $('#input_BL_CP_Phone').val();
            // CompanyBranchList[BL_RowId].CP_CountryCode = $('#input_BL_CP_CountryCode').val();
          var CP_CountryCode = '+' + iti_BLCPPhone.getSelectedCountryData().dialCode;
            var IsPreview = $('#input_BL_IsPreview').is(':checked');



            var Filter = {
                CompanyId: CompanyId,
                BranchName: BranchName,
                CountryId: CountryId,
                Address: Address,
                CountryCode: CountryCode,
                Phone: Phone,
                Website: Website,
                Email: Email,
                ContactPerson: ContactPerson,
                CP_Phone: CP_Phone,
                CP_CountryCode: CP_CountryCode,
                IsPreview: IsPreview
            }

            $.ajax({
                type: 'POST',
                url: "/UserProfile/AddBranch",
                data: Filter,
                dataType: "JSON",
                success: function (resultData) {

                    if (resultData.MessageType == "SUCCESS") {
                        toastr.success(resultData.Message);


                    }
                    else if (resultData.MessageType == "ERROR") {
                        toastr.error(resultData.Message);
                    }
                   
                },
                //error: function (xhr, error, code) {
                //    if (xhr.responseText.includes('Portkart-login')) {
                //        window.location.reload();
                //    }
                //}
            });
        }
        function AddBL() {
            $('#tblBL tbody').empty();
             var html = '';
             for (var bl = 0; bl < CompanyBranchList.length; bl++)
                {

                 var countryname = "";
                 for (var i = 0; i < countrylist.length; i++) {
                     if (countrylist[i].CountryId == CompanyBranchList[bl].CountryId) {
                         countryname = countrylist[i].CountryName;
                     }

                  }
                    html=html+'<tr class="hed-td-bg">'+
                        '<td>'+CompanyBranchList[bl].BranchName+'</td>'+
                        '<td>'+CompanyBranchList[bl].Address+'</td>'+
                        '<td>'+countryname+'</td>'+
                        '<td>'+CompanyBranchList[bl].CountryCode +' '+ CompanyBranchList[bl].Phone+'</td>'+
                        '<td>'+CompanyBranchList[bl].Email+'</td>'+
                        '<td>'+
                            '<button type="button" class="btn btn-edit btn-xs" onclick="EditBL(' + bl + ')"><i class="fa fa-pencil"></i></button> '+
                           '<button type="button" class="btn btn-delete btn-xs" onclick="DeleteBL(' + bl + ')"><i class="fa fa-trash"></i></button>'+
                        '</td>'+
                   ' </tr>'

            }
            $('#tblBL tbody').append(html);

        }

          function EditBL(id) {
            ClearBL();
            if (id >= 0) {
                BL_RowId = id;
                $('#input_BL_BranchId').val(CompanyBranchList[BL_RowId].BranchId);
               // $('#input_BL_CountryId').val(CompanyBranchList[BL_RowId].CountryId);
                $('#input_BL_CountryId option[value="'+CompanyBranchList[BL_RowId].CountryId+'"]').prop('selected', true);
                $('#input_BL_CompanyId').val(CompanyBranchList[BL_RowId].CompanyId);
                $('#input_BL_BranchName').val(CompanyBranchList[BL_RowId].BranchName);
                $('#input_BL_Address').val(CompanyBranchList[BL_RowId].Address);
                $('#input_BL_CountryCode').val(CompanyBranchList[BL_RowId].CountryCode);
                $('#input_BL_Phone').val(CompanyBranchList[BL_RowId].Phone);
                 iti_BLPhone.setNumber(CompanyBranchList[BL_RowId].CountryCode + CompanyBranchList[BL_RowId].Phone);
                $('#input_BL_Website').val(CompanyBranchList[BL_RowId].Website);
                $('#input_BL_Email').val(CompanyBranchList[BL_RowId].Email);
                $('#input_BL_ContactPerson').val(CompanyBranchList[BL_RowId].ContactPerson);
                $('#input_BL_CP_Phone').val(CompanyBranchList[BL_RowId].CP_Phone);
                iti_BLCPPhone.setNumber(CompanyBranchList[BL_RowId].CP_CountryCode + CompanyBranchList[BL_RowId].CP_Phone);
                $('#input_BL_CP_CountryCode').val(CompanyBranchList[BL_RowId].CP_CountryCode);
                if (CompanyBranchList[BL_RowId].IsPreview) {$('#input_BL_IsPreview').prop('checked', true);}

            }
            else if (id == null || id == undefined || id == '') {
                console.log('RowId not found')
                return;
            }

        }
        function DeleteBL(id) {
            ClearBL();
            if (id >= 0) {
                BL_RowId = id;

                if (confirm("Are you sure you want to delete this Branch ?")) {
                    var BRId = CompanyBranchList[BL_RowId].BranchId;

                    $.ajax({
                        type: 'GET',
                        url: "/UserProfile/DeleteBranch/" + BRId,
                       
                        dataType: "JSON",
                        success: function (resultData) {
                           
                            if (resultData.MessageType == "SUCCESS") {
                                toastr.success(resultData.Message);

                                CompanyBranchList.splice(BL_RowId, 1);
                                BLSaved = true;
                               
                                AddBL();
                                ClearBL();

                            }
                            else {
                                toastr.error("Failed to delete Branch");
                            }

                        },
                        error: function (xhr, error, code) {
                            toastr.success("Branch Deleted Successfully");

                            CompanyBranchList.splice(BL_RowId, 1);
                            BLSaved = true;

                            AddBL();
                            ClearBL();
                            if (xhr.responseText.includes('Portkart-login')) {
                                window.location.reload();
                            }
                        }
                    });


                }
            }
            else if (id == null || id == undefined || id == '') {
                console.log('RowId not found')
                return;
            }

        }

        function SaveSocialMedia() {

            var CompanyId = $('#CompanyId').val();

            var smlist = [];

            for (var i = 0; i < 5; i++) {
                smlist.push({
                    Type: $('#SocialMedia_Type' + i).val(),
                    Link: $('#SocialMedia_Link' + i).val(),
                    CompanyId: $('#SocialMedia_CompanyId' + i).val(),
                    SocialMediaId: $('#SocialMedia_SocialMediaId' + i).val()
                })

            }
            console.log(smlist);
            var postData = JSON.stringify({CP:smlist});

            $.ajax({
                type: 'POST',
                url: "/UserProfile/AddSocialMedia",
                data: { CP: smlist },
                dataType: "JSON",
                success: function (resultData) {

                    if (resultData.MessageType == "SUCCESS") {
                        toastr.success(resultData.Message);


                    }
                    else if (resultData.MessageType == "ERROR") {
                        toastr.error(resultData.Message);
                    }
                    else {
                        toastr.success("Successfully Saved");

                    }
                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });

            }

        function SaveAboutUs() {
            var Filter = {

                CompanyID: Number($('#CompanyId').val())
                ,
                About: $('#About').val()
            }
            $.ajax({
                type: 'POST',
                url: "/UserProfile/AddAboutsUS",
                data: Filter,
                dataType: "JSON",
                success: function (resultData) {

                    if (resultData.MessageType == "SUCCESS") {
                        toastr.success(resultData.Message);


                    }
                    else if (resultData.MessageType == "ERROR") {
                        toastr.error(resultData.Message);
                    }
                    else {
                        toastr.success("Failed to add Social Media");

                    }
                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });

        }

        function OpenModal() {
            $(".modal-body").load("@Url.Action("PreviewIndexOnPage","UserProfile")")
            $("#exampleModal").modal('show');
        }

        function submitForm() {

            $('form').submit();
        }

        $('form').submit(function (e) {

            var Phone = iti_Phone.getSelectedCountryData();
            $('#CountryCode').val('+' + Phone.dialCode);
            $('#tblCP tbody').empty();
            $('#tblBL tbody').empty();
            var html = "";
            if (CPSaved) {
                for (var cp = 0; cp < ContactPersonList.length; cp++) {
                    if (ContactPersonList[cp].Name != null && ContactPersonList[cp].Name != undefined && ContactPersonList[cp].Name != "") {
                        var checked = ContactPersonList[cp].IsPreview == true ? "checked" : "";
                        var fullmobile = ContactPersonList[cp].CountryCode + ContactPersonList[cp].PhoneNo;
                                            html=html+'<tr class="hed-td-bg">'+
                                                '<td><input type="hidden" id="CP_Name_' + cp + '" name="ContactPersonList[' + cp + '].Name" value="' + ContactPersonList[cp].Name + '"/></td>'+
                                                '<td><input type="hidden" id="CP_PhoneNo_' + cp + '" name="ContactPersonList[' + cp + '].PhoneNo" value="' + ContactPersonList[cp].PhoneNo + '"/></td>'+
                                                '<td>'+
                                                '<input type="hidden" id="CP_CountryCode_' + cp + '" name="ContactPersonList[' + cp + '].CountryCode" value="' + ContactPersonList[cp].CountryCode + '"/>' +
                                                '<input type="hidden" id="CP_ContactPersonId_' + cp + '" name="ContactPersonList[' + cp + '].ContactPersonId" value="' + ContactPersonList[cp].ContactPersonId + '"/>' +
                                                '<input type="hidden" id="CP_CompanyId_' + cp + '" name="ContactPersonList[' + cp + '].CompanyId" value="'+ ContactPersonList[cp].CompanyId + '"/>' +
                                                '<input  id="CP_IsPreview_' + cp + '" name="ContactPersonList[' + cp + '].IsPreview"' + checked + ' value="'+ContactPersonList[cp].IsPreview+'" type="checkbox" >' +
                                                '</td>'+
                                                '</tr>'
                    }
                }
                $('#tblCP tbody').append(html);
            }

            html = "";
            if (BLSaved) {

                for (var bl = 0; bl < CompanyBranchList.length; bl++) {
                    if (CompanyBranchList[bl].BranchName != null && CompanyBranchList[bl].BranchName != undefined && CompanyBranchList[bl].BranchName != "") {
                        var checked = CompanyBranchList[bl].IsPreview == true ? "checked" : "";
                        if (CompanyBranchList[bl].CountryId == "null" || CompanyBranchList[bl].CountryId == "" || CompanyBranchList[bl].CountryId == null || CompanyBranchList[bl].CountryId == "undefined" || CompanyBranchList[bl].CountryId == 0) {
                            CompanyBranchList[bl].CountryId = '';
                        }
                        html = html + '<tr class="hed-td-bg">' +
                            '<td colspan=6>'+
                            '<input type="hidden" id="BL_BranchId_' + bl + '" name="CompanyBranchList[' + bl + '].BranchId" value = "' + CompanyBranchList[bl].BranchId + '" /> ' +
                            '<input type="hidden" id="BL_CompanyId_' + bl + '" name="CompanyBranchList[' + bl + '].CompanyId" value="' + CompanyBranchList[bl].CompanyId + '"/>' +
                            '<input type="hidden" id="BL_CountryId_' + bl + '" name="CompanyBranchList[' + bl + '].CountryId" value="' + CompanyBranchList[bl].CountryId + '"/>' +
                            '<input type="hidden" id="BL_BranchName_' + bl + '" name="CompanyBranchList[' + bl + '].BranchName" value="' + CompanyBranchList[bl].BranchName + '"/>' +
                            '<input type="hidden" id="BL_Address_' + bl + '" name="CompanyBranchList[' + bl + '].Address" value="' + CompanyBranchList[bl].Address + '"/>' +
                            '<input type="hidden" id="BL_CountryCode_' + bl + '" name="CompanyBranchList[' + bl + '].CountryCode" value="' + CompanyBranchList[bl].CountryCode + '"/>' +
                            '<input type="hidden" id="BL_Phone_' + bl + '" name="CompanyBranchList[' + bl + '].Phone" value="' + CompanyBranchList[bl].Phone + '"/>' +
                            '<input type="hidden" id="BL_Email' + bl + '" name="CompanyBranchList[' + bl + '].Email" value="' + CompanyBranchList[bl].Email + '"/>' +
                            '<input type="hidden" id="BL_Website_' + bl + '" name="CompanyBranchList[' + bl + '].Website" value="' + CompanyBranchList[bl].Website + '"/>' +
                            '<input type="hidden" id="BL_ContactPerson_' + bl + '" name="CompanyBranchList[' + bl + '].ContactPerson" value="' + CompanyBranchList[bl].ContactPerson + '"/>' +
                            '<input type="hidden" id="BL_CP_CountryCode_' + bl + '" name="CompanyBranchList[' + bl + '].CP_CountryCode" value="' + CompanyBranchList[bl].CP_CountryCode + '"/>' +
                            '<input type="hidden" id="BL_CP_Phone_' + bl + '" name="CompanyBranchList[' + bl + '].CP_Phone" value="' + CompanyBranchList[bl].CP_Phone + '"/>' +
                           '<input  id="BL_IsPreview_' + bl + '" name="CompanyBranchList[' + bl + '].IsPreview" type="checkbox" '+checked+ ' value="' + CompanyBranchList[bl].IsPreview + '">'+
                            '</td>'+
                            '</tr>'
                    }
                }
                $('#tblBL tbody').append(html);
            }

              return true;
        });
        function ValidateSize(file) {
        var FileSize = file.files[0].size / 1024 / 1024; // in MiB
        if (FileSize > 2) {
            toastr.error('File size exceeds 2 MB');
            $(file).val(''); //for clearing with Jquery
        } else {

            }

    }
        //function testfn() {
        //    var number = iti_Phone.getSelectedCountryData();
        //    console.log('+' + number.dialcode);
        //    console.log(int_tel_Phone.value);

        //}
    </script>
}

