﻿@model PortKart_WEB.Models.UserProfileModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Profile";
    List<Domain.Country> CountryList = new List<Domain.Country>();
    CountryList = ViewBag.CountryList;
    var IsCompanyProfile = false;
    if (ViewBag.IsCompanyProfile != null)
    {
        IsCompanyProfile = ViewBag.IsCompanyProfile;
    }
    if (!string.IsNullOrEmpty(Model.Website))
    {
        Model.Website = Model.Website.Replace("http://", "");
        Model.Website = Model.Website.Replace("https://", "");
    }
}

<div class="row profilerow">
    <div class="col-md-10">
        @*<h2 class="content-title pt-3 pb-3 pull-left">Profile</h2>*@
    </div>
    <div class="col-md-2 col-sm-6">
        @if (!IsCompanyProfile)
        {<a class="btn btn-preview w-btn d-flex mt-3 mr-3" style="display:inline-block !important;float:right" href="@Url.Action("Index","UserProfile")">
                Edit
            </a>
           }

    </div>

    @*<div class="col-md-12">
            <button type="button" class="btn btn-inner-sec w-btn pull-right" onclick="window.location.href='Index'"><i class="fa fa-plus" aria-hidden="true"></i> Edit</button>
        </div>*@




    <div class="col-md-12">

        <div class="card shadow p-3 m-3 bg-white rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 p-0 d-flex justify-content-center">
                        <figure><img src="@Model.LogoPath" class="logo-sec"></figure>
                    </div>
                  
                    <div class="col-md-5 pl-5">
                        <h4 class="cmp-name">@Model.CompanyName</h4>
                        <p class="cmp-location">@Model.City</p>
                        <ul class="details">
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>@Model.City</span></li>
                            <li><i class="fa fa-mobile" aria-hidden="true"></i><span>@Model.CountryCode @Model.Phone</span></li>
                            <li><i class="fa fa-desktop" aria-hidden="true"></i><a href="//@Model.Website" target="_blank"><span>@Model.Website</span></a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 ">
                        <h6>Company Details</h6>
                        <ul class="details">
                            <li>Company Reg No -<span>@Model.CompanyRegNo</span></li>
                            <li>Industry Type -<span>@Model.IndustryTypeName</span></li>
                            <li>Country -<span>@Model.CountryName</span></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>

        <div class="card shadow p-3 m-3 bg-white rounded">
            <div class="card-body">
                <h5>About Us</h5>
                <hr>
                <p>
                    @Model.About
                </p>
            </div>
        </div>



        <div class="card shadow p-3 m-3 bg-white rounded">

            <div class="card-body">
                <h5>Contact Details</h5>
                <hr>

                <div class="table-responsive mt-3">
                    @if (Model.ContactPersonList.Count > 0)
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr class="hed-tr-bg">

                                    <th scope="col">Contact Person</th>
                                    <th scope="col">Contact Person Mobile</th>

                                </tr>
                            </thead>
                            <tbody>
                                @for (var cp = 0; cp < Model.ContactPersonList.Count; cp++)
                                {
                                    if (IsCompanyProfile)
                                    {
                                        if (Model.ContactPersonList[cp].IsPreview)
                                        {
                                            <tr class="hed-td-bg">

                                                <td>@Model.ContactPersonList[cp].Name</td>
                                                <td>@Model.ContactPersonList[cp].CountryCode @Model.ContactPersonList[cp].PhoneNo</td>
                                            </tr>
                                        }

                                    }

                                  else
                                    {
                                        <tr class="hed-td-bg">

                                            <td>@Model.ContactPersonList[cp].Name</td>
                                            <td>@Model.ContactPersonList[cp].CountryCode @Model.ContactPersonList[cp].PhoneNo</td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    }
                </div>





            </div>

        </div>

        <div class="card shadow p-3 m-3 bg-white rounded">

            <div class="card-body">
                <h5>Branch Details</h5>
                <hr>


                <div class="table-responsive mt-3">
                    @for (var bl = 0; bl < Model.CompanyBranchList.Count; bl++)
                    {
                        if (IsCompanyProfile)
                        {
                            if (Model.CompanyBranchList[bl].IsPreview)

                            {

                                var countryname = CountryList.FirstOrDefault(x => x.CountryId == Model.CompanyBranchList[bl].CountryId)?.CountryName;

                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th class="hed-tr-bg">Name of Branch</th>
                                            <td class="hed-td-bg">@Model.CompanyBranchList[bl].BranchName</td>
                                            <th class="hed-tr-bg">Email</th>
                                            <td class="hed-td-bg">@Model.CompanyBranchList[bl].Email</td>
                                        </tr>
                                        <tr>
                                            <th class="hed-tr-bg">Address</th>
                                            <td class="hed-td-bg">@Model.CompanyBranchList[bl].Address</td>
                                            <th class="hed-tr-bg">Website</th>
                                            <td class="hed-td-bg">@Model.CompanyBranchList[bl].Website</td>

                                        </tr>
                                        <tr>
                                            <th class="hed-tr-bg">Country</th>
                                            <td class="hed-td-bg">@countryname</td>
                                            <th class="hed-tr-bg">Contact Person</th>
                                            <td class="hed-td-bg">@Model.CompanyBranchList[bl].ContactPerson</td>
                                        </tr>
                                        <tr>
                                            <th class="hed-tr-bg">Phone</th>
                                            <td class="hed-td-bg">@Model.CompanyBranchList[bl].CountryCode @Model.CompanyBranchList[bl].Phone</td>
                                            <th class="hed-tr-bg">Contact Person Num</th>
                                            <td class="hed-td-bg">@Model.CompanyBranchList[bl].CP_CountryCode @Model.CompanyBranchList[bl].CP_Phone</td>
                                        </tr>
                                    </tbody>

                                </table>
                            }
                        }
                       else

                        {

                            var countryname = CountryList.FirstOrDefault(x => x.CountryId == Model.CompanyBranchList[bl].CountryId)?.CountryName;

                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th class="hed-tr-bg">Name of Branch</th>
                                        <td class="hed-td-bg">@Model.CompanyBranchList[bl].BranchName</td>
                                        <th class="hed-tr-bg">Email</th>
                                        <td class="hed-td-bg">@Model.CompanyBranchList[bl].Email</td>
                                    </tr>
                                    <tr>
                                        <th class="hed-tr-bg">Address</th>
                                        <td class="hed-td-bg">@Model.CompanyBranchList[bl].Address</td>
                                        <th class="hed-tr-bg">Website</th>
                                        <td class="hed-td-bg">@Model.CompanyBranchList[bl].Website</td>

                                    </tr>
                                    <tr>
                                        <th class="hed-tr-bg">Country</th>
                                        <td class="hed-td-bg">@countryname</td>
                                        <th class="hed-tr-bg">Contact Person</th>
                                        <td class="hed-td-bg">@Model.CompanyBranchList[bl].ContactPerson</td>
                                    </tr>
                                    <tr>
                                        <th class="hed-tr-bg">Phone</th>
                                        <td class="hed-td-bg">@Model.CompanyBranchList[bl].CountryCode @Model.CompanyBranchList[bl].Phone</td>
                                        <th class="hed-tr-bg">Contact Person Num</th>
                                        <td class="hed-td-bg">@Model.CompanyBranchList[bl].CP_CountryCode @Model.CompanyBranchList[bl].CP_Phone</td>
                                    </tr>
                                </tbody>

                            </table>
                        }

                    }
                </div>


            </div>

        </div>


        <div class="card shadow p-3 m-3 bg-white rounded">

            <div class="card-body">
                <h5>Social Media</h5>

                <div class="table-responsive mt-3">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Blog</th>
                                <td>@Model.SocialMediaList.FirstOrDefault(x => x.Type == "Blog").Link</td>
                                <th>Facebook</th>
                                <td>@Model.SocialMediaList.FirstOrDefault(x => x.Type == "Facebook").Link</td>
                            </tr>
                            <tr>
                                <th>Youtube</th>
                                <td>@Model.SocialMediaList.FirstOrDefault(x => x.Type == "Youtube").Link</td>
                                <th>Linkedin</th>
                                <td>@Model.SocialMediaList.FirstOrDefault(x => x.Type == "LinkedIn").Link</td>

                            </tr>
                            <tr>
                                <th>Twitter</th>
                                <td>@Model.SocialMediaList.FirstOrDefault(x => x.Type == "Twitter").Link</td>
                                <th></th>
                                <td></td>
                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>
</div>
@section Scripts{



    <script>
        //document.querySelector('#wrapper').classList.toggle('toggled');
    </script>
}

