﻿@model Domain.Role
@{
    ViewBag.Title = "AddRole";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style>


    .popover {
        opacity: 1 !important;
    }

    .popover-header {
        display: none;
    }

    .popover-body {
        padding: 10px
    }

    #passinvalid {
        background: url(../../dist/img/closered.svg) no-repeat 50%;
    }

    #passvalid {
        background: url(../../dist/img/tickgreen.svg) no-repeat 50%;
    }

    .passconf {
        position: absolute;
        right: 25px;
        width: 25px;
        height: 25px;
        border: 0;
        top: 34px;
        background: none;
        z-index: 9
    }

    .text-danger {
        font-size: 12px;
    }
</style>

<div class="row">

    <div class="col-lg-12">
        <h2 class="content-title pull-left">Add Role</h2>
        <nav class="pull-right" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Dashboard/Index">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="Index">Role Management</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Role</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-12">
        <div class="card shadow  bg-white rounded">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                     <div class="form-row mt-3">
                         <div class="form-group col-md-6">
                             @Html.LabelFor(model => model.RoleName, new { @class = "inputrolename" })
                             @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control", placeholder = "Role Name" } })
                             @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                         </div>
                    </div>
                 
                    <button type="button" class="btn btn-inner-prim w-btn pull-right" onclick="window.location.href='/Role/Index'"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                    <button type="submit" class="btn btn-inner-sec w-btn pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                }
            </div>
                </div>
    </div>
</div>

