﻿@model IEnumerable<Domain.Role>
@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex heading-row">
    <h2 class="activity-span">Role</h2>
    <a class="green-gradient add-btn" href="@Url.Action("AddRole", "Role")">
        <img src="~/dist/img/add.svg" class="add-img" /> Add
    </a>
</div>
<div style="width:100%; margin:0 auto;">
    <table id="myTable" class="customList tableScroll">
        <thead>
            <tr>
                <th>Role</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/dist/js/dataTables.fixedHeader.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                language: { search: '', searchPlaceholder: "Search" },
                "ajax": {
                    "url": "/Role/GetRoleList",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "columns" : [
                    { "data": "RoleName", "autoWidth": true },
                    { "data": "IsActive", "autoWidth": true,"render": function (data, type, row, meta) {
                            if (data == true)
                            { return "Active"; }
                            else {
                                return "Inactive";
                            }

                        } },
                    {
                        "data": "RoleId", "width": "50px", "render": function (data, type, row, meta) {
                            var actionControls = '<a href="/Role/UpdateRole/' + data + '" class="scale-trans"> <img src="@Url.Content("~/dist/img/edit.svg")"></a>';
                            if (row["IsActive"]) {
                                actionControls += '<a href = "/Role/DeleteRole/' + data + '" class="scale-trans" onclick="return ConfirmDeactivation();"> <img src="@Url.Content("~/dist/img/delete.svg")"></a>';
                            }
                            return actionControls;
                        }
                    }
                ],
                'columnDefs': [{
                    'targets': [2],
                    'orderable': false,
                }]
            });
            $('.tableScroll').parent('div').parent('div').addClass("customList_wrapper");
            $('#myTable thead tr').clone(true).appendTo('#myTable thead');
            $('#myTable thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).removeClass();
                if (title != "Action") {
                    $(this).html('<input class="th-search-input" type="text" placeholder="Search ' + title + '" />');
                }
                else {
                    $(this).text("Operation");
                    $(this).addClass("ghostPlaceHolder");
                }
                $(this).addClass("th-search")
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#myTable').DataTable({
                retrieve: true,
                orderCellsTop: true,
                fixedHeader: true
            })
            $(".th-search-input").click(function (e) {
                e.stopPropagation();
            });
        });
        function ConfirmDeactivation() {
            return confirm("Are you sure you want to deactivate this Role ?");
        }
    </script>
}
