﻿@model Domain.Role
@{
    ViewBag.Title = "EditRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="main-title mt-4">Edit Role</h2>
<nav class="breadcrumb-nav" aria-label="breadcrumb">
    <ol class="breadcrumb pl-4 pr-4">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Role")">Role</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Role</li>
    </ol>
</nav>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RoleId)
        <div class="col-md-12">
            @Html.LabelFor(model => model.RoleName, new { @class = "field-label" })
            @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Role Name" } })
            @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-12 display-flex">
            @Html.LabelFor(model => model.IsActive, new { @class = "field-label" })
            @Html.HiddenFor(model => model.IsActive)
            <label class="switch">
                <input class="switch-input" type="checkbox" id="chkIsActive">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="col-sm-6 d-flex justify-content">
            <a class="btn green-gradient input-back-add-btn" href="@Url.Action("index", "Role")">
                <img src="~/dist/img/left.svg" class="back-img" /> Back
            </a>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
            <button type="submit" class="btn green-gradient save-btn">
                <img src="~/dist/img/save.svg" class="save-img" /> Update
            </button>
        </div>
    </div>
}