﻿@model Domain.Role
@{
    ViewBag.Title = "EditRole";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="row">

    <div class="col-lg-12">
        <h2 class="content-title  pull-left">Edit Role</h2>
        <nav class="pull-right " aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Dashboard/Index">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/Role/Index">URole</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Role</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-12">
        <div class="card shadow  bg-white rounded">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    
               
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.RoleId)
                <div class="form-row">
                    <div class="form-group col-md-6">

                        @Html.LabelFor(model => model.RoleName, new { @class = "inputfirstname" })
                        @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control", placeholder = "Role Name" } })
                        @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })

                    </div>
                </div>
             
                        <div class="col-md-12 display-flex form-group">
                            @Html.LabelFor(model => model.IsActive, new { @class = "field-label" })
                            @Html.HiddenFor(model => model.IsActive)
                            <label class="switch">
                                <input class="switch-input" type="checkbox" id="chkIsActive">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <button type="button" class="btn btn-inner-prim w-btn pull-right" onclick="window.location.href='/Role/Index'"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                        <button type="submit" class="btn btn-inner-sec w-btn pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Update</button>

                    
                }

            </div>
        </div>
    </div>
</div>
