﻿
    @model PortKart_WEB.Models.ServiceCategoryModel
    @{ ViewBag.Title = "AddServiceCategory";
        Layout = "~/Views/Shared/_Layout2.cshtml"; }


    
        <div class="row">
            <div class="col-lg-12">
                <h2 class="content-title  pull-left">Add Service Category</h2>
                <nav class="pull-right " aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "ServiceCategory")">ServiceCategory</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Service Category</li>
                    </ol>
                </nav>
            </div>

            <div class="col-md-12">
                <div class="card shadow  bg-white rounded">
                    <div class="card-body">

                        <hr></hr>
                        @using (Html.BeginForm())
                        {
                   
                        <div class="form-row col-md-12">

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.ServiceCategoryCode, new { @class = "field-label" })
                                @Html.EditorFor(model => model.ServiceCategoryCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Service Category Code" } })
                                @Html.ValidationMessageFor(model => model.ServiceCategoryCode, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.ServiceCategoryName, new { @class = "field-label" })
                                @Html.EditorFor(model => model.ServiceCategoryName, new { htmlAttributes = new { @class = "form-control", placeholder = "Service Category Name" } })
                                @Html.ValidationMessageFor(model => model.ServiceCategoryName, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <button type="button" class="btn btn-inner-prim w-btn pull-right" onclick="window.location.href='/ServiceCategory/Index'"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>

                        <button type="submit" class="btn btn-inner-sec w-btn pull-right"><i class="fa fa-floppy-o" img src="~/dist/theme/img/save.svg" aria-hidden="true"></i> Save</button>
                        }

</div>
                </div>

            </div>
        </div>
  



<link href="~/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@section Scripts{

    <script src="~/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/dist/js/dataTables.fixedHeader.min.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {

            $('.tableScroll').parent('div').parent('div').addClass("customList_wrapper");
            $('#myTable thead tr').clone(true).appendTo('#myTable thead');
            $('#myTable thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).removeClass();
                if (title != "Action") {
                    $(this).html('<input class="th-search-input form-control-sec" type="text" />');
                }
                else {
                    $(this).text("Operation");
                    $(this).addClass("ghostPlaceHolder");
                }
                $(this).addClass("th-search")
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#myTable').DataTable({
                retrieve: true,
                orderCellsTop: true,
                fixedHeader: true
            })
            $(".th-search-input").click(function (e) {
                e.stopPropagation();
            });






            //called when key is pressed in textbox
            $("#ServiceCategoryCode").keypress(function (e) {
                //if the letter is not digit then display error and don't type anything
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    //display error message
                    //  alert("Enter only 3 Digit code");
                    //$("#errmsg").html("Digits Only").show().fadeOut("slow");
                    return false;
                }
            });
        });

    </script>
}
































@*@model PortKart_WEB.Models.ServiceCategoryModel
    @{
        ViewBag.Title = "AddServiceCategory";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <h2 class="main-title mt-4">Add Service Category</h2>
    <nav class="breadcrumb-nav" aria-label="breadcrumb">
        <ol class="breadcrumb pl-4 pr-4">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
            <li class="breadcrumb-item"><a href=" @Url.Action("Index", "ServiceCategory")">ServiceCategory</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Service Category</li>
        </ol>
    </nav>
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => model.ServiceCategoryCode, new { @class = "field-label" })
                @Html.EditorFor(model => model.ServiceCategoryCode, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Service Category Code" } })
                @Html.ValidationMessageFor(model => model.ServiceCategoryCode, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.ServiceCategoryName, new { @class = "field-label" })
                @Html.EditorFor(model => model.ServiceCategoryName, new { htmlAttributes = new { @class = "common-input width-100", placeholder = "Service Category Name" } })
                @Html.ValidationMessageFor(model => model.ServiceCategoryName, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-6 d-flex justify-content">
                <a class="btn green-gradient input-back-add-btn" href="@Url.Action("index", "ServiceCategory")">
                    <img src="~/dist/img/left.svg" class="back-img" /> Back
                </a>
            </div>
            <div class="col-sm-6 d-flex justify-content-end">
                <button type="submit" class="btn green-gradient save-btn">
                    <img src="~/dist/img/save.svg" class="save-img" /> Save
                </button>
            </div>
        </div>


    }


    @section Scripts{

        <script src="~/dist/js/moment.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

                //called when key is pressed in textbox
                $("#ServiceCategoryCode").keypress(function (e) {
                    //if the letter is not digit then display error and don't type anything
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                        //display error message
                        //  alert("Enter only 3 Digit code");
                        //$("#errmsg").html("Digits Only").show().fadeOut("slow");
                        return false;
                    }
                });
            });

        </script>
    }*@
