﻿

@model PortKart_WEB.Models.TemplateModel
@{ ViewBag.Title = "AddTemplate";
    Layout = "~/Views/Shared/_Layout2.cshtml"; 
   
    List<Domain.ServiceList> ServiceList = new List<Domain.ServiceList>();
    if (ViewBag.ServiceList != null)
    {
        ServiceList = ViewBag.ServiceList;
    }
    }



<div class="row">
    <div class="col-lg-12">
        <h2 class="content-title  pull-left">Add Service Template</h2>
        <nav class="pull-right " aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Template")">Template</a></li>
            </ol>
        </nav>
    </div>

    <div class="col-md-12">
        <div class="card shadow  bg-white rounded">
            <div class="card-body">

                <hr></hr>
                @using (Html.BeginForm())
                {

                    <div class="form-row col-md-12">

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.TemplateName, new { @class = "field-label" })
                            @Html.EditorFor(model => model.TemplateName, new { htmlAttributes = new { @class = "form-control", placeholder = "Template Name" } })
                            @Html.ValidationMessageFor(model => model.TemplateName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @*@Html.LabelFor(model => model.serviceid, new { @class = "field-label" })
        @Html.DropDownListFor(model => model.serviceid, (SelectList)ViewBag.ServiceList, new { @class = "custom-select form-control",multiple = "multiple"})
        @Html.ValidationMessageFor(model => model.serviceid, "", new { @class = "text-danger" })*@
                            <label class="field-label">
                                Service
                            </label>
                            <select id="ddlService" class="custom-select form-control">
                                <option value="">Select Service</option>
                                @for (var i = 0; i < ServiceList.Count; i++)
                                {
                                    <option value="@ServiceList[i].ServiceId">@ServiceList[i].ServiceName</option>
                                }
                            </select>
                        </div>

                    </div>
                    <button type="button" class="btn btn-inner-prim w-btn pull-right" onclick="window.location.href='/Template/Index'"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                    <button type="submit" class="btn btn-inner-sec w-btn pull-right"><i class="fa fa-floppy-o" img src="~/dist/theme/img/save.svg" aria-hidden="true"></i> Save</button>
                }

            </div>
        </div>

    </div>
</div>





