﻿


@{ ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout2.cshtml";
    Layout = "~/Views/Shared/_OwnerSearch.cshtml";
    List<Domain.CurrencyDomain> CurrencyList = new List<Domain.CurrencyDomain>();
    if (ViewBag.CurrencyList != null)
    {
        CurrencyList = ViewBag.CurrencyList;
    }
    List<Domain.ServiceList> ServiceList = new List<Domain.ServiceList>();
    if (ViewBag.ServiceList != null)
    {
        ServiceList = ViewBag.ServiceList;
    }
     List<Domain.Template> TemplateName = new List<Domain.Template>();
    if (ViewBag.Template != null)
    {
        TemplateName = ViewBag.Template;
    }
}
<!-- Modal to List Servcie -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Services </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="card shadow  bg-white rounded">
                        <div class="card-body">
                            <div class="row">


                                <div class="form-row col-md-12">
                                    <div class="form-group col-md-4">
                                        <label class="field-label">
                                            Service
                                        </label>
                                        <select id="ddlService" class="custom-select form-control" multiple hidden>
                                            <option value="">Select Service</option>
                                            @for (var i = 0; i < ServiceList.Count; i++)
                                            {
                                                <option value="@ServiceList[i].ServiceId">@ServiceList[i].ServiceName</option>
                                            }
                                        </select>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-inner-square" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-inner-sq-prim" id="SaveSub" onclick="AddService()">Add</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal to List Template -->
<div class="modal fade" id="templateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Template</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="card shadow  bg-white rounded">
                        <div class="card-body">
                            <div class="row">


                                <div class="form-row col-md-12">
                                    <div class="form-group col-md-4">
                                        <label class="field-label">
                                           Template
                                        </label>
                                        <select id="TempNameList" class="custom-select form-control">
                                            <option value="">Select Template</option>
                                            @for (var i = 0; i < TemplateName.Count; i++)
                                            {
                                                <option value="@TemplateName[i].TemplateId">@TemplateName[i].TemplateName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-inner-square" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-inner-sq-prim" id="SaveSub" onclick="AddTemplateName()">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <div class="card shadow  bg-white rounded">
            <div class="card-body">
                <section id="content-wrapper">
                    <div class="row">

                        <div class="col-md-12 p-3">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" onclick="settabname('T')" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Template</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" onclick="settabname('O')" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Owner Mapping</a>

                                </div>
                            </nav>
                            <div class="tab-content card shadow bg-white rounded" id="nav-tabContent">

                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="col-sm-12 col-md-6" id="ShowTemplate">
                                                <form class="form-inline">
                                                    <div class="form-group">
                                                        <select id="TemplateNameDummy" class="custom-select mr-sm-2 filter-frm"></select>
                                                        <select class="custom-select mr-sm-2 filter-frm" id="TempName" style="display:none" onchange="TemplateSelect()">
                                                            <option></option>
                                                        </select>
                                                        <input type="hidden" id="TemplateId" />
                                                    </div>
                                                </form>

                                            </div>
                                            <div class="col-sm-12 col-md-6" id="AddTempalate" style="display:none">
                                                <form class="form-inline">
                                                    <div class="form-group">
                                                        <label for="inputPassword6">Discount Slab<span class="required">*</span></label>
                                                        <input type="text" class="form-control mx-sm-3" id="TemplateName" placeholder="Template Name" aria-describedby="passwordHelpInline">
                                                        <button type="button" class="btn btn-preview rounded" onclick="CopyTemplate()">Copy</button>
                                                    </div>
                                                </form>

                                            </div>
                                            <div class="col-sm-12 col-md-6 text-right" id="Btn_Tools_First">
                                                <button type="button" class="btn btn-inner-square w-btn " onclick="AddTemplate()">New</button>
                                            </div>

                                            <div class="col-sm-12 col-md-6 text-right" id="Btn_Tools_Second" style="display:none">
                                                <button type="button" class="btn btn-inner-square w-btn " onclick="AddTemplate()">New</button>
                                                <button type="button" class="btn btn-inner-sq-prim w-btn " id="Editbutton" onclick="UpdateAgencyServiceTemplates()">Edit</button>
                                                <button type="button" class="btn btn-inner-sq-prim w-btn " id="Savebutton" onclick="SaveUpdatedTemplate()">Save</button>
                                                <button type="button" class="btn btn-inner-sq-prim w-btn " onclick="GotoAddTemplate()">Cancel</button>
                                                <button type="button" class="btn btn-inner-square w-btn " id="AddService" onclick="OpenService()">Add Service</button>
                                            </div>
                                            <div class="col-sm-12 col-md-6 text-right" id="Btn_Tools_Third" style="display:none">
                                                <button type="button" class="btn btn-inner-sq-prim w-btn " onclick="GotoAddTemplate()">Cancel</button>
                                                <button type="button" class="btn btn-inner-sq-prim w-btn " onclick="SaveAgencyServiceTemplates()">Save</button>
                                                <button type="button" class="btn btn-inner-square w-btn " onclick="OpenService()">Add Service</button>
                                            </div>


                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-hover" id="ServiceTable">
                                                        <thead class="table-hed-bg">
                                                            <tr>

                                                                <th scope="col"></th>
                                                                <th class="sorting_asc" scope="col">Category</th>
                                                                <th scope="col">Service</th>
                                                                <th scope="col">Option</th>
                                                                <th scope="col">Cost Type</th>
                                                                <th scope="col">Currency</th>
                                                                <th scope="col">Type</th>
                                                                <th scope="col">Offer</th>
                                                                <th scope="col" id="actionhead">Action</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                <td colspan="9" style="text-align:center"><span style="cursor:pointer">Add Service</span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="col-sm-12 col-md-6  ">
                                                <form class="form-inline">
                                                </form>

                                            </div>

                                            <div class="col-sm-12 col-md-6 text-right">

                                                @*<button type="button" class="btn btn-inner-square w-btn ">Add</button>*@
                                                <a class="btn btn-inner-square" href="@Url.Action("AddOwnerTemplate", "Template")"><i aria-hidden="true"></i> Add</a>
                                            </div>


                                            <div class="col-md-12 mt-3">
                                                <div class="table-responsive">
                                                    <table id="myTable" class="table table-hover">
                                                        <thead class="table-hed-bg">
                                                            <tr>
                                                                <th class="sorting_asc" scope="col">Owner</th>
                                                                <th class="sorting_asc" scope="col">Template Type</th>
                                                                <th class="sorting_asc" scope="col">Port</th>
                                                                <th scope="col">Start Date</th>
                                                                <th scope="col">End Date</th>
                                                                <th scope="col">Status</th>
                                                                <th scope="col">Action</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>


                </section>

            </div>
        </div>

    </div>
</div>

@section Footer{
    <section class="footer-bg">
        <footer class="section footer-classic ">
            <div class="container">
                <div class="row row-30">
                    <div class="col-md-4 col-xl-5">
                        <div class="footer-cnt pr-xl-4">
                            <h4 class="footer-port">Portkart</h4>
                            <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
                            <!-- Rights-->

                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <ul class="nav-list mt-5">
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> About</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Projects</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Blog</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Contacts</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Pricing</a></li>
                        </ul>
                    </div>



                    <div class="col-md-4">
                        <dl class="contact-list mt-5">
                            <dt>
                                24/7 Support: 0800 12345 678</br>
                                Say Hello To Us
                            </dt>

                        </dl>
                        <dl class="contact-list">
                            <dt>167 Airline Suite, </br> 456GA3, UK</dt>
                        </dl>
                        <dl class="contact-list">
                            <dt class="email">sample@portkart.com</dt>

                        </dl>
                    </div>

                </div>
            </div>

        </footer>
    </section>

    <section class="footer-bg-copy">
        <div class="container">
            <div class="row">
                <p class="footer-cnt pl-3 pt-3">Copyrights © @DateTime.Now.Year. All Rights Reserved by portkart.com</p>
            </div>
        </div>
    </section>
}
<link href="~/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

@section Scripts{
    <script src="~/dist/js/moment.min.js"></script>

    <link href="~/dist/css/Select2.css" rel="stylesheet" />
    <script src="~/dist/js/Select2.js"></script>
    <link href="~/dist/css/jquery.multiselect.css" rel="stylesheet" />
    <script src="~/dist/js/jquery.multiselect.js"></script>
    <script src="~/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/dist/js/dataTables.fixedHeader.min.js"></script>
    <script>
        function settabname(mode) {
            if (mode == "O") {
                sessionStorage.setItem("TemplateMode", 'O');
            }
            else {  sessionStorage.setItem("TemplateMode", 'T');}
        }
    </script>
    <script>
        var AgencyServiceList = []; // for getting tmplist
        var CurrencyList = [];
         var defCurrency = 0;
        var ServiceList = [];
        var TemplateSelected = false;
        var EditClicked = false;
     var SaveClicked = false;
        CurrencyList =@Html.Raw(Json.Encode(CurrencyList));
        ServiceList=@Html.Raw(Json.Encode(ServiceList));

         $('#ddlService').multiselect({
            columns: 1,
            selectAll: true,
            search: true,
            texts: {
                placeholder: 'Select Service',
                selectAll: 'Select All',
                unselectAll: 'Unselect All'
            },
        });
        $('#ddlServiceDummy').hide();
        $('#ddlService').show();


        $(document).ready(function () {
            var tabmode = "T";
            tabmode = sessionStorage.getItem("TemplateMode");
            if (tabmode == null || tabmode == undefined || tabmode == "") {
                tabmode = "T";
            }
            if (tabmode == "O") {
                $('#nav-profile-tab').click();
            }
            else {
        $('#nav-home-tab').click();
            }
            $('#myTable').DataTable({
                "autoWidth": false,
                language: { search: '', searchPlaceholder: "Search" },
                "ajax": {
                    "url": "/Template/GetOwnerTemplateList",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": "",
                     error: function (xhr, error, code) {
                        if (xhr.responseText.includes('Portkart-login')) {
                            window.location.reload();
                        }
                    }
                },
                "columns": [
                    { "data": "Owner", "autoWidth": true },
                    { "data": "TemplateName", "autoWidth": true },
                    { "data": "Port", "autoWidth": true },
                    {
                        "data": "StartDateAsString", "name": "StartDate", "autoWidth": true, "render":
                            function (data, type, full) {
                                return (data) ? moment(data, 'DD-MM-YYYY').format('DD-MM-YYYY') : '';
                            }
                    },
                    {
                        "data": "EndDateAsString", "name": "EndDate", "autoWidth": true, "render":
                            function (data, type, full) {
                                return (data) ? moment(data, 'DD-MM-YYYY').format('DD-MM-YYYY') : '';
                            }
                    },

                    {
                        "data": "IsActive", "autoWidth": true, "render": function (data, type, row, meta) {
                            if (data == true) { return "Active"; }
                            else {
                                return "Inactive";
                            }
                        }
                    },
                    {
                        "data": "OwnerTemplateId", "width": "50px", "render": function (data, type, row, meta)
                        {
                            var actionControls = '<a href="/Template/UpdateOwnerTemplate/' + data + '"  class="btn btn-view btn-xs" ><i class="fa fa-pencil"></i></a>';
                            if (row["IsActive"])
                            {

                                actionControls += '<a href="/Template/DeleteOwnerTemplate/' + data + '" class="scale-trans tbl-dlt-ico" onclick="return ConfirmDeactivation();"><i class="fa fa-trash"></i></a>';

                           }
                            return actionControls;
                        }
                    }
                ],
                'columnDefs': [{
                    'targets': [6],
                    'orderable': false,
                }]
            });
            $('.tableScroll').parent('div').parent('div').addClass("customList_wrapper");
            $('#myTable thead tr').clone(true).appendTo('#myTable thead');
            $('#myTable thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).removeClass();
                if (title != "Action") {
                    $(this).html('<input class="th-search-input form-control-sec" type="text" />');
                }
                else {
                    $(this).text("Operation");
                    $(this).addClass("ghostPlaceHolder");
                }
                $(this).addClass("th-search")
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#myTable').DataTable({
                retrieve: true,
                orderCellsTop: true,
                fixedHeader: true
            })
            $(".th-search-input").click(function (e) {
                e.stopPropagation();
            });
        });
        function ConfirmDeactivation() {
            return confirm("Are you sure you want to deactivate this OwnerTemplate Mapping ?");
        }
        $('#TempName').select2({
            ajax: {
                url: 'Template/GetTemplateNameList',
                data: function (params) {
                    var query = {
                        search: params.term
                    }

                    // Query parameters will be ?search=[term]&type=public
                    return query;
                },
                processResults: function (data) {
                    // Transforms the top-level key of the response object from 'items' to 'results'
                    if (data.includes('Portkart-login')) {
                        window.location.reload();
                    }
                    return {
                        results: data
                    };
                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            },
            placeholder: "Select a Template",
            language: {
                inputTooShort: function (args) {

                    return "Enter 2 or more characters";
                },
                noResults: function () {
                    return "Not Found.";
                },
                searching: function () {
                    return "Searching...";
                }
            },
            allowClear: true,
        });
        $('#TemplateNameDummy').hide();
        $('#TempName').show();

        function TemplateSelect() {
            agencyservicelist = [];
            $('#servicetable tbody').empty();
            $('#servicetable tbody').append('<tr><td colspan="9" style="text-align:center"><span style="cursor:pointer" onclick="openservice()">No Service Available</span></td></tr>');
            var TemplateId = $('#TempName').val();

             if (!isNaN(TemplateId) && TemplateId > 0) {
                    $('#Btn_Tools_First').hide();
                 $('#Btn_Tools_Second').show();
                 $('#Savebutton').hide();
                 $('#AddService').hide();
                 $('#ServiceTable').show();
                 TemplateSelected = true;
                LoadTemplateService(TemplateId);
            }
            else {
                $('#ServiceTable').hide();
                $('#Btn_Tools_Second').hide();
            }
        }

        function LoadTemplateService(id) {
            $.ajax({
                type: 'GET',
                url: "/Template/LoadTemplateService/" + id,
                dataType: "JSON",
                success: function (resultData) {
                    if (resultData.length > 0) {
                        AgencyServiceList = resultData;
                        PopulateServiceTable();
                    }

                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });
        }

        function AddTemplate(){
            $('#ShowTemplate').hide();
            $('#AddTempalate').show();
            $('#Btn_Tools_First').hide();
            $('#Btn_Tools_Second').hide();
            $('#Btn_Tools_Third').show();
            $('#ServiceTable tbody').empty();
        }

        function GotoAddTemplate() {
          window.location.reload()
        }

        function OpenService() {
             $('#ddlService').multiselect( 'reset' );
            $('#ddlService').val('');
            LoadServiceList([])
            $('#exampleModal').modal('show');
        }

        function LoadServiceList(ids) {
            if (ids == null || ids == "" || ids == undefined) {
                ids = [];
            }
            $.ajax({
                type: 'POST',
                url: "/Agency/LoadServiceList",
                data: { ids },
                datatype: "json",
                success: function (data) {
                    if (data.includes('Portkart-login')) {
                        window.location.reload();
                    }
                    var list = [];
                    for (var i = 0; i < data.length; i++) {
                        list.push({
                            name: data[i].ServiceName,
                            value: data[i].ServiceId,
                            checked: false
                        });

                    }
                    $('#ddlService').multiselect('loadOptions', list);
                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });
        }

        function AddService() {
            //var id = $('#ddlService').val();
              var ids = $('#ddlService').val();
             if (ids == null || ids == "" || ids == undefined) {
                ids = [];
            }
            if (ids.length > 0) {
                var newids = [];
                for (var j = 0; j < ids.length; j++) {
                       var idexists = false;
                       for (var i = 0; i < AgencyServiceList.length; i++) {
                         if (ids[j] == AgencyServiceList[i].ServiceId && AgencyServiceList[i].ParentId == 0) {
                             idexists = true;
                         }
                    }
                     if (idexists == false) {
                           newids.push(ids[j]);
                       }
                }
                if (newids.length == 0) {
                    toastr.error("Selected services already exists");
                        return;
                }
                ids = newids;
                $.ajax({
                    type: 'POST',
                    //url: "/Template/LoadServicebyId",
                     url: "/Agency/LoadServicebyId",
                    data: { ids },
                    dataType: "JSON",
                    success: function (resultData) {
                        if (resultData.length > 0) {
                            for (var i = 0; i < resultData.length; i++) {
                                resultData[i].Type = 'A';
                                AgencyServiceList.push(resultData[i]);
                            }
                            PopulateServiceTable();
                            toastr.success("Service added");
                            $('#exampleModal').modal('hide');
                        }

                    },
                    error: function (xhr, error, code) {
                        if (xhr.responseText.includes('Portkart-login')) {
                            window.location.reload();
                        }
                    }
            });

            }
            else {
                toastr.error("Please select a service");
            }
        }

        function PopulateServiceTable() {
            var AmountType = '';
           
            $('#ServiceTable tbody').empty();
            var html = '';
            for (var i = 0; i < AgencyServiceList.length; i++) {
                var curname = '';
                var cur = '<option value="">Select Currency</option>';
                for (var j = 0; j < CurrencyList.length; j++) {

                        var selcted = '';
                        if (AgencyServiceList[i].CurrencyId == CurrencyList[j].CurrencyId) {
                            selcted = 'selected="selected"';
                            curname = CurrencyList[j].Currency;
                        }
                        cur = cur + '<option value="' + CurrencyList[j].CurrencyId + '" ' + selcted + '>' + CurrencyList[j].Currency + '</option>';
                }
              
                var TypeA = '';
                var TypeP = '';
                if (AgencyServiceList[i].Type == 'A') {
                    TypeA = 'selected="selected"';
                } else {
                    TypeP = 'selected="selected"';
                }
                if (AgencyServiceList[i].IsParent) {
                    var Edit = '';
                    if (EditClicked == false) {
                      Edit = Edit +  '<td onclick="CollapseClick(event)"><a href ="javascript:void(0)" class="scale-trans tbl-dlt-ico" onclick="DeleteService(' + AgencyServiceList[i].ServiceId + ',true,0,this)"><i class="fa fa-trash"></i> </a></td>';

                    } else 
                        Edit =  Edit + '<td style="display:none">'+ '</td>';
                    
                   var list = '';
                if (TemplateSelected == false) {
                    list = list + '<select onclick="CollapseClick(event)"  id="currency' + AgencyServiceList[i].ServiceId + '" class="form-control sm" onchange="CurrencyChange(' + AgencyServiceList[i].ServiceId + ',true,0,this)">' +
                        cur +
                        '</select>' +
                        '</td>' +
                        '<td>' +
                        '</td>' +
                        '<td>' +
                        '</td>' +
                        Edit ;
                        //'<td onclick="CollapseClick(event)"><a href ="javascript:void(0)" class="scale-trans tbl-dlt-ico" onclick="DeleteService(' + AgencyServiceList[i].ServiceId + ',true,0,this)"><i class="fa fa-trash"></i> </a></td>';
                }
                else {
                    list = list + curname +
                        '</td>' +
                        '</td>'+
                        '<td>' +
                        '</td>' +
                        '<td>' +
                        '</td>';
                       
                }
                    html = html + '<tr class="accordion-toggle collapsed" id="accordion_P' + AgencyServiceList[i].ServiceId + '"' +
                        'data-toggle="collapse" data-parent="#accordion_P' + AgencyServiceList[i].ServiceId + '"' +
                        'href = "#collapse_C' + AgencyServiceList[i].ServiceId + '" > ' +
                        '<td scope="row" class="expand-button-arrow"></td>' +
                        '<td>' + AgencyServiceList[i].ServiceCategoryName + '</td>' +
                        '<td>' + AgencyServiceList[i].ServiceName + '</td>' +
                        '<td></td>' +
                        '<td>' + AgencyServiceList[i].CostType + '</td>' +
                       
                        '<td>' +
                           list +
                        '</tr>';
                    var subservice = '';
                    var sublist = [];
                    for (var j = 0; j < AgencyServiceList.length; j++) {
                        if (AgencyServiceList[i].ServiceId == AgencyServiceList[j].ParentId) {
                            AgencyServiceList[j].Sort = AgencyServiceList[j].Sort == null ? 0 : AgencyServiceList[j].Sort;
                            sublist.push(AgencyServiceList[j]);
                        }
                    }
                    if (sublist.length > 0) {
                        sublist.sort(function (a, b) {
                            return (a.Sort) - (b.Sort);
                        });
                        for (var j = 0; j < sublist.length; j++) {
                               var subcur = '<option value="">Select Currency</option>';
                            for (var k = 0; k < CurrencyList.length; k++) {
                                var subselcted = '';
                                if (sublist[j].CurrencyId == CurrencyList[k].CurrencyId) {
                                    subselcted = 'selected="selected"';
                                }
                                subcur = subcur + '<option value="' + CurrencyList[k].CurrencyId + '" ' + subselcted + '>' + CurrencyList[k].Currency + '</option>';
                            }
                            var sub = '';
                            
                var SubTypeA = '';
                var SubTypeP = '';
                if (sublist[j].Type == 'A') {
                    SubTypeA = 'selected="selected"';
                } else {
                    SubTypeP = 'selected="selected"';
                }
                            if (TemplateSelected == false) {

                                sub = sub + '<select disabled style = "cursor:not-allowed" id="P' + AgencyServiceList[i].ServiceId + 'Subcurrency' + sublist[j].ServiceId + '" class="form-control sm" onchange="CurrencyChange(' + sublist[j].ServiceId + ',false,' + sublist[j].ParentId + ',this)">' +
                                    subcur +
                                    '</select>' +
                                    '</td>' +
                                    '<td>' +
                                    '<select onclick="CollapseClick(event)"  id="P' + AgencyServiceList[i].ServiceId + 'Subtype' + sublist[j].ServiceId + '" class="form-control sm" onchange="TypeChange(' + sublist[j].ServiceId + ',false,' + sublist[j].ParentId + ',this)">' +
                                    '<option value="A" ' + SubTypeA + ' >Amount</option>' +
                                    '<option value="P" ' + SubTypeP + ' >Percentage</option>' +
                                    '</select>' +
                                    '</td > ' +
                                    '<td><input class="form-control sm" onkeyup="OfferChange(' + sublist[j].ServiceId + ',false,' + sublist[j].ParentId + ',this)"  type="number" id="P' + AgencyServiceList[i].ServiceId + 'SubOffer' + sublist[j].ServiceId + '" value="' + sublist[j].Offer + '" /></td>';
                                 
                            }
                            else {
                                sub = sub +
                                    curname +
                                    '</td>' +
                                    '<td>' + sublist[j].Type + '</td>' +
                                    '<td>' + sublist[j].Offer + '</td>';
                            }
                            subservice = subservice + '<tr id="collapse_C' + AgencyServiceList[i].ServiceId + '" class="collapse hide-table-padding">' +
                                '<td></td>' +
                                '<td>' + sublist[j].ServiceCategoryName + '</td>' +
                                '<td>' + sublist[j].ServiceName + '</td>' +
                                '<td>' + sublist[j].Option + '</td>' +
                                '<td>' + sublist[j].CostType + '</td>' +
                                '<td>' +
                                    sub +
                                '</tr>';
                        }
                    }
                    html = html + subservice;
                }
                else if (!AgencyServiceList[i].ParentId > 0) {
                    var parlist = '';
                 var EditParent = '';
                    if (EditClicked == false) {
                      EditParent = EditParent +  '<td onclick="CollapseClick(event)"><a href ="javascript:void(0)" class="scale-trans tbl-dlt-ico" onclick="DeleteService(' + AgencyServiceList[i].ServiceId + ',false,0,this)"><i class="fa fa-trash"></i> </a></td>';
             
                    } else 
                        EditParent = EditParent + '<td style="display:none">' + '</td>';

                    if (TemplateSelected == false) {
                        parlist = parlist + '<select class="form-control sm"  id="currency' + AgencyServiceList[i].ServiceId + '" onchange="CurrencyChange(' + AgencyServiceList[i].ServiceId + ',false,0,this)" >' +
                            cur +
                            '</select>' +
                            '</td>' +
                            '<td>' +
                            '<select onclick="CollapseClick(event)"  id="type' + AgencyServiceList[i].ServiceId + '" class="form-control sm" onchange="TypeChange(' + AgencyServiceList[i].ServiceId + ',false,0,this)">' +
                             '<option value="A" ' + TypeA + ' >Amount</option>' +
                            '<option value="P" ' + TypeP + ' >Percentage</option>' +
                            '</select>' +
                            '</td>' +
                            '<td><input class="form-control sm"  type="number" onchange="OfferChange(' + AgencyServiceList[i].ServiceId + ',false,0,this)"  type="number" id="Offer' + AgencyServiceList[i].ServiceId + '" value="' + AgencyServiceList[i].Offer + '" /></td>' +
                            //        '<td onclick="CollapseClick(event)"><a href ="javascript:void(0)" class="scale-trans tbl-dlt-ico" onclick="DeleteService(' + AgencyServiceList[i].ServiceId + ',false,0,this)"><i class="fa fa-trash"></i> </a></td>';
                            EditParent ;
                    }
                    else {
                        parlist = parlist +  curname +
                            '</td>' +
                            '<td>' + AgencyServiceList[i].Type + '</td>' +
                            '<td>' + AgencyServiceList[i].Offer + '</td > ';
                    }
                    html = html + '<tr> ' +
                        '<td scope="row"></td>' +
                        '<td>' + AgencyServiceList[i].ServiceCategoryName + '</td>' +
                        '<td>' + AgencyServiceList[i].ServiceName + '</td>' +
                        '<td></td>' +
                        '<td>' + AgencyServiceList[i].CostType + '</td>' +
                        '<td>' +
                       parlist +
                        '</tr>';
                }
           }
           if (!AgencyServiceList.length>0) {
                html = '<tr><td colspan="10" style="text-align:center"><span style="cursor:pointer" onclick="OpenService()">No Service Available</span></td></tr>';
}
            $('#ServiceTable tbody').append(html);
            if (TemplateSelected == true) {
                $('#actionhead').hide();

            }
            else if (EditClicked == true) {
                $('#actionhead').hide();
            }
            else {
                $('#actionhead').show();
            }
        }

        function CollapseClick(event) {
                event.stopPropagation();
        }

        function OfferChange(ServiceId, IsParent, ParentId, element) {
             $(element).val($(element).val().replace(/[^\d.]/g, ''));
            var value = $(element).val();
             var Type = 'A';
             if (value == "" || value == undefined || value == null) {
                 value = 0;

                }
            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (AgencyServiceList[i].ServiceId == ServiceId && AgencyServiceList[i].IsParent == IsParent && AgencyServiceList[i].ParentId == ParentId) {
                    Type = AgencyServiceList[i].Type;

                }
            }
                   if(Type=='P' && value>100)
                        {
                       alert("Maximum offer value 100%");
                       return false;
                            }


            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (AgencyServiceList[i].ServiceId == ServiceId && AgencyServiceList[i].IsParent == IsParent && AgencyServiceList[i].ParentId == ParentId) {
                    AgencyServiceList[i].Offer = value;
                }
            }

        }

        function CurrencyChange(ServiceId, IsParent, ParentId, element) {
            var value = $(element).val();
            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (AgencyServiceList[i].ServiceId == ServiceId && AgencyServiceList[i].IsParent == IsParent && AgencyServiceList[i].ParentId == ParentId) {
                    AgencyServiceList[i].CurrencyId = value;
                }
                if (AgencyServiceList[i].ParentId == ServiceId) {
                    $('#P'+ ServiceId + 'Subcurrency' + AgencyServiceList[i].ServiceId).val(value);
                    AgencyServiceList[i].CurrencyId = value;
                }
            }

        }

        function TypeChange(ServiceId, IsParent, ParentId, element) {
            var value = $(element).val();
            var Offer = 0;
             if (value == "" || value == undefined || value == null) {
                value = "A";
            }
             for (var i = 0; i < AgencyServiceList.length; i++) {
                 if (AgencyServiceList[i].ServiceId == ServiceId && AgencyServiceList[i].IsParent == IsParent && AgencyServiceList[i].ParentId == ParentId) {
                     Offer = AgencyServiceList[i].Offer;
                }
            }
            if (value == 'P'  && Offer>100)
                        {
                alert("Maximunm offer value 100%");
                       return false;
                        }

            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (AgencyServiceList[i].ServiceId == ServiceId && AgencyServiceList[i].IsParent == IsParent && AgencyServiceList[i].ParentId == ParentId) {
                    AgencyServiceList[i].Type = value;
                }
            }
        }

        function DeleteService(ServiceId, IsParent, ParentId, element) {

            if (confirm("Do you want to delete this Service?")) {
                var index = -1;
                var childrenlist = [];
                for (var i = 0; i < AgencyServiceList.length; i++) {
                    if (AgencyServiceList[i].ServiceId == ServiceId && AgencyServiceList[i].IsParent == IsParent && AgencyServiceList[i].ParentId == ParentId) {
                        index = i;
                    }

                }

               if (index != -1) {
                   AgencyServiceList.splice(index, 1);
                   for (var i = 0; i < AgencyServiceList.length; i++) {
                        if (AgencyServiceList[i].ParentId == ServiceId ) {
                            childrenlist.push(AgencyServiceList[i]);
                        }

                   }
                   for (var j = 0; j < childrenlist.length; j++) {
                       var cindex = -1;
                       for (var i = 0; i < AgencyServiceList.length; i++) {
                           if (AgencyServiceList[i].ServiceId == childrenlist[j].ServiceId && AgencyServiceList[i].IsParent == childrenlist[j].IsParent
                               && AgencyServiceList[i].ParentId == childrenlist[j].ParentId) {
                        cindex = i;
                    }

                       }
                       if (cindex != -1) {
                            AgencyServiceList.splice(cindex, 1);
                       }
                   }
                
                   PopulateServiceTable();
               }
            }
        }

        function SaveAgencyServiceTemplates() {

            if (SaveClicked == true) {
                return;
            }

            else {
                SaveClicked = true;
            }
            if (!AgencyServiceList.length > 0) {
                alert("Please add a service");
                SaveClicked = false;
                return;
           }
             var currencyval = false;
            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (AgencyServiceList[i].CurrencyId == "" || AgencyServiceList[i].CurrencyId == null || AgencyServiceList[i].CurrencyId == undefined) {
                    currencyval = true;
                }

            }
            if (currencyval) {
                alert("Currency is required for all services");
                SaveClicked = false;
                return;
            }
           var TemplateName = $('#TemplateName').val();
           if (TemplateName == "" || TemplateName == undefined || TemplateName == null) {
               alert("Please provide template name");
               SaveClicked = false;
               return;
           }
            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (!AgencyServiceList[i].CurrencyId > 0) {
                    AgencyServiceList[i].CurrencyId == defCurrency;
                    }

                }
            var ServiceTemplateObj = {
                TemplateName: TemplateName,
              

                TemplateDetail : AgencyServiceList
            };
            var url = "/Template/SaveAgencyServiceTemplate";
         
               $.ajax({
                type: 'POST',
                      url: "/Template/SaveAgencyServiceTemplate",
                data:ServiceTemplateObj,
                dataType: "JSON",
                success: function (resultData) {
                       if (resultData.MessageType == "SUCCESS") {
                           toastr.success(resultData.Message);
                           SaveClicked = false;
                           AgencyServiceList = [];
                             window.location.reload();
                           clearall();
                    }
                    else if (resultData.MessageType == "ERROR") {
                           toastr.error(resultData.Message);
                           SaveClicked = false;
                    }
                       else {
                           toastr.error("Failed to save agency template details");
                           
                           SaveClicked = false;
                    }

                },
                   error: function (xhr, error, code) {
                    SaveClicked = false;
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                       }
                    else {
                        toastr.error("Failed to save service template details");
                           SaveClicked = false;
                         
                    }
                }
            });
        }

      
        function CopyTemplate() {
            $('#TempNameList').val('');
            $('#templateModal').modal('show');
        }

        function AddTemplateName() {
            var id= $('#TempNameList').val();
            if (id > 0) {
                var idexists = false;
                for (var i = 0; i < AgencyServiceList.length; i++) {
                    if (id == AgencyServiceList[i].ServiceId && AgencyServiceList[i].ParentId == 0) {
                        idexists = true;
                    }
                }
                if (idexists) {
                    toastr.error("Template already added");
                }
                else {
                      $.ajax({
                type: 'GET',
                url: "/Template/LoadTemplateService/" + id,
                dataType: "JSON",
                success: function (resultData) {
                    if (resultData.length > 0) {
                        for (var i = 0; i < resultData.length; i++) {
                            //resultData[i].Type = 'A';
                            AgencyServiceList.push(resultData[i]);
                        }
                        PopulateServiceTable();
                        toastr.success("Template added");
                           $('#templateModal').modal('hide');
                    }

                },
                error: function (xhr, error, code) {
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                    }
                }
            });
                }
            }
            else {
                toastr.error("Please select a Template");
            }
        }

        function UpdateAgencyServiceTemplates() {
           
            TemplateSelected = false;
            EditClicked = true;
            $('#Editbutton').hide();
            $('#Savebutton').show();
            $('#AddService').show();
            PopulateServiceTable();
        }

        function SaveUpdatedTemplate() {
            if (SaveClicked == true) {
                return;
            }

            else {
                SaveClicked = true;
            }
         
             var currencyval = false;
            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (AgencyServiceList[i].CurrencyId == "" || AgencyServiceList[i].CurrencyId == null || AgencyServiceList[i].CurrencyId == undefined) {
                    currencyval = true;
                }

            }
            if (currencyval) {
                alert("Currency is required for all services");
                SaveClicked = false;
                return;
            }
         
            for (var i = 0; i < AgencyServiceList.length; i++) {
                if (!AgencyServiceList[i].CurrencyId > 0) {
                    AgencyServiceList[i].CurrencyId == defCurrency;
                    }

            }
             var TemplateId = $('#TempName').val();
       
            var ServiceTemplateObj = {
                TemplateId: TemplateId,
                TemplateDetail : AgencyServiceList
            };
            var url = "/Template/UpdateServiceTemplate";
        
               $.ajax({
                type: 'POST',
                      url: "/Template/UpdateServiceTemplate",
                data:ServiceTemplateObj,
                dataType: "JSON",
                success: function (resultData) {
                       if (resultData.MessageType == "SUCCESS") {
                           toastr.success(resultData.Message);
                           SaveClicked = false;
                           AgencyServiceList = [];
                             window.location.reload();
                           clearall();
                    }
                    else if (resultData.MessageType == "ERROR") {
                           toastr.error(resultData.Message);
                           SaveClicked = false;
                    }
                       else {
                           toastr.error("Failed to update service template details");
                           SaveClicked = false;
                    }

                },
                   error: function (xhr, error, code) {
                    SaveClicked = false;
                    if (xhr.responseText.includes('Portkart-login')) {
                        window.location.reload();
                       }
                    else {
                        toastr.error("Failed to save service template details");
                           SaveClicked = false;
                    }
                }
            });
        }

    </script>
}

