﻿@model PortKart_WEB.Models.OwnerTemplateModel
@{ ViewBag.Title = "UpdateOwnerTemplate";
    Layout = "~/Views/Shared/_OwnerSearch.cshtml";

    string[] SCID = new string[] { }; ;


    if (Model.PortId != null)
    {
        SCID = Model.PortId;
    }

    
}



<div class="row">
    <div class="col-lg-12">
        <h2 class="content-title  pull-left">Update Owner Template</h2>
        <nav class="pull-right " aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Template")">OwnerTemplate</a></li>
                <li class="breadcrumb-item active" aria-current="page">Update OwnerTemplate</li>
            </ol>
        </nav>
    </div>



    <div class="col-md-12">
        <div class="card shadow  bg-white rounded">
            <div class="card-body">



                <hr></hr>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-row col-md-12">
                        @Html.HiddenFor(model => model.OwnerTemplateId)
                        @*@Html.HiddenFor(model => model.OwnerId)
                            @Html.HiddenFor(model => model.TemplateId)*@

                        <div class="form-group col-md-6" >
                            @Html.LabelFor(model => model.UserId, new { @class = "field-label" })
                            @Html.EditorFor(model => model.Owner, new { htmlAttributes = new { @class = "form-control not-allowed", autocomplete = "off", @readonly = true } })

                        </div>

                        <div class="form-group col-md-6" >
                            @Html.LabelFor(model => model.TemplateId, new { @class = "field-label" })
                            @Html.EditorFor(model => model.TemplateName, new { htmlAttributes = new { @class = "form-control not-allowed", autocomplete = "off", @readonly = true } })

                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.PortId, new { @class = "field-label" })
                            <select id="PortNameDummy" class="custom-select form-control"></select>
                            <select id="PortId" name="PortId" class="custom-select form-control" hidden multiple>
                                <option></option>
                                @foreach (Domain.VesselPort p in Model.PortList)
                                {
                                    <option value="@p.PortId" selected>@p.Port</option>
                                }

                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.StartDate, new { @class = "inputdob" })
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", @readonly = true, @id = "StartDate", placeholder = "Start Date" } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.EndDate, new { @class = "inputdob" })
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", @readonly = true, @id = "EndDate", placeholder = "End Date" } })

                        </div>

                        <div class="col-md-12 display-flex form-group">
                            @Html.LabelFor(model => model.IsActive, new { @class = "field-label" })
                            @Html.HiddenFor(model => model.IsActive)
                            <label class="switch">
                                <input class="switch-input" type="checkbox" id="chkIsActive">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-inner-sq-prim pull-right" onclick="window.location.href='/Template/Index'"> Back</button>
                    <button type="submit" class="btn btn-inner-square pull-right"> Update</button>

                }



            </div>
        </div>



    </div>
</div>



@section Footer{
    <section class="footer-bg">
        <footer class="section footer-classic ">
            <div class="container">
                <div class="row row-30">
                    <div class="col-md-4 col-xl-5">
                        <div class="footer-cnt pr-xl-4">
                            <h4 class="footer-port">Portkart</h4>
                            <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
                            <!-- Rights-->

                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <ul class="nav-list mt-5">
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> About</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Projects</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Blog</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Contacts</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Pricing</a></li>
                        </ul>
                    </div>



                    <div class="col-md-4">
                        <dl class="contact-list mt-5">
                            <dt>
                                24/7 Support: 0800 12345 678</br>
                                Say Hello To Us
                            </dt>

                        </dl>
                        <dl class="contact-list">
                            <dt>167 Airline Suite, </br> 456GA3, UK</dt>
                        </dl>
                        <dl class="contact-list">
                            <dt class="email">sample@portkart.com</dt>

                        </dl>
                    </div>

                </div>
            </div>

        </footer>
    </section>

    <section class="footer-bg-copy">
        <div class="container">
            <div class="row">
                <p class="footer-cnt pl-3 pt-3">Copyrights © @DateTime.Now.Year. All Rights Reserved by portkart.com</p>
            </div>
        </div>
    </section>
}


@section Scripts{
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
                type="text/javascript"></script>*@
    <link href="~/dist/css/Select2.css" rel="stylesheet" />
    <script src="~/dist/js/Select2.js"></script>

    <link href="~/dist/css/jquery.multiselect.css" rel="stylesheet" />
    <script src="~/dist/js/jquery.multiselect.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {

            @*var PortId =@Html.Raw(Json.Encode(SCID));*@
            //$('#PortId').val(PortId);


            //$('#PortId').multiselect({
            //    columns: 1,
            //    search: true,
            //    selectAll: true,
            //    texts: {
            //        placeholder: 'Select Port',
            //        selectAll: 'Select All',
            //        unselectAll: 'Unselect All'
            //    },
            //});
           
            $('#PortId').select2({
                ajax: {
                    url: '/Template/GetVesselPortList',
                    data: function (params) {
                        var query = {
                            search: params.term
                        }

                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    processResults: function (data) {
                        // Transforms the top-level key of the response object from 'items' to 'results'
                        if (data.includes('Portkart-login')) {
                            window.location.reload();
                        }
                        return {
                            results: data
                        };
                    },
                    error: function (xhr, error, code) {
                        if (xhr.responseText.includes('Portkart-login')) {
                            window.location.reload();
                        }
                    }
                },
                placeholder: "Select a Port",
                language: {
                    inputTooShort: function (args) {

                        return "Enter 2 or more characters";
                    },
                    noResults: function () {
                        return "Not Found.";
                    },
                    searching: function () {
                        return "Searching...";
                    }
                },
                //allowClear: true,
            });
            $('#PortNameDummy').hide();
            $('#PortId').show();
            

            //  var $j = jQuery.noConflict();
            $("#StartDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd-M-yy",
                yearRange: "-100:+100",
                minDate: new Date(),
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() + 1);
                    $("#EndDate").datepicker("option", "minDate", dt);
                }
            });



            $("#EndDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd-M-yy",
                yearRange: "-100:+100",
                minDate: new Date(),
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() - 1);
                    $("#StartDate").datepicker("option", "maxDate", dt);
                }
            });
        });</script>
}