﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h2>Dashboard</h2>
<div class="row pr-4 pl-5 dashboard">
    @*<div class="col-lg-4 col-md-6 col-sm-6 tile-column">
        <div class="dashboard-item position-relative">
            <h2>Test Content</h2>
            <h3 id="tilePlantsReadyForSaleToday"></h3>
            <a href="#"><div class="arrow-box"></div></a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 tile-column">
        <div class="dashboard-item position-relative">
            <h2>Test Content</h2>
            <h3 id="tilePlantsToMoveToCloseRoomToday"></h3>
            <a href="#"><div class="arrow-box"></div></a>
        </div>
    </div>*@        
</div>
