﻿@model Domain.ChangePassword
@{
    ViewBag.Title = "UpdatePassword";
}
<div class="d-flex heading-row">
    <h2 class="activity-span">Change Password</h2>
</div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6 position-relative select">
                @Html.LabelFor(model => model.UserId, new { @class = "field-label" })
                @Html.DropDownListFor(model => model.UserId, (SelectList)ViewBag.User, "Select User", new { @class = "common-input width-100 select-element ", @id = "UserId" })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "field-label" })
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "common-input width-100" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-6 d-flex justify-content">
                <a class="btn green-gradient input-back-add-btn" href="@Url.Action("index", "Dashboard")">
                    <img src="~/dist/img/left.svg" class="back-img" /> Back
                </a>
            </div>
            <div class="col-sm-6 d-flex justify-content-end">
                <button type="submit" class="btn green-gradient save-btn">
                    <img src="~/dist/img/save.svg" class="save-img" /> Update
                </button>
            </div>
        </div>
    }



