﻿
    @model PortKart_WEB.Models.CurrencyModel
    @{ ViewBag.Title = "AddCurrency";
                    Layout = "~/Views/Shared/_Layout2.cshtml"; }


   
        <div class="row">
            <div class="col-lg-12">
                <h2 class="content-title  pull-left">Add Currency</h2>
                <nav class="pull-right " aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Currency")">Currency</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Currency</li>
                    </ol>
                </nav>
            </div>

            <div class="col-md-12">
                <div class="card shadow  bg-white rounded">
                    <div class="card-body">

                        <hr></hr>
                        @using (Html.BeginForm())
                        {
           
                <div class="form-row col-md-12">

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Code, new { @class = "field-label" })
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", placeholder = "Currency Code" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Currency, new { @class = "field-label" })
                        @Html.EditorFor(model => model.Currency, new { htmlAttributes = new { @class = "form-control", placeholder = "Currency" } })
                        @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                    </div>


                </div>
                <button type="button" class="btn btn-inner-prim w-btn pull-right" onclick="window.location.href='/Currency/Index'"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                <button type="submit" class="btn btn-inner-sec w-btn pull-right"><i class="fa fa-floppy-o" img src="~/dist/theme/img/save.svg" aria-hidden="true"></i> Save</button>
            }

                    </div>
                </div>

            </div>
        </div>
 




@*@section Scripts{

        <script src="~/dist/js/moment.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function ()
            {
                $('.Currency').bind('keyup blur', function ()
                {
                    var node = $(this);
                    node.val(node.val().replace(/[^a-z]/g, ''));
                });
                    });

        </script>
    }*@

