﻿@{
    ViewBag.Title = "Currency";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="row">
    

    <div class="col-lg-12">
        <div class=" bg-white rounded">
            <h2 class="content-title  pull-left">Currency</h2>
            <a class="btn btn-inner-sec w-btn pull-right" href="@Url.Action("AddCurrency", "Currency")"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
           
        </div>
    </div>

    <div class="col-md-12">
        <div class="card shadow  bg-white rounded">
            <div class="card-body">
                <div class="table-responsive" style="overflow:hidden">
                    <table id="myTable" class="table table-hover tableScroll">
                        <thead class="table-hed-bg">
                            <tr>
                                <th class="sorting_asc" scope="col">Currency Code</th>
                                <th scope="col">Currency</th>

                                <th scope="col">Status</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>







<link href="~/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/dist/js/moment.min.js"></script>
    <script src="~/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/dist/js/dataTables.fixedHeader.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                 "autoWidth": false,
                language: { search: '', searchPlaceholder: "Search" },
                "ajax": {
                    "url": "/Currency/GetCurrencyList",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },




                "columns": [
                    { "data": "Code", "autoWidth": true },
                    { "data": "Currency", "autoWidth": true },
 {
                        "data": "IsActive", "autoWidth": true, "render": function (data, type, row, meta) {
                            if (data == true) { return "Active"; }
                            else {
                                return "Inactive";
                            }



                        }
                    },



                    {
                        "data": "CurrencyId", "width": "50px", "render": function (data, type, row, meta) {
                            var actionControls = '<a href = "/Currency/UpdateCurrency/' + data + '"  class="btn btn-view btn-xs" > <i class="fa fa-pencil"></i></a>';
                             if (row["IsActive"]) {
                                 actionControls += '<a href = "/Currency/DeleteCurrency/' + data + '" class="scale-trans tbl-dlt-ico" onclick="return ConfirmDeactivation();"><i class="fa fa-trash"></i></a>';
                            }
                            return actionControls;
                        }
                    }
                ],
                'columnDefs': [{
                    'targets': [3],
                    'orderable': false,
                }]
            });
            $('.tableScroll').parent('div').parent('div').addClass("customList_wrapper");
            $('#myTable thead tr').clone(true).appendTo('#myTable thead');
            $('#myTable thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).removeClass();
                if (title != "Action") {
                    $(this).html('<input class="th-search-input form-control-sec" type="text" />');
                     }
                else {
                    $(this).text("Operation");
                    $(this).addClass("ghostPlaceHolder");
                }
                $(this).addClass("th-search")
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#myTable').DataTable({
                retrieve: true,
                orderCellsTop: true,
                fixedHeader: true
            })
            $(".th-search-input").click(function (e) {
                e.stopPropagation();
            });
        });
       function ConfirmDeactivation() {
           return confirm("Are you sure you want to deactivate this Currency ?");
        }
    </script>
}


