﻿
@model PortKart_WEB.Models.CurrencyModel
@{ ViewBag.Title = "UpdateCurrency";
    Layout = "~/Views/Shared/_Layout2.cshtml"; 
 }
<div class="row">
    <div class="col-lg-12">
        <h2 class="content-title  pull-left">Update Currency</h2>
        <nav class="pull-right " aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Currency")">Currency</a></li>
                <li class="breadcrumb-item active" aria-current="page">Update Currency</li>
            </ol>
        </nav>
    </div>

    <div class="col-md-12">
        <div class="card shadow  bg-white rounded">
            <div class="card-body">

                <hr></hr>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-row col-md-12">
                        @Html.HiddenFor(model => model.CurrencyId)
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Code, new { @class = "field-label" })
                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", placeholder = "Currency Code" } })
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Currency, new { @class = "field-label" })
                            @Html.EditorFor(model => model.Currency, new { htmlAttributes = new { @class = "form-control", placeholder = "Currency" } })
                            @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12 display-flex form-group">
                            @Html.LabelFor(model => model.IsActive, new { @class = "field-label" })
                            @Html.HiddenFor(model => model.IsActive)
                            <label class="switch">
                                <input class="switch-input" type="checkbox" id="chkIsActive">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-inner-prim w-btn pull-right" onclick="window.location.href='/Currency/Index'"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>

                    <button type="submit" class="btn btn-inner-sec w-btn pull-right"><i class="fa fa-floppy-o" img src="~/dist/theme/img/save.svg" aria-hidden="true"></i> Update</button>}

            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/dist/js/moment.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //called when key is pressed in textbox
            $("#CurrencyCode").keypress(function (e) {
                //if the letter is not digit then display error and don't type anything
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    //display error message
                    //  alert("Enter only 3 Digit code");
                    //$("#errmsg").html("Digits Only").show().fadeOut("slow");
                    return false;
                }
            });
        });

    </script>
}


